
  <% if @usergroup.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @usergroup.errors.count%></h2>

      <ul>
      <% @usergroup.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@usergroup) do |f| %>
<table>
  <tr><th><%= f.label "Название" %></th><td><%= f.text_field :name %></td>
      <th><%= f.label :is_close, "Удалено" %></th><td><%= f.check_box :is_close %></td>
  </tr>
  <tr><th> <%= f.label "Начало действия" %></th><td><%= f.text_field :start_time %></td>
      <th><%= f.label "Окончание действия" %></th><td><%= f.text_field :end_time %></td></tr>
  
</table>
<table>
   <tr>   <th><%= f.submit "Сохранить" %> <%= link_to 'Вернуться к группам', usergroups_path %></th></tr>
</table>

<% end %>



<script>
      $('#usergroup_start_time').datetimepicker({ format:'d/m/Y'});
      $('#usergroup_end_time').datetimepicker({ format:'d/m/Y'});
</script>