<div id="select_role<%=group_role.id%>">

<%
@roles = Role.visible
@current_roles = group_role.roles
@addroles = @roles - @current_roles
%>


<% if @current_roles.any? %>
  <b> Удалить роль: </b>
<% for role in @current_roles do %>
   <span style="margin-right: 5px; display: inline-block;">
    [<%=  role.name %>
    <%= link_to 'x', url_for(action: "del_role_from_group", id: group_role , role: role ) , remote: true , style: "color: red; font-weight: bold;", data: { confirm: 'Точно?' } %>]
   </span>
<% end %>
<br/>
<% end %>



<%= form_tag  url_for( action: 'select_role' , id: group_role) , remote: true do %>

<b>Добавить роль: </b>

<%= collection_select(:role, :id, @addroles, :id, :name) %>

<%= submit_tag "Ok" %>
<% end if @addroles.any? %>
</div>