<p>


<p>
  <b>Название:</b>
  <%= @usergroup.name %>
</p>

<p>
  <b>Начало действия:</b>
  <%= @usergroup.start_time %>
</p>

<p>
  <b>Окончание действия:</b>
  <%= @usergroup.end_time %>
</p>


<%= link_to 'Редактировать', edit_usergroup_path(@usergroup) %> |
<%= link_to 'Вернуться', usergroups_path %>
