.page-header


  %h2 Просмотр гражданства

%dl.dl-horizontal
  %dt Гражданство:
  %dd= @citizenship.name
  %dt Удалено:
  %dd= @citizenship.is_close

= link_to edit_citizenship_path(@citizenship), :class => 'btn btn-primary' do
  %span.glyphicon.glyphicon-pencil
    Редактировать
= link_to citizenships_path, :class => 'btn btn-default' do
  %span.glyphicon.glyphicon-list-alt
    Вернуться