%ul#nav.nav.navbar-nav
  - if current_user.all_f_groups

    - for functionalgroup in current_user.all_f_groups
      - unless functionalgroup.leaf?
        %li.dropdown
          = link_to functionalgroup.link, class: "dropdown-toggle", data: {toggle: "dropdown"} do
            %span.glyphicon.glyphicon-chevron-down
            = "#{functionalgroup.name} #{functionalgroup.logo.blank? ? '' : (image_tag root_url + functionalgroup.logo)}".html_safe
       
          = render 'main/submenu', :item => functionalgroup
      
      - else 
        %li=  link_to "#{functionalgroup.name} #{functionalgroup.logo.blank? ? '' : (image_tag root_url + functionalgroup.logo)}".html_safe, functionalgroup.link


