%ul.dropdown-menu
  - item.children.visible.each do |functionalgroup|
    %li{:class => "#{'dropdown dropdown-submenu' unless functionalgroup.leaf?}"} 
      = link_to  functionalgroup.name, functionalgroup.link
      = render 'main/submenu', :item => functionalgroup unless functionalgroup.leaf? 
    %li.divider

