.page-header

  %h2 Значения параметров анализа контрагентов

.table-responsive
  %table.table.table-striped.table-bordered.table-hover#contractor_analysis_parameter_changes
    %thead
      %tr
        %th Наименование параметра
        %th Значение параметра
        %th Дата начала действия
        %th Дата окончания действия
        %th Удалено
        %th
        %th

    %tbody
      - @contractor_analysis_parameter_changes.each do |contractor_analysis_parameter_change|
        %tr
          %td= contractor_analysis_parameter_change.contractor_analysis_parameter.name
          %td= contractor_analysis_parameter_change.parameter_value
          %td= contractor_analysis_parameter_change.start_date
          %td= contractor_analysis_parameter_change.end_date
          %td= contractor_analysis_parameter_change.is_close
          %td.edit= link_to image_tag("edit.png"), edit_contractor_analysis_parameter_change_path(contractor_analysis_parameter_change)
          %td.del= link_to image_tag("remove.png"), contractor_analysis_parameter_change, :data => { confirm: 'Точно?' }, :method => :delete

  = link_to new_contractor_analysis_parameter_change_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
      Новое значение параметра анализа контрагентов

