.page-header


  %h2 Просмотр contractor_analysis_parameter_change

%dl.dl-horizontal
  %dt Contractor analysis parameter:
  %dd= @contractor_analysis_parameter_change.contractor_analysis_parameter_id
  %dt Parameter value:
  %dd= @contractor_analysis_parameter_change.parameter_value
  %dt Start date:
  %dd= @contractor_analysis_parameter_change.start_date
  %dt End date:
  %dd= @contractor_analysis_parameter_change.end_date
  %dt Is close:
  %dd= @contractor_analysis_parameter_change.is_close

= link_to edit_contractor_analysis_parameter_change_path(@contractor_analysis_parameter_change), :class => 'btn btn-primary' do
  %span.glyphicon.glyphicon-pencil
    Редактировать
= link_to contractor_analysis_parameter_changes_path, :class => 'btn btn-default' do
  %span.glyphicon.glyphicon-list-alt
    Вернуться