= form_for @resource_characteristic_value, :html => { :class => "form-horizontal" } do |f|
  -if @resource_characteristic_value.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@resource_characteristic_value.errors.count, "error")} "

      %ul
        - @resource_characteristic_value.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :resource_characteristic_id, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :resource_characteristic_id, :class => 'form-control'
  .form-group
    = f.label :truck_id, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :truck_id, :class => 'form-control'
  .form-group
    = f.label :trailer_id, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :trailer_id, :class => 'form-control'
  .form-group
    = f.label :driver_id, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :driver_id, :class => 'form-control'
  .form-group
    = f.label :name, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, :class => 'form-control'
  .form-group
    = f.label :start_date, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.datetime_select :start_date, :class => 'form-control'
  .form-group
    = f.label :end_date, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.datetime_select :end_date, :class => 'form-control'
  .form-group
    = f.label :is_close, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.check_box :is_close, :class => 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Сохранить', :class => 'btn btn-primary'
      = link_to resource_characteristic_values_path, :class => 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt
          Вернуться