.page-header

  %h2 resource_characteristic_values

.table-responsive
  %table.table.table-striped.table-bordered.table-hover#resource_characteristic_values
    %thead
      %tr
        %th Resource characteristic
        %th Truck
        %th Trailer
        %th Driver
        %th Name
        %th Start date
        %th End date
        %th Is close
        %th
        %th
        %th

    %tbody
      - @resource_characteristic_values.each do |resource_characteristic_value|
        %tr
          %td= resource_characteristic_value.resource_characteristic_id
          %td= resource_characteristic_value.truck_id
          %td= resource_characteristic_value.trailer_id
          %td= resource_characteristic_value.driver_id
          %td= resource_characteristic_value.name
          %td= resource_characteristic_value.start_date
          %td= resource_characteristic_value.end_date
          %td= resource_characteristic_value.is_close
          %td.show1= link_to image_tag("show.png"), resource_characteristic_value
          %td.edit= link_to image_tag("edit.png"), edit_resource_characteristic_value_path(resource_characteristic_value)
          %td.del= link_to image_tag("remove.png"), resource_characteristic_value, :data => { confirm: 'Точно?' }, :method => :delete

  = link_to new_resource_characteristic_value_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
      Новый Resource characteristic value
