.page-header


  %h2 Просмотр resource_characteristic_value

%dl.dl-horizontal
  %dt Resource characteristic:
  %dd= @resource_characteristic_value.resource_characteristic_id
  %dt Truck:
  %dd= @resource_characteristic_value.truck_id
  %dt Trailer:
  %dd= @resource_characteristic_value.trailer_id
  %dt Driver:
  %dd= @resource_characteristic_value.driver_id
  %dt Name:
  %dd= @resource_characteristic_value.name
  %dt Start date:
  %dd= @resource_characteristic_value.start_date
  %dt End date:
  %dd= @resource_characteristic_value.end_date
  %dt Is close:
  %dd= @resource_characteristic_value.is_close

= link_to edit_resource_characteristic_value_path(@resource_characteristic_value), :class => 'btn btn-primary' do
  %span.glyphicon.glyphicon-pencil
    Редактировать
= link_to resource_characteristic_values_path, :class => 'btn btn-default' do
  %span.glyphicon.glyphicon-list-alt
    Вернуться