= form_for @contractor_responsible, remote: true do |f|
  -if @contractor_responsible.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@contractor_responsible.errors.count, "error")} "

      %ul
        - @contractor_responsible.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :contractor_id
  .well.well-sm
    .form-group.input-group
      %span.input-group-addon
        %i Контрагент
      = text_field_tag :contractor, @contractor.shortname_inn_kpp, disabled: 'disabled', class: "form-control" 

    .form-group.input-group
      %span.input-group-addon
        %i Сотрудник
      = f.collection_select( :employee_id, Employee.sailer.sort_by(&:person_info), :id, :person_position, |
          { prompt: @contractor_responsible.employee_id ? nil : "Выберите сотрудника", |
          selected: @contractor_responsible.employee_id ? @contractor_responsible.employee_id : nil} , class: "form-control" )

    .form-group.input-group
      %span.input-group-addon
        %i Замещает ответственного
      = f.collection_select( :parent_id, @contractor.chained_contractor_responsibles.sort_by(&:person_info), :id, :person_info, |
          { prompt: @contractor_responsible.parent_id ? nil : "Выберите ответственного", |
          selected: @contractor_responsible.parent_id ? @contractor_responsible.parent_id : nil} , class: "form-control" )

    .form-group.input-group
      %span.input-group-addon
        %i Дата начала действия
      = f.text_field :start_date, class: "form-control"
      %span.input-group-addon
        %i Дата окончания действия
      = f.text_field :end_date, class: "form-control"

    = f.submit 'Сохранить', class: 'btn btn-primary disabled'


:coffeescript
  $('#contractor_responsible_start_date').datetimepicker format:'d.m.Y'
  $('#contractor_responsible_end_date').datetimepicker format:'d.m.Y'

  $("#popup_content").click ->
    $(".disabled").removeClass "disabled"

