%table#contractor_responsibles
  %thead
    %tr
      %th Контрагент
      %th Ответственный
      %th Замещает ответственного
      %th Дата начала действия
      %th Дата окончания действия
  %tbody
    - @contractors.each do |contractor|
      -  if contractor.active_chained_contractor_responsibles.blank?
        %tr{:class => "#{contractor.id} #{'select_green' if @contractor and @contractor.id == contractor.id}", :title => "Нет ответственного" }
          %td= link_to contractor.shortname_inn_kpp, show_responsibles_contractor_responsible_path(contractor), remote: true, class: "btn btn-danger btn-xs", style: "width: 100%"
          %td
          %td
          %td
          %td
      - else    
        - contractor.active_chained_contractor_responsibles.each do |contractor_responsible|
          %tr{:class => "#{contractor.id} #{'select_green' if @contractor and @contractor.id == contractor.id}"}
            %td= link_to contractor.shortname_inn_kpp, show_responsibles_contractor_responsible_path(contractor), remote: true, class: "btn btn-default btn-xs", style: "width: 100%"
            %td= contractor_responsible.employee.person_fullname if contractor_responsible.employee
            %td= contractor_responsible.parent_by_contractor.person_fullname if contractor_responsible.parent_by_contractor
            %td= contractor_responsible.start_date.to_date if contractor_responsible.start_date
            %td= contractor_responsible.end_date.to_date if contractor_responsible.end_date


