.row
  .col-md-8
    .panel.panel-default
      .panel-heading 
        %h2 Ответственные за контрагентов
      #list.panel-body= render "index"

  #responsibles_controls.col-md-4
    /.well.well-sm.btn-toolbar#responsibles_buttons
    /  =# render 'responsibles_buttons'

    #show_responsibles
      = render 'show_responsibles'

    .panel.panel-warning
      .panel-heading Контрагенты без назначенных ответственных
      #show_contractors_no_responsibles.panel-body.bg-info
        = render 'contractors_no_responsibles'

