var filter = $(".dataTables_filter input").val();
notice('#{flash[:notice]}');
$("#list").html("#{j render 'index' }");
$("#show_responsibles").html("#{j render 'show_responsibles' }");
$("#show_contractors_no_responsibles").html("#{j render 'contractors_no_responsibles' }");


$('#contractor_responsibles').dataTable({"order": [[0, "asc"]], "lengthMenu": [[20, 50, 100, -1], [20, 50, 100, "Все"]], |
"columnDefs": [{type: 'date-euro', targets: [3, 4]}], "fnInitComplete": function(oSettings, json) {$(".dataTables_filter input").val(filter); }});
$('#contractor_responsibles').DataTable().search(filter).draw();


$('#popup').hide();
$('#popup_content').html('');

