$("#show_responsibles").html("#{j render 'show_responsibles' }");

//$("#gps_nav_buttons").html("#{j render 'gps_transport_buttons' }");
$('#popup').hide();
$('#popup_content').html('');
$("#contractor_responsibles .select_green").removeClass('select_green')
$(".#{@contractor.id}").addClass('select_green')
