= form_for @truck_comment, :html => { :class => "form-horizontal" } do |f|
  -if @truck_comment.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@truck_comment.errors.count, "error")} "

      %ul
        - @truck_comment.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :truck_id, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :truck_id, :class => 'form-control'
  .form-group
    = f.label :comment, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :comment, :class => 'form-control'
  .form-group
    = f.label :user_id, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :user_id, :class => 'form-control'
  .form-group
    = f.label :is_close, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.check_box :is_close, :class => 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Сохранить', :class => 'btn btn-primary'
      = link_to truck_comments_path, :class => 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt
          Вернуться