.page-header

  %h2 truck_comments

.table-responsive
  %table.table.table-striped.table-bordered.table-hover#truck_comments
    %thead
      %tr
        %th Truck
        %th Comment
        %th User
        %th Is close
        %th
        %th
        %th

    %tbody
      - @truck_comments.each do |truck_comment|
        %tr
          %td= truck_comment.truck_id
          %td= truck_comment.comment
          %td= truck_comment.user_id
          %td= truck_comment.is_close
          %td.show1= link_to image_tag("show.png"), truck_comment
          %td.edit= link_to image_tag("edit.png"), edit_truck_comment_path(truck_comment)
          %td.del= link_to image_tag("remove.png"), truck_comment, :data => { confirm: 'Точно?' }, :method => :delete

  = link_to new_truck_comment_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
      Новый Truck comment
