.page-header


  %h2 Просмотр truck_comment

%dl.dl-horizontal
  %dt Truck:
  %dd= @truck_comment.truck_id
  %dt Comment:
  %dd= @truck_comment.comment
  %dt User:
  %dd= @truck_comment.user_id
  %dt Is close:
  %dd= @truck_comment.is_close

= link_to edit_truck_comment_path(@truck_comment), :class => 'btn btn-primary' do
  %span.glyphicon.glyphicon-pencil
    Редактировать
= link_to truck_comments_path, :class => 'btn btn-default' do
  %span.glyphicon.glyphicon-list-alt
    Вернуться