.form-group.input-group
  - if @entry_cancel
    = hidden_field_tag "entry_cancel[#{@entry_cancel['Id']}]"
    %span.input-group-addon
      %i= @entry_cancel["ResourceTypeName"]
    = text_field_tag :entry_cancel, @entry_cancel["Name"], class: "form-control" , disabled: "disabled"
    %span.input-group-addon
      %i.glyphicon.glyphicon-remove.red{:style => "cursor: pointer"} 
  - if @work_cancel
    = hidden_field_tag "work_cancel[#{@work_cancel['Id']}]"
    %span.input-group-addon
      %i= @work_cancel["ResourceTypeName"]
    = text_field_tag :work_cancel, @work_cancel["Name"], class: "form-control" , disabled: "disabled"
    %span.input-group-addon
      %i.glyphicon.glyphicon-remove.red{:style => "cursor: pointer"} 
