.form-group.input-group
  = hidden_field_tag "city[#{@city_key}]"
  %span.input-group-addon
    %i Город:
  = text_field_tag :city, @city_name, class: "form-control" , disabled: "disabled"
  %span.input-group-addon
    %i.glyphicon.glyphicon-remove.red{:style => "cursor: pointer"} 
