- unless @error.blank?
  .alert.alert-danger= @error

= form_tag url_for(action: :cancels), id: 'cancel_form', remote: true, class: "form-horizontal well" do 
  = hidden_field_tag :id, @id
  .form-group.input-group
    %span.input-group-addon
      %i Тип причины:
    = select_tag :cancel_type, options_for_select( [['Заявка',1], ['Выполнение',2]], {selected: @cancel_type } ), { class: "form-control" }

  .form-group.input-group
    %span.input-group-addon
      %i Тип ресурса:
    = select_tag :resource_type, options_for_select( @resource_types.map { |r| [r['Name'], r['Id']] }, {selected: @cancel ? @cancel['ResourceTypeId'] : nil} ), { class: "form-control" }

  .form-group.input-group
    %span.input-group-addon
      %i Причина отмены:
    = text_area_tag :name, @cancel ? @cancel['Name'] : nil, class: "form-control" 



  = submit_tag 'Сохранить', class: 'btn btn-primary', style: "display: inline"

