- unless @error.blank?
  .alert.alert-danger= @error

%table#deps_reasons
  %thead
    %tr
      %th Причина обращения
      %th Подразделение
      %th
      %th
  %tbody
    - @department_reasons.each do |reason|
      %tr
        %td= reason["JobRequestReasonName"]
        %td= reason["DepartmentName"]
        %td.edit
          = link_to proposal_set_deps_reason_path(id: reason["Id"]), remote: true do
            %span.glyphicon.glyphicon-edit
        %td.del
          = link_to proposal_set_deps_reason_path(id: reason["Id"]), method: :delete, data: { confirm: 'Уверены?' }, remote: true do
            %span.glyphicon.glyphicon-remove.red

:coffeescript        
  $("#deps_reasons").dataTable
    lengthMenu: [[30, 60, 100, -1], [30, 60, 100, "Все"]]
    bAutoWidth: false

