- unless @error.blank?
  .alert.alert-danger= @error

= form_tag url_for(action: :set_deps_reason), id: 'deps_reason_form', remote: true, class: "form-horizontal well" do 
  = hidden_field_tag :id, @id
  .form-group.input-group
    %span.input-group-addon
      %i Причина обращения:
    = select_tag :reason, options_for_select( @reasons.map { |r| [r['Name'], r['Id']] }, {selected: @department_reason ? @department_reason['JobRequestReasonId'] : nil} ), { class: "form-control" }


  .form-group.input-group
    %span.input-group-addon
      %i Подразделение:
    = select_tag :department, options_for_select( @departments.map { |d| [d['Name'], d['Id']] }, {selected: @department_reason ? @department_reason['DepartmentId'] : nil} ), { class: "form-control" }

  = submit_tag 'Выбрать', class: 'btn btn-primary', style: "display: inline"

