- unless @error.blank?
  .alert.alert-danger= @error
%table#entries
  %thead
    %tr
      %th №
      %th Дата создания заявки
      %th Создатель заявки
      %th Подразделение создателя заявки
      %th Статус заявки
      %th Тип ресурса
      %th Ресурс
      %th Причина обращения
      %th Дата начать работы не ранее
      %th Дата закончить работы не позднее
      %th Причина отмены
      %th Автор отмены
      %th Момент отмены
      %th Города
      %th 
      %th 
  %tbody
    - @job_requests.each do |request|
      %tr
        %td= request["Number"]
        %td= request["CreatedAt"].try(:to_datetime)
        %td= request["PersonFullName"]
        %td= request["DepartmentName"]
        %td= request["StatusName"]
        %td= request["ResourceTypeName"]
        %td= request["ResourceName"]
        %td= request["JobRequestReasonName"]
        %td= request["JobStartDate"].try(:to_datetime)
        %td= request["JobFinishDate"].try(:to_datetime)
        %td= request["CanelReasonName"]
        %td= request["CancelAuthorName"]
        %td= request["CanelReasonMoment"].try(:to_datetime)
        %td= request["Cities"].map { |c| c['CityName'] }.join(', ')

        %td.edit{:title => "Редактировать"}
          - if request['Permissions'][1] == '1'    
            = link_to proposal_set_entry_path(id: request["Id"]), remote: true do
              %span.glyphicon.glyphicon-edit
        %td.del{:title => "Отменить"}
          - if request['Permissions'][0] == '1' && can_delete_works_and_entries?
            = link_to proposal_show_entry_cancels_path(id: request["Id"]), remote: true do
              %span.glyphicon.glyphicon-remove.red
 
:coffeescript        
  $("#entries").dataTable
    lengthMenu: [[30, 60, 100, -1], [30, 60, 100, "Все"]]
    columnDefs: [type: 'date-euro', targets: [1, 8, 9, 12]]

