- unless @error.blank?
  .alert.alert-danger.alert-dismissable= @error

= form_tag url_for(action: :set_entry), id: 'entry_form', remote: true, class: "form-horizontal well" do 
  = hidden_field_tag :id, @id
  .form-group.input-group{:class => "#{'has-error' unless @id}"}
    %span.input-group-addon
      %i Тип ресурса:
    = select_tag :resource_type, options_for_select( @resource_types.map { |r| [r['Name'], r['Id']] },  |
      {selected: @job_request ? @job_request['ResourceTypeId'] : nil} ), { prompt: 'Выберите тип ресурса', class: "form-control" }

    %span.input-group-addon
      %i Ресурс:
    = select_tag :resource, options_for_select( @resources_by_type.map { |r| [r['Name'], r['Id'], |
      { class: r['ResourceTypeId'].downcase}] }, {selected: @job_request ? @job_request['ResourceId'] : nil} ), { prompt: 'Выберите ресурс', class: "form-control" }

  .form-group.input-group
    %span.input-group-addon
      %i Подразделение:
    = select_tag :department, options_for_select( @departments.map { |r| [r['Name'], r['Id']] }, | 
      {selected: @job_request ? @job_request['DepartmentId'] : nil} ), { class: "form-control" }

    %span.input-group-addon
      %i Причина обращения:
    = select_tag :dep_reason, options_for_select( @department_reasons.map { |r| [r['JobRequestReasonName'], r['JobRequestReasonId'], |
      {  class: [r['ResourceTypeId'], r['DepartmentId']].join("\\") }] }, {selected: @job_request ? @job_request['JobRequestReasonId'] : nil} ), { class: "form-control" }

  .form-group.input-group
    %span.input-group-addon
      %i Описание работ по заявке:
    = text_field_tag :descr, @job_request && @job_request['Description'] ? @job_request['Description'] : nil, class: "form-control"

  .form-group.input-group
    %span.input-group-addon
      %i Дата начала работ не ранее:
    = text_field_tag :start_date, @job_request ? @job_request['JobStartDate'].try(:to_date) : nil, class: "form-control"

    %span.input-group-addon
      %i Дата окончания работ не позднее:
    = text_field_tag :end_date, @job_request ? @job_request['JobFinishDate'].try(:to_date) : nil, class: "form-control"

  .form-group.input-group
    %span.input-group-addon
      %i Выберите город:
    = text_field_tag :select_city, nil, class: "form-control" 
  #cities.alert.alert-info
    - if @job_request
      - @job_request['Cities'].each do |c|
        - @city_name = c['CityName']
        - @city_key = c['CityKey']
        = render 'add_city_to_entry'
  = submit_tag 'Сохранить', class: 'btn btn-primary', style: "display: inline"


%script
  - unless @error
    var cities = [
    - @cities_with_regions.each do |c| 
      {value:"#{c.first}", label:"#{c.second}"},
    ]

:coffeescript
  $(".glyphicon-remove").click ->
    $(this).parents("div").eq(0).remove()
    return

  $('#start_date').datetimepicker format:'d.m.Y'
  $('#end_date').datetimepicker format:'d.m.Y'

  $("#dep_reason").chained "#resource_type, #department"
  $("#resource").chained "#resource_type"

  $("#select_city").autocomplete
    source: cities
    focus: (event, ui) ->
      event.preventDefault()
      $(this).val ui.item.label
      return

    select: (event, ui) ->
      event.preventDefault()
      $(this).val ui.item.label
      $.ajax
        url: "/proposal/add_city_to_entry"
        data:
          city_key: ui.item.value
          city_name: ui.item.label
        dataType: "script"
      return