- unless @error.blank?
  .alert.alert-danger= @error
= form_tag url_for(action: :set_reason), id: 'reason_form', remote: true, class: "form-horizontal well" do 
  = hidden_field_tag :id, @id
  .form-group.input-group
    %span.input-group-addon
      %i Тип ресурса:
    = select_tag :resource_type, options_for_select( @resource_types.map { |r| [r['Name'], r['Id']] }, {selected: @reason ? @reason['ResourceTypeId'] : nil} ), { class: "form-control" }

  .form-group.input-group
    %span.input-group-addon
      %i Причина обращения:
    = text_field_tag :reason, @reason ? @reason['Name'] : nil, class: "form-control" 

  .form-group.input-group
    %span.input-group-addon
      %i Инициирует недоступность ресурса:
    = check_box_tag :is_blocking, nil, @reason && @reason['IsResourceBlocking']

  .form-group.input-group
    %span.input-group-addon
      %i Тип недоступности:
    = select_tag :inaccess_type, options_for_select( @inaccess_types.map { |l| [l.second, l.first] }, {selected: @reason ? @reason['InaccessibilityTypeKey'] : nil}), { class: "form-control", disabled: 'disabled', prompt: "" }

  .form-group.input-group
    %span.input-group-addon
      %i Причина отмены заявки:
    = select_tag :entry_cancel_select, options_for_select(@entry_cancels.map { |l| [l['Name'], l['Id'], class: l['ResourceTypeId']] }, {selected: @reason ? @reason['JobRequestCancelReasons'] : nil}), { class: "form-control", prompt: "Выберите причину отмены заявки" }
  #cancels_entry_div.alert.alert-info
    - if @reason
      - @reason['JobRequestCancelReasons'].each do |c|
        - @entry_cancel = c
        = render 'add_cancel_to_reason'
  .form-group.input-group
    %span.input-group-addon
      %i Причина отмены выполнения:
    = select_tag :work_cancel_select, options_for_select(@work_cancels.map { |l| [l['Name'], l['Id'], class: l['ResourceTypeId']] }, {selected: @reason ? @reason['JobPerformCancelReasons'] : nil}), { class: "form-control", prompt: "Выберите причину отмены выполнения" }
  #cancels_work_div.alert.alert-info
    - if @reason
      - @entry_cancel = nil
      - @reason['JobPerformCancelReasons'].each do |w|
        - @work_cancel = w
        = render 'add_cancel_to_reason'

  = submit_tag 'Выбрать', class: 'btn btn-primary', style: "display: inline"

:coffeescript
  $("#entry_cancel_select").chained "#resource_type"
  $("#work_cancel_select").chained "#resource_type"

  $("#is_blocking").checkboxpicker()

  if $('#reason_form .active').text() == 'Да'
    $('#inaccess_type').attr 'disabled', false
  else
    $('#inaccess_type').attr 'disabled', true
    $('#inaccess_type').val ''

  $(".btn-group").click ->        
    if $('#reason_form .active').text() == 'Да'
      $('#inaccess_type').attr 'disabled', false
    else
      $('#inaccess_type').attr 'disabled', true
      $('#inaccess_type').val ''

  $(".glyphicon-remove").click ->
    $(this).parents("div").eq(0).remove()
    return

  $("#work_cancel_select").change ->
    $.get "/proposal/add_cancel_to_reason.js",
      work_cancel_select: $("#work_cancel_select").val()
    return

  $("#entry_cancel_select").change ->
    $.get "/proposal/add_cancel_to_reason.js",
      entry_cancel_select: $("#entry_cancel_select").val()
    return

