.panel.panel-primary
  .panel-heading Выберите причину отмены заявки № #{@job_request['Number']}
    
  .panel-body
    %ul
      - @job_request['CancelReasons'].each do |cancel|
        %li
          = link_to cancel['Name'], proposal_set_entry_path(id: @id, cancel_reason_id: cancel['Id']), method: :delete, data: { confirm: 'Уверены?' }, remote: true, class: 'btn btn-primary btn-xs' 
      