- unless @error.blank?
  .alert.alert-danger.alert-dismissable= @error

= form_tag url_for(action: :set_work), id: 'work_form', remote: true, class: "form-horizontal well" do 
  = hidden_field_tag :id, @id
  .row
    .col-md-6
      .form-group.input-group
        %span.input-group-addon
          %i Регион начала:
        = select_tag :region_from, options_for_select( @regions.map { |r| [r.second, r.first] }, {selected: @region_from} ), { class: "form-control" }
      #locations_from.form-group.input-group
        %span.input-group-addon
          %i Локация начала:
        = text_field_tag :location_from, nil, class: "form-control", disabled: 'disabled' 

    .col-md-6
      .form-group.input-group
        %span.input-group-addon
          %i Регион окончания:
        = select_tag :region_to, options_for_select( @regions.map { |r| [r.second, r.first] }, {selected: @region_to} ), { class: "form-control" }

      #locations_to.form-group.input-group
        %span.input-group-addon
          %i Локация окончания:
        = text_field_tag :location_to, nil, class: "form-control", disabled: 'disabled' 

  .row
    .col-md-12
      .form-group.input-group
        %span.input-group-addon
          %i Тип ресурса:
        = select_tag :resource_type, options_for_select( @resource_types.map { |r| [r['Name'], r['Id']] },  |
          {selected: @work ? @work['ResourceTypeId'] : nil} ), { prompt: 'Выберите тип ресурса', class: "form-control" }

        %span.input-group-addon
          %i Ресурс:
        = select_tag :resource, options_for_select( @resources_by_type.map { |r| [r['Name'], r['Id'], |
          { class: r['ResourceTypeId'].downcase}] }, {selected: @work ? @work['ResourceId'] : nil} ), { prompt: 'Выберите ресурс', class: "form-control" }

      .form-group.input-group
        %span.input-group-addon
          %i Подразделение:
        = select_tag :department, options_for_select( @departments.map { |r| [r['Name'], r['Id']] }, | 
          {selected: @work ? @work['DepartmentId'] : nil} ), { class: "form-control" }

        %span.input-group-addon
          %i Причина обращения:
        = select_tag :dep_reason, options_for_select( @department_reasons.map { |r| [r['JobRequestReasonName'], r['JobRequestReasonId'], |
          { class: [r['ResourceTypeId'], r['DepartmentId']].join("\\") }] }, {selected: @work ? @work['JobRequestReasonId'] : nil} ), { class: "form-control" }

      .form-group.input-group{:class => "#{'has-error' unless @id}"}
        %span.input-group-addon
          %i Плановая дата начала:
        = text_field_tag :pl_start_date, @work ? @work['PlannedDateStart'].try(:to_datetime) : nil, class: "form-control"

        %span.input-group-addon
          %i Плановая дата окончания:
        = text_field_tag :pl_end_date, @work ? @work['PlannedDateEnd'].try(:to_datetime) : nil, class: "form-control"

      .form-group.input-group
        %span.input-group-addon
          %i Фактическая дата начала:
        = text_field_tag :f_start_date, @work ? @work['FactDateStart'].try(:to_datetime) : nil, class: "form-control"

        %span.input-group-addon
          %i Фактическая дата окончания:
        = text_field_tag :f_end_date, @work ? @work['FactDateEnd'].try(:to_datetime) : nil, class: "form-control"


      #work_requests


      = submit_tag 'Сохранить', class: 'btn btn-primary', style: "display: inline"


:coffeescript
  $('#f_start_date').datetimepicker format: "d.m.Y H:i", mask:true
  $('#f_end_date').datetimepicker format: "d.m.Y H:i", mask:true
  $('#pl_start_date').datetimepicker format: "d.m.Y H:i", mask:true
  $('#pl_end_date').datetimepicker format: "d.m.Y H:i", mask:true



  $("#dep_reason").chained "#resource_type, #department"
  $("#resource").chained "#resource_type"


  $.ajax
    url: '/proposal/work_locations'
    data: 
      region_from: $('#region_from').val()
      work_id: "#{@id}"
    dataType: 'script'

  $.ajax
    url: '/proposal/work_locations'
    data: 
      region_to: $('#region_to').val()
      work_id: "#{@id}"
    dataType: 'script'

  $.ajax
    url: '/proposal/job_requests_filtred'
    data: 
      resource: $('#resource').val()
      reason: $('#dep_reason').val()
      department: $('#department').val()
      work_id: "#{@id}"
    dataType: 'script'

  $('#region_from').change ->
    $.ajax
      url: '/proposal/work_locations'
      data: 
        region_from: $('#region_from').val()
        work_id: "#{@id}"
      dataType: 'script'
    $('#region_to').val($('#region_from').val())  
    $.ajax
      url: '/proposal/work_locations'
      data: 
        region_to: $('#region_from').val()
        work_id: "#{@id}"
      dataType: 'script'

  $('#region_to').change ->
    $.ajax
      url: '/proposal/work_locations'
      data: 
        region_to: $('#region_to').val()
        work_id: "#{@id}"
      dataType: 'script'

  $('#resource, #dep_reason, #department').change ->
    $.ajax
      url: '/proposal/job_requests_filtred'
      data: 
        resource: $('#resource').val()
        reason: $('#dep_reason').val()
        department: $('#department').val()
        work_id: "#{@id}"
      dataType: 'script'
    return


