.page-header
  %h2 Заявки на выполнение работ

.col-md-10.col-md-offset-1
  .well.well-sm
    = link_to proposal_set_entry_path, class: 'btn btn-primary btn-sm', remote: true do
      %span.glyphicon.glyphicon-plus
      Заявка на выполнение работ
  - unless @error.blank?
    .alert.alert-danger= @error

  #show_entries
    = render 'entries' unless @job_requests.blank?
