.page-header
  %h2 Причины и доступ к причинам обращений

.col-md-8.col-md-offset-2
  .well.well-sm
    = link_to proposal_set_reason_path, class: 'btn btn-primary btn-sm', remote: true do
      %span.glyphicon.glyphicon-plus
      Причина обращения
    = link_to proposal_set_deps_reason_path, class: 'btn btn-primary btn-sm', remote: true do
      %span.glyphicon.glyphicon-plus
      Доступ к причинам обращений
    = link_to proposal_cancels_path, class: 'btn btn-primary btn-sm', remote: true do
      %span.glyphicon.glyphicon-plus
      Причина отмены

  .panel.panel-default
    .panel-heading
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#show_reasons"} Причина обращения
        %li
          %a{"data-toggle" => "tab", :href => "#show_deps_reasons"} Доступ к причинам обращений
        %li
          %a{"data-toggle" => "tab", :href => "#show_cancels"} Причины отмен

    .panel-body
      .tab-content
        #show_reasons.tab-pane.active= render 'reasons'    
        #show_deps_reasons.tab-pane= render 'deps_reasons'  
        #show_cancels.tab-pane= render 'cancels'  

  
    

