$('#show_reasons').html('#{j render 'reasons'}');
$('#show_deps_reasons').html('#{j render 'deps_reasons'}');
$('#show_cancels').html('#{j render 'cancels'}');
$('#popup').hide()

$('.tab-pane').removeClass('active');
$('.nav-tabs li').removeClass('active');
- if @from_set_reason
    $('#show_reasons').addClass('active');
    $('.nav-tabs li').eq(0).addClass('active');
- elsif @from_cancels
    $('#show_cancels').addClass('active');
    $('.nav-tabs li').eq(2).addClass('active');
- else
    $('#show_deps_reasons').addClass('active');
    $('.nav-tabs li').eq(1).addClass('active');