$("#popup_content").html("#{j render @render}");
$("#popup_head span").html("#{@title}");
$("#popup").css("top", "300px");
$("#popup").show();

notice('#{flash[:notice]}');
- unless @error
  $(".alert-danger").hide();