.page-header

  %h2 Доступ к действиям с шаблонами задач

.table-responsive
  %table.table.table-striped.table-bordered.table-hover#task_action_accesses
    %thead
      %tr
        %th Действие по задаче
        %th Шаблон задачи
        %th Сотрудник
        %th Штатная единица
        %th Момент начала доступа
        %th Момент окончания доступа
        %th Удален
        %th
        %th
        %th

    %tbody
      - @task_action_accesses.each do |task_action_access|
        %tr
          %td= task_action_access.task_action.name
          %td= task_action_access.task_template.name
          %td= task_action_access.employee.person_info
          %td= task_action_access.staff_unit.cdp
          %td= task_action_access.start_date
          %td= task_action_access.end_date
          %td= task_action_access.is_close
          %td.show1= link_to image_tag("show.png"), task_action_access
          %td.edit= link_to image_tag("edit.png"), edit_task_action_access_path(task_action_access)
          %td.del= link_to image_tag("remove.png"), task_action_access, :data => { confirm: 'Точно?' }, :method => :delete

  = link_to new_task_action_access_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
      Добавление доступа к действиям с шаблонами задач
