.page-header


  %h2 Просмотр task_action_access

%dl.dl-horizontal
  %dt Действие по задаче:
  %dd= @task_action_access.task_action.name
  %dt Шаблон задачи:
  %dd= @task_action_access.task_template.name
  %dt Сотрудник:
  %dd= @task_action_access.employee.person_info
  %dt Штатная единица:
  %dd= @task_action_access.staff_unit.cdp
  %dt Момент начала доступа:
  %dd= @task_action_access.start_date
  %dt Момент окончания доступа:
  %dd= @task_action_access.end_date
  %dt Удален:
  %dd= @task_action_access.is_close

= link_to edit_task_action_access_path(@task_action_access), :class => 'btn btn-primary' do
  %span.glyphicon.glyphicon-pencil
    Редактировать
= link_to task_action_accesses_path, :class => 'btn btn-default' do
  %span.glyphicon.glyphicon-list-alt
    Вернуться