<h2>Просмотрobjecttypes</h2>
<table>
  <tr>
    <th>Id:</th>
    <td><%= @objecttype.id %></td>
  </tr>
  <tr>
    <th>Name:</th>
    <td><%= @objecttype.name %></td>
  </tr>
  <tr>
    <th>Descr:</th>
    <td><%= @objecttype.descr %></td>
  </tr>
  <tr>
    <th>Start date:</th>
    <td><%= @objecttype.start_date %></td>
  </tr>
  <tr>
    <th>End date:</th>
    <td><%= @objecttype.end_date %></td>
  </tr>
  <tr>
    <th>Is close:</th>
    <td><%= @objecttype.is_close %></td>
  </tr>
  <tr>
    <th>
    <%= link_to 'Редактировать', edit_objecttype_path(@objecttype) %>
    <%= link_to 'Вернуться', objecttypes_path %>
    </th>
  </tr>
</table>

 

