.row
  .col-md-8.col-md-offset-2
    - if @error
      .alert.alert-danger= @error
    .panel.panel-default
      .panel-heading
        .panel-title Рыночный тариф
      .panel-body
        - if @market_tariff.blank?
          .alert.alert-warning Нет данных по рыночному тарифу
        - else
          %table
            %thead
              %tr
                %th Тариф
                %th Начало действия
                %th Окончание действия
            %tbody
              %tr
                %td= @market_tariff['TariffValue']
                %td= @market_tariff['StartDate'].try(:to_date)
                %td= @market_tariff['EndDate'].try(:to_date)


.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading
        .panel-title Среднестатистический тариф
      .panel-body
        - if @average_tariff.blank?
          .alert.alert-warning Нет данных по среднестатистическому тарифу
        - else
          %table
            %thead
              %tr
                %th Тариф
                %th Город
                %th Город
            %tbody
              - @average_tariff.each do |average_tariff|
                %tr
                  %td= average_tariff[1]
                  %td= average_tariff[3]
                  %td= average_tariff[5]

.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading
        .panel-title Нулевой тариф
      .panel-body
        - if @zero_tariff.blank?
          .alert.alert-warning Нет данных по нулевому тарифу
        - else
          %table
            %thead
              %tr
                %th Тариф
                %th Расстояние между ближайшим к пункту отправления и ближайшим к пункту назначения городами
            %tbody
              %tr
                %td= @zero_res
                %td= @zero_distance_between
          %hr
          %button.btn.btn-primary.btn-sm{:aria => {:expanded => "false", :controls => "from_target"}, :data => {:toggle => "collapse", :target => "#from_target"}} 
            Пункт отправления  
          #from_target.collapse
            %table
              %thead
                %tr
                  %th Название
                  %th Всего пробег КМ
                  %th Всего время Ч
                  %th Всего стоимость
                  %th Всего расстояние стыковки КМ
                  %th Всего время стыковки Ч
                  %th Всего заявок
                  %th Всего стыковок
              %tbody
                %tr
                  %td= @zero_from_target['requiredCityName']
                  %td= @zero_from_target['totalMilageFromTargetArea']
                  %td= @zero_from_target['totalTimeFromTargetArea']
                  %td= @zero_from_target['totalTariffFromTargetArea']
                  %td= @zero_from_target['totalDockingMilageFromTargetArea']
                  %td= @zero_from_target['totalDockingTimeFromTargetArea']
                  %td= @zero_from_target['qty']
                  %td= @zero_from_target['dockingQty']


          %hr
 
          %button.btn.btn-primary.btn-sm{:aria => {:expanded => "false", :controls => "from_target_data"}, :data => {:toggle => "collapse", :target => "#from_target_data"}} 
            Информация о зявках в ближайшие к пункту отправления города
          #from_target_data.collapse
            %table
              %thead
                %tr
                  %th Номер зявки
                  %th Город отсчета
                  %th Город отправления
                  %th Ближайший к городу отправления город
                  %th Расстояние между городом отправления и ближайшим к нему городом КМ
                  %th Стоимость РУБ
                  %th Пробег КМ
                  %th Время Ч

              %tbody
                - @zero_from_target_data.each do |from_target|
                  %tr
                    %td= from_target['OrderNumber']
                    %td= from_target['Name']
                    %td= from_target['cityRequested']
                    %td= from_target['NearestToTargetCity']
                    %td= from_target['distanceKm']
                    %td= from_target['TransportationCost']
                    %td= from_target['MileageFact']
                    %td= from_target['TimeTotalFactHours']

          %hr
 
          %button.btn.btn-primary.btn-sm{:aria => {:expanded => "false", :controls => "docking_from_target"}, :data => {:toggle => "collapse", :target => "#docking_from_target"}} 
            Информация о стыковках из ближайших к пункту отправления городов
          #docking_from_target.collapse
            %table
              %thead
                %tr
                  %th Номер зявки
                  %th Ближайший к городу отправления город
                  %th Расстояние между городом отправления и ближайшим к нему городом КМ
                  %th Расстояние стыковки М (ИЗ ближайшего города)
                  %th Время стыковки М (ИЗ ближайшего города)
              %tbody
                - @zero_docking_from_target.each do |from_target|
                  %tr
                    %td= from_target['OrderNumber']
                    %td= from_target['TargetNearestCity']
                    %td= from_target['distanceKm']
                    %td= from_target['DockingMileage_Meters']
                    %td= from_target['DockingTime_Minutes']


          %hr
          %button.btn.btn-primary.btn-sm{:aria => {:expanded => "false", :controls => "to_target"}, :data => {:toggle => "collapse", :target => "#to_target"}} 
            Пункт назначения   

          #to_target.collapse
            %table
              %thead
                %tr
                  %th Название
                  %th Всего пробег КМ
                  %th Всего время Ч
                  %th Всего стоимость
                  %th Всего расстояние стыковки КМ
                  %th Всего время стыковки Ч
                  %th Всего заявок
                  %th Всего стыковок
              %tbody
                %tr
                  %td= @zero_to_target['requiredCityName']
                  %td= @zero_to_target['totalMilageToTargetArea']
                  %td= @zero_to_target['totalTimeToTargetArea']
                  %td= @zero_to_target['totalTariffToTargetArea']
                  %td= @zero_to_target['totalDockingMilageToTargetArea']
                  %td= @zero_to_target['totalDockingTimeToTargetArea']
                  %td= @zero_to_target['qty']
                  %td= @zero_to_target['dockingQty']



          %hr
          %button.btn.btn-primary.btn-sm{:aria => {:expanded => "false", :controls => "to_target_data"}, :data => {:toggle => "collapse", :target => "#to_target_data"}} 
            Информация о зявках из ближайших к пункту назначения городов
          #to_target_data.collapse
            %table
              %thead
                %tr
                  %th Номер зявки
                  %th Город отсчета
                  %th Город назначения
                  %th Ближайший к городу назначения город
                  %th Расстояние между городом назначения и ближайшим к нему городом КМ
                  %th Стоимость РУБ
                  %th Пробег КМ
                  %th Время Ч
              %tbody
                - @zero_to_target_data.each do |to_target|
                  %tr
                    %td= to_target['OrderNumber']
                    %td= to_target['Name']
                    %td= to_target['cityRequested']
                    %td= to_target['NearestToTargetCity']
                    %td= to_target['distanceKm']
                    %td= to_target['TransportationCost']
                    %td= to_target['MileageFact']
                    %td= to_target['TimeTotalFactHours']

          %hr
 
          %button.btn.btn-primary.btn-sm{:aria => {:expanded => "false", :controls => "docking_to_target"}, :data => {:toggle => "collapse", :target => "#docking_to_target"}} 
            Информация о стыковках в ближайшие к пункту назначения города
          #docking_to_target.collapse
            %table
              %thead
                %tr
                  %th Номер зявки
                  %th Ближайший к городу назначения город
                  %th Расстояние между городом назначения и ближайшим к нему городом КМ
                  %th Расстояние стыковки М (ИЗ ближайшего города)
                  %th Время стыковки М (ИЗ ближайшего города)
              %tbody
                - @zero_docking_to_target.each do |to_target|
                  %tr
                    %td= to_target['OrderNumber']
                    %td= to_target['TargetNearestCity']
                    %td= to_target['distanceKm']
                    %td= to_target['DockingMileage_Meters']
                    %td= to_target['DockingTime_Minutes']
