- if @error
  .alert.alert-danger= @error
- else
  .panel.panel-default
    .panel-heading 
      .panel-title Выберите регион, город и тип подвижного состава
    .panel-body
      = form_tag url_for(action: :all_tariffs), html: { role: "form" } , id: 'all_tariffs_form', remote: true do 
        .row
          .col-md-12
            .form-group.input-group
              %span.input-group-addon
                %i Тип подвижного состава
              = select_tag :transport_kind, options_for_select(@transport_kinds.map { |t| [ t['Name'], t['Id'] ] }, { selected: '09da3e8d-a212-478a-8422-afefbc013859'} ), class: "form-control"
        .row
          .col-md-12
            .well.well-sm
              .red (для нулевого тарифа)
              .form-group.input-group
                %span.input-group-addon
                  %i Регион точки отсчета
                = select_tag :region, options_for_select(@regions.map { |t| [ t.second, t.first ] }, { selected: 'ee77a879-d528-49dc-b86c-894362abfad7'} ), {class: "form-control", prompt: "..."}

                %span.input-group-addon
                  %i Город точки отсчета
                #city_div= text_field_tag :city, nil, class: "form-control", disabled: 'disabled'
        .row
          .col-md-6
            .form-group.input-group
              %span.input-group-addon
                %i Откуда Регион
              = select_tag :from_region, options_for_select(@regions.map { |t| [ t.second, t.first ] } ), {class: "form-control", prompt: "..."}
            .form-group.input-group
              %span.input-group-addon
                %i Откуда Город
              #from_city_div= text_field_tag :from_city, nil, class: "form-control", disabled: 'disabled' 
          .col-md-6
            .form-group.input-group
              %span.input-group-addon
                %i Куда Регион
              = select_tag :to_region, options_for_select(@regions.map { |t| [ t.second, t.first ] } ), {class: "form-control", prompt: "..."}
            .form-group.input-group
              %span.input-group-addon
                %i Куда Город
              #to_city_div= text_field_tag :to_city, nil, class: "form-control", disabled: 'disabled'


        = submit_tag "Выбрать", class: "btn btn-primary", id: 'empty_mileage_sub'


:coffeescript
  $('#from_region').change ->
    $.ajax
      url: '/tariff_calculator/get_cities'
      data: from_region: $('#from_region').val()
      dataType: 'script'
    return



  $('#to_region').change ->
    $.ajax
      url: '/tariff_calculator/get_cities'
      data: to_region: $('#to_region').val()
      dataType: 'script'
    return

  $('#region').change ->
    $.ajax
      url: '/tariff_calculator/get_cities'
      data: region: $('#region').val()
      dataType: 'script'
    return

  $.ajax
    url: '/tariff_calculator/get_cities'
    data: region: $('#region').val()
    dataType: 'script'




  $("#all_tariffs_form").submit ->
    $("#waiting_over").show()
    return