- unless @error.blank?
  .alert.alert-danger= @error
- else
  = form_tag url_for(action: 'market_get_tariff_grid'), id: 'market_form', remote: true, class: "form-horizontal" do |f|
    .form-group.input-group
      %span.input-group-addon
        %i Регион откуда:
      = select_tag :region_from, options_for_select( @regions.map { |l| [l.second, l.first] } ), { class: "form-control" }

      %span.input-group-addon
        %i Регион куда:
      = select_tag :region_to, options_for_select( @regions.map { |l| [l.second, l.first] } ), { class: "form-control" }

      %span.input-group-addon
        %i Тип подвижного состава:
      = select_tag :transport_kind, options_for_select( @transport_kinds.map { |l| [l['Name'], l['Id']] } ), { class: "form-control" }

      %span.input-group-btn
        = submit_tag 'Выбрать', class: 'btn btn-primary', style: "display: inline"

  :coffeescript
    $("#market_form").submit ->
      $("#waiting_over").show()
      return       
