- unless @error.blank?
  .alert.alert-danger= @error
- else
  %table#seasons
    %thead
      %tr
        %th Тип сезона
        %th Начало
        %th Окончание
    %tbody
      - @seasons.each do |season|
        %tr
          %td= season["SeasonType"]
          %td= season["StartDate"].try(:to_date)
          %td= season["EndDate"].try(:to_date)

  :coffeescript        
    $("#seasons").dataTable
      lengthMenu: [[30, 60, 100, -1], [30, 60, 100, "Все"]]
      columnDefs: [type: 'date-euro', targets: [1, 2]]

