- unless @error.blank?
  .alert.alert-danger= @error
- else
  = form_tag url_for(action: 'set_seasons'), id: 'set_season_form', remote: true, class: "form-horizontal" do |f|
    .form-group.input-group
      %span.input-group-addon
        %i Тип сезона:
      = select_tag :season_type, options_for_select( @seasons.uniq { |s| s["SeasonType"] }.map { |s| [s["SeasonType"], s["SeasonType"]] }.sort ), { class: "form-control" }

      %span.input-group-addon
        %i Дата начала:
      = text_field_tag :start_date, nil, class: "form-control"

      %span.input-group-addon
        %i Дата окончания:
      = text_field_tag :end_date, nil, class: "form-control"

      %span.input-group-btn
        = submit_tag 'Сохранить', class: 'btn btn-primary', style: "display: inline"

  :coffeescript
    $("#set_season_form").submit ->
      $("#waiting_over").show()
      return       

    $('#start_date').datetimepicker format:'d.m.Y'
    $('#end_date').datetimepicker format:'d.m.Y'