$('#popup').hide();
$('#popup_content').html('');
$('#all_tariffs_result').html("#{j render 'all_tariffs'}");
notice('#{flash[:notice]}');
- unless @error
  $(".alert-danger").hide();

$("#waiting_over").hide()