#waiting_over= image_tag("ajax-loader2.gif")
.page-header
  %h2 Среднестатистический тариф
.row
  .col-md-8.col-md-offset-2
    = link_to tariff_calculator_set_seasons_path, class: 'btn btn-primary btn-sm', remote: true do
      %span.glyphicon.glyphicon-plus
      Новый сезон

    #show_seasons
      = render 'seasons'
%hr

.row
  .col-md-8.col-md-offset-2
    - if @error
      .alert.alert-danger= @error
    - else
      .panel.panel-default
        .panel-heading 
          .panel-title Выберите тип подвижного состава, регион
        .panel-body
          = form_tag url_for(action: :get_active_regions), html: { role: "form" } , id: 'all_tariffs_form', remote: true do 
            .form-group.input-group
              %span.input-group-addon
                %i Тип подвижного состава
              = select_tag :transport_kind, options_for_select(@transport_kinds.map { |t| [ t['Name'], t['Id'] ] } ), {class: "form-control", prompt: "..."}

              %span.input-group-addon
                %i Регион
              #region= text_field_tag :region, nil, class: "form-control", disabled: 'disabled' 

            #city


:coffeescript
  $('#transport_kind').change ->
    $.ajax
      url: '/tariff_calculator/average_active_regions'
      data: transport_kind: $('#transport_kind').val()
      dataType: 'script'
    return

  $('#region').change ->
    $.ajax
      url: '/tariff_calculator/average_active_cities'
      data: transport_kind: $('#transport_kind').val()
      data: regon: $('#regon').val()
      dataType: 'script'
    return