$("#show_seasons").html("#{j render 'seasons' }");
$('#popup').hide();
$('#popup_content').html('');
notice('#{flash[:notice]}');
- unless @error
  $(".alert-danger").hide();

$("#waiting_over").hide()