$("#popup_content").html("#{j render 'edit_current_market_tariff'}");
$("#popup_head span").html("Редактирование рыночного тарифа: #{@city_from_name} - #{@city_to_name}");
$("#popup").show();
$("#list").html("#{j render 'market_grid' }");
- unless @error
  $(".alert-danger").hide();

notice('#{flash[:notice]}');

$("#waiting_over").hide()