$("#popup_content").html("#{j render 'set_season_form'}");
$("#popup_head span").html("Создание сезона");
$("#popup").show();
- if @error.blank?
  $(".alert-danger").hide();
notice('#{flash[:notice]}');

$("#waiting_over").hide()