- if @content['Result'] == 'Bad'
  .alert{:class => 'alert-danger', "role" => 'alert'}
    =@content['ErrorMessage']
- else
  %p
    Период: #{Time.at(@from).strftime("%d.%m.%Y")} - #{Time.at(@to).strftime("%d.%m.%Y")}
  %p
    Табельный номер: #{@num}
  %p.noprint
    ФИО: #{@name}
  %table
    %thead
      %tr
        %th Описание
        %th Сумма руб.

    %tbody
      - @payslip.each do |ps|
        %tr
          %td= ps[0]
          %td= ps[1]
     
  =link_to "Распечатать", '#', class: "btn btn-success btn-sm noprint", onclick: "window.print();"   