.page-header
  %h2 Расчетные листы



= form_tag url_for(action: 'show'), remote: true, class: "noprint" do 
  .col-md-offset-4.col-md-4
    .form-group
      = label_tag :date_year, "Год:", :class => 'col-md-4 control-label' 
      = select_year(2014)
  .col-md-offset-4.col-md-4
    .form-group
      = label_tag :date_month, "Месяц:", :class => 'col-md-4 control-label' 
      = select_month(Date.today, use_month_names: %w(Январь Февраль Март Апрель Май Июнь Июль Август Сентябрь Октябрь Ноябрь Декабрь))
  .col-md-offset-4.col-md-4
    .form-group
      = label_tag :num, "Табельный номер:", :class => 'col-md-4 control-label' 
      = text_field_tag :num, nil, size: 3
    .form-group
      = submit_tag "Искать", class: "btn btn-primary btn-sm", id: "payslips_submit"

.col-md-offset-4.col-md-4
  %h2#waiting 
    Подождите
    =image_tag("ajax-loader.gif")
  #payslips_result



:javascript
  $("#num").mask("9999", {placeholder:"#"});
  $(document).ready(function() { $('#payslips_submit').click(function(event){ $('#waiting').css("display","block"); $('#payslips_result').html('')}); });