= form_for @extra_spending_type, html: { class: "form-horizontal" } do |f|
  -if @extra_spending_type.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "Ошибок: #{@extra_spending_type.errors.count} "

      %ul
        - @extra_spending_type.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    .col-sm-4.control-label= f.label :name, 'Наименование'
    .col-sm-8= f.text_field :name, class: 'form-control'
  .form-group
    .col-sm-4.control-label= f.label :is_close, 'Удален'
    .col-sm-8= f.check_box :is_close
  .form-group
    .col-sm-offset-4.col-sm-8
      = f.submit 'Сохранить', class: 'btn btn-primary'
      = link_to extra_spending_types_path, class: 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt Вернуться