= form_for @transport, html: { role: "form" } do |f|

  -if @transport.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "Ошибок: #{@transport.errors.count} "
      %ul
        - @transport.errors.full_messages.each do |msg|
          %li= msg

  .panel.panel-default
    .panel-heading
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#basic_data"} Основные данные
        %li
          %a{"data-toggle" => "tab", :href => "#additional_data"} Дополнительно

    .panel-body
      .tab-content
        #basic_data.tab-pane.active
          .row
            .col-md-6
              .form-group.input-group
                %span.input-group-addon
                  %i Контрагент
                = f.collection_select( :contractor_id, Contractor.outside, :id, :shortname_inn_kpp, |
                  { prompt: @transport.contractor_id ? nil : "Выберите контрагента", |
                  selected: @transport.contractor_id ? @transport.contractor_id : nil}, class: "form-control" )
              .form-group.input-group
                %span.input-group-addon
                  %i Регистрационный номер
                = f.text_field :reg_num, class: "form-control" 
              .form-group.input-group
                %span.input-group-addon
                  %i Марка ТС
                = collection_select(:brand, :id,  @brands, :id, :name,  { prompt: "Выберите марку ТС", selected: @transport.transportmodel ? @transport.transportmodel.transportbrand.id : nil}, class: "form-control" )
              .form-group.input-group
                %span.input-group-addon
                  %i Модель ТС
                = f.select( :transportmodel_id, options_for_select(Transportmodel.trailers.map { |m| [m.name, m.id, { class: m.transportbrand_id}] }), {selected: @transport.transportmodel ? @transport.transportmodel.id : nil}, class: "form-control" )
              .form-group.input-group
                %span.input-group-addon
                  %i Описание
                = f.text_area :description, class: "form-control"
            .col-md-6
              #get_transportkind= render 'get_transportkind' if @transportmodel
        #additional_data.tab-pane
          .row
            .col-md-6
              .form-group.input-group
                %span.input-group-addon
                  %i VIN номер
                = f.text_field :vin, class: "form-control" 
              .form-group.input-group
                %span.input-group-addon
                  %i Номер шасси
                = f.text_field :chassis_num, class: "form-control"
              .form-group.input-group
                %span.input-group-addon
                  %i Номер кузова
                = f.text_field :body_num, class: "form-control"
              .form-group.input-group
                %span.input-group-addon
                  %i Номер двигателя
                = f.text_field :engine_num, class: "form-control"
            .col-md-6
              .form-group.input-group
                %span.input-group-addon
                  %i Год выпуска
                = f.text_field :year, class: "form-control" 
              .form-group.input-group
                %span.input-group-addon
                  %i Дата постановки на учет
                = f.text_field :registration_date, class: 'select_date form-control' 
                %span.input-group-addon
                  %i Дата снятия с учета
                = f.text_field :deregistration_date, class: 'select_date form-control'  
              .form-group.input-group
                %span.input-group-addon
                  %i Цвет
                = f.collection_select( :transportcolor_id, Transportcolor.visible, :id, :name, |
                  { prompt: @transport.transportcolor_id ? nil : "Выберите цвет", |
                  selected: @transport.transportcolor_id ? @transport.transportcolor_id : nil}, class: "form-control" )
              .form-group.input-group
                %span.input-group-addon
                  %i Форма эксплуатации
                = f.collection_select( :transportexploitation_id, Transportexploitation.visible, :id, :name, |
                  { prompt: @transport.transportexploitation_id ? nil : "Выберите форму эксплуатации", |
                  selected: @transport.transportexploitation_id ? @transport.transportexploitation_id : nil}, class: "form-control" )

              .form-group.input-group
                = f.label :is_close , 'Удалено' 
                = f.check_box :is_close     


  = f.submit 'Сохранить', class: 'btn btn-primary'
  = link_to 'Вернуться к ТС', transports_path, class: 'btn btn-default' 



:coffeescript
  $("#transport_transportmodel_id").chained "#brand_id"
  $("#transport_transportmodel_id").change ->
    $.ajax
      url: "/transports/get_transportkind"
      data:
        transportmodel: $("#transport_transportmodel_id").val()

      dataType: "script"

    return
