
%table#truks
  %thead
    %tr
      %th Тягач:
      %th Начало сцепки:
      %th Окончание сцепки:
      %th Прицеп:
      %th Водитель:
      %th Водитель с:
      %th Водитель по:
  %tbody
    - @trucks.each do |truck| 
      %tr{:id=> "#{truck.id}", :class => "#{'select_green' if @truck and @truck.id == truck.id}"}
        %td= link_to truck.reg_num, show_couplers_and_drivers_transport_path(truck), remote: true, class: "btn btn-default btn-xs", style: "width: 100%"
        %td= truck.chained_coupler_trucks.map(&:start_date).compact.join(', ')
        %td= truck.chained_coupler_trucks.map(&:end_date).compact.join(', ')
        %td= truck.chained_coupler_trucks.map(&:trailer_num).compact.join(', ') 
        %td= truck.chained_truck_drivers.map(&:person_info).compact.join(', ')
        %td= truck.chained_truck_drivers.map(&:start_date).compact.join(', ') 
        %td= truck.chained_truck_drivers.map(&:end_date).compact.join(', ') 
