
= form_for @truck_driver, url: create_and_update_driver_transports_path, html: { class: "well well-sm", role: "form" }, remote: true do |f|
  -if  @truck_driver.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "Ошибок: #{@truck_driver.errors.count} "
      %ul
        - @truck_driver.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :id unless @truck_driver.new_record?
  = f.hidden_field :transport_id
  .alert.alert-info
    %strong Тягач
    = @truck.reg_num

  .form-group.input-group
    %span.input-group-addon
      %i Водитель:
    - if @truck_driver.new_record?
      = f.collection_select( :employee_id, @free_drivers , :id, :person_info, |
        { prompt: @truck_driver.employee_id ? nil : "Выберите водителя", selected: @truck_driver.employee_id ? @truck_driver.employee_id : nil  }, class: "form-control" )
    - else
      = text_field_tag :driver, @truck_driver.employee.person_info, disabled: 'disabled', class: "form-control"

  .form-group.input-group
    %span.input-group-addon
      %i Начало взаимодействия:
    = f.text_field :start_date, class: "form-control"
    %span.input-group-addon
      %i Окончание взаимодействия:
    = f.text_field :end_date, class: "form-control"

  = f.submit 'Сохранить', :class => 'btn btn-primary btn-sm'


:coffeescript
  $('#truck_driver_start_date').datetimepicker timepicker: true
  $('#truck_driver_end_date').datetimepicker timepicker: true
