- if @truck
  - unless @truck.chained_truck_drivers.any?
    = link_to new_and_edit_driver_transport_path(@truck), class: 'btn btn-primary btn-xs', remote: true do
      %span.glyphicon.glyphicon-plus 
        Добавить связку водитель-тягач
  - if @truck_drivers.any?
    %table
      %thead
        %tr
          %th Тягач
          %th Водитель
          %th С:
          %th По:
          %th
          %th
      %tbody
        - @truck_drivers.each do |truck_driver|
          %tr{:class => "#{'select_green' if truck_driver.chained?}"}
            %td= truck_driver.transport.reg_num if truck_driver.transport 
            %td= truck_driver.employee.person_info if truck_driver.employee
            %td= truck_driver.start_date 
            %td= truck_driver.end_date
            %td.edit{:title => "Редатировать"}= link_to image_tag("edit.png"), new_and_edit_driver_transport_path(@truck, truck_driver: truck_driver.id), remote: true if truck_driver.chained?
            %td.del{:title => "Расцепить"}
              - if truck_driver.chained?
                = link_to unchain_driver_transport_path(truck_driver), data: { confirm: 'Точно расцепить?' }, remote: true do
                  %span.glyphicon.glyphicon-random 




