- if @truck
  - unless @truck.chained_coupler_trucks.any?
    = link_to new_and_edit_coupler_transport_path(@truck), class: 'btn btn-primary btn-xs', remote: true do
      %span.glyphicon.glyphicon-plus 
        Добавить сцепку
  - if @couplers.any?
    %table
      %thead
        %tr
          %th Тягач
          %th Прицеп
          %th С:
          %th По:
          %th
          %th
      %tbody
        - @couplers.each do |coupler|
          %tr{:class => "#{'select_green' if coupler.locked_to_date?}", :title => "#{'Заблокирован до ' + coupler.locked_to_date.strftime("%d.%m.%y") if coupler.locked_to_date?}"}
            %td{:class => "#{'red_cell' if coupler.chained? && coupler.locked_to_date?}"}= coupler.truck.reg_num if coupler.truck 
            %td= coupler.trailer.reg_num if coupler.trailer
            %td= coupler.start_date 
            %td= coupler.end_date
            %td.edit{:title => "Редатировать"}= link_to image_tag("edit.png"), new_and_edit_coupler_transport_path(@truck, coupler: coupler.id), remote: true if coupler.chained? && can_edit_locked_coupler?(coupler)
            %td.del{:title => "Расцепить"}
              - if coupler.chained? && !coupler.locked_to_date?
                = link_to unchain_coupler_transport_path(coupler), data: { confirm: 'Точно расцепить?' }, remote: true do 
                  %span.glyphicon.glyphicon-random 




