.page-header
  %h2 Редактирование #{@transport.truck? ? 'тягача' : 'прицепа'}

#form.col-md-10.col-md-offset-1
  - if @transport.truck?
    = render 'form_truck' 
  - else  
    = render 'form_trailer'


