.page-header
  %h2 Транспортные средства

.col-md-10.col-md-offset-1

  .well.well-sm 
    = link_to 'Новый тягач', new_transport_path(ts: 'truck'), class: "btn btn-primary btn-sm"
    = link_to 'Новый прицеп', new_transport_path(ts: 'trailer'), class: "btn btn-default btn-sm"
    = link_to params[:showdel] == "true" ? "Скрыть удаленные" : "Показать удаленные", transports_path(showdel: params[:showdel] == "true" ? "false" : "true") , class: "btn btn-warning btn-sm pull-right"

  %table#transports
    %thead>
      %tr
        %th Рег. номер
        %th Контрагент
        %th Марка
        %th Модель
        %th VIN номер
        %th Дата регистрации
        %th Описание
        %th Дата вывода из эксплуатации
        %th Документ
        /%th 
        %th 
        %th 
        %th 
    %tbody
      - @transports.each do |transport| 
        %tr
          %td
            = transport.reg_num 
            - if transport.is_close 
              %span.red удалено 
          %td= transport.contractor.short_name if transport.contractor 
          %td= transport.transportmodel.transportbrand.name if transport.transportmodel and transport.transportmodel.transportbrand
          %td= transport.transportmodel.name if transport.transportmodel 
          %td= transport.vin
          %td= transport.created_at.strftime("%d.%m.%Y")
          %td= transport.description 
          %td= transport.decommissioning_date.strftime("%d.%m.%Y") unless transport.decommissioning_date.blank?
          %td= transport.documents.any? ? "Есть" : "Нет"
          /%td.docs{:title => "Документы"}= link_to image_tag("docs.png"), action: "show_part", id: transport, part: transport.documents.any? ? "docs" : "select_new_document", id: transport, remote: true
          %td.copy= link_to image_tag("copy.png", title: "Редактировать копию ТС"), edit_transport_path(transport, copy: "true"), data: { confirm: 'Создать копию ТС?' } unless transport.inside_contractor?
          %td.edit= link_to image_tag("edit.png", title: "Редактировать"), edit_transport_path(transport) unless transport.inside_contractor?
          %td.del{:title => "Удалить"}= link_to image_tag("remove.png", title: "Удалить"), transport, method: :delete, data: { confirm: 'Точно?' } unless transport.is_close unless transport.inside_contractor?





