.page-header
  %h2 Новый #{params[:ts] == 'truck' ? 'тягач' : 'прицеп'}

#form.col-md-10.col-md-offset-1
  - if params[:ts] == 'truck' || @transport.truck?
    = render 'form_truck'
  - else  
    = render 'form_trailer'

