<h1>Транспортное средство</h1>

<table border="1">
  <tr>  <th>Название</th>               <td><%= @transport.name %></td></tr>
  <tr>  <th>Описание</th>               <td><%= @transport.description %></td></tr>
  <tr>  <th>Марка и модель</th>         <td><%= render partial: "transport_brand", object: @transport %></td></tr>

  <tr>  <th>Категория ТС</th>           <td><div id="transportcategory"><%= @category %></div></td></tr>
  <tr>  <th>Тип ТС</th>                 <td><div id="transporttype"><%= @type %></div></td></tr>
  <tr>  <th>Вид ТС</th>                 <td><div id="transportkind"><%= @kind %></div></td></tr>

  <tr>  <th>Цвет</th>                   <td><%= render partial: "transport_color", object: @transport %></td></tr>
  <tr>  <th>Год выпуска</th>            <td><%= @transport.year %></td></tr>
  <tr>  <th>VIN номер</th>              <td><%= @transport.vin %></td></tr>
  <tr>  <th>Номер шасси</th>            <td><%= @transport.chassis_num %></td></tr>
  <tr>  <th>Номер кузова</th>           <td><%= @transport.body_num %></td></tr>
  <tr>  <th>Тип двигателя</th>          <td><div id="enginetype"><%= @enginetype %></div></td></tr>
  <tr>  <th>Модель двигателя</th>       <td><div id="select_enginemodel"> <%= render partial: "transport_engine", object: @transport %> </div></td></tr>
  <tr>  <th>Мощность двигателя</th>     <td><div id="power"><%=@enginemodel.power if @enginemodel%> </div></td></tr>
  <tr>  <th>Рабочий объём двигателя</th><td><div id="displacement"><%=@enginemodel.displacement if @enginemodel%></div></td>  </tr>
  <tr>  <th>Наличие погрузки </th>      <td><div id="is_loading"><%= if @transportloadings then "да" else "нет" end  %> </div></td></tr>
  <tr>  <th>Способ погрузки</th>        <td><div id="loading"> <%= render partial: "transportloadings", object: @transportloadings if @transportloadings %></div>
                                        </td></tr>
  <tr>  <th>Наличие топливного бака</th> <td><div id="is_fuelling"><%= if @transportfuellings then "да" else "нет" end  %></div></td></tr>
  <tr>  <th>Топливный бак</th>       <td><div id="tank">
                                            <%= render partial: "transportfuellings", object: @transportfuellings if @transportfuellings %>
                                            </div>
                                        </td></tr>

  <tr>  <th colspan="2"><%= link_to 'Редактировать', edit_transport_path(@transport) %>
    <%= link_to 'Удалить', @transport, method: :delete, data: { confirm: 'Точно?' } %></th>
  </tr>

</table>

<br />

<%= link_to 'Новое ТС', new_transport_path %> | 
<%= link_to 'К транспортным средствам', transports_path %>
