$("#show_drivers").html("#{j render 'show_drivers' }");
$("#show_couplers").html("#{j render 'show_couplers' }");
$("#grouping_buttons").html("#{j render 'grouping_buttons' }");
$('#popup').hide();
$('#popup_content').html('');
$("#truks .select_green").removeClass('select_green')
$("##{@truck.id}").addClass('select_green')
