= form_tag url_for(action: 'show'), class: 'well form-inline col-md-8 col-md-offset-2', remote: true do 
  = label_tag :from, "Начало периода:"
  = text_field_tag :from, user_session[:from], size: 10

  = label_tag :to, "Окончание периода:"
  = text_field_tag :to, user_session[:to], size: 10

  = submit_tag "Выбрать", class: "btn btn-primary btn-sm", id: "payslips_submit"

  = link_to 'Сформировать отчет', {action: :report}, class: 'btn btn-sm btn-success pull-right' if @from and @to
  %hr
  %p.col-md-4.col-md-offset-2 
    %strong 
      Контрагент: 
    = @current_contractor ? @current_contractor.name : 'Все'
    = link_to 'Сбросить', {action: :show, contractor: 'no'}, class: 'btn btn-xs btn-danger', remote: true if @current_contractor
  %p.col-md-4
    %strong 
      Направление: 
    = @current_direction ? @current_direction : 'Все'
    = link_to 'Сбросить', {action: :show, direction: 'no'}, class: 'btn btn-xs btn-danger', remote: true if @current_direction