=link_to( 'Сохранить XLS', {action: :save_xls, format: :xls, r_type: @r_type, info: '1'}, class: 'btn btn-small btn-primary')

%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr 
      - if @r_type != 1 
        %th № заявки
      %th Контрагент
      %th Договор
      %th Направление
      %th Тариф
      %th Стоимость структуры и лизинга
      %th Переменные издержки
      %th Стоимость дебиторки
      %th Итого
      %th Кол-во заявок
      %th Среднее
  %tbody
    - @report_info.each do |item|
      %tr
        - if @r_type != 1 
          %td= item.number
        %td= item.contractor
        %td= item.contract
        %td= item.direction
        %td= item.tariff
        %td= item.struct_lising_cost
        %td= item.variable_cost
        %td= item.account_receivable_cost
        %td= item.total
        %td= item.quantity
        %td= item.average

