.page-header
  %h2 Создание отчетов
#report_form
  = render 'report_form'

.row
  %p.col-md-4.col-md-offset-2.bg-primary 
    %strong Контрагенты
  %p.col-md-4.bg-primary 
    %strong Направления
  
  #contractor_list.col-md-4.col-md-offset-2.bg-success
  #direction_list.col-md-4.bg-info

:coffeescript
  $('#from').datetimepicker format:'d.m.Y'
  $('#to').datetimepicker format:'d.m.Y'

