$("#popup_content").html("#{j render 'report_info'}");
$("#popup_head span").html("#{j @direction}");
$("#popup").removeClass("col-md-offset-4 col-md-4");
$("#popup").addClass("col-md-offset-3 col-md-6");
$("#popup").css("top", "300px")
$("#popup").show();




    


    