.page-header
  %h2 Отчет


= link_to 'Вернуться к созданию отчетов', {action: :index}, class: 'btn btn-small btn-success'
= link_to 'Сохранить XLS', {action: :save_xls, format: :xls}, class: 'btn btn-small btn-primary'
%hr

%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr 
      %th Контрагент
      %th Договор
      %th Направление
      %th Тариф
      %th Стоимость структуры и лизинга
      %th Переменные издержки
      %th Стоимость дебиторки
      %th Итого
      %th Кол-во заявок
      %th Среднее
  %tbody
    - @report.each do |item|
      %tr
        %td= item.contractor
        %td= item.contract
        %td= item.contractor.blank? ? link_to( item.direction, {action: :report_info, contractor: item.contractor_id, direction: item.direction}, remote: true) : link_to( item.direction, {action: :report_info, contractor: item.contractor_id, direction: item.direction, r_type: 4}, remote: true)
        %td= item.tariff
        %td= item.struct_lising_cost
        %td= item.variable_cost
        %td= item.account_receivable_cost
        %td= item.total
        %td= item.quantity
        %td= item.average
