<h2>Привязка телефонных номеров</h2>
<%#= will_paginate @phoneuses, class: "apple_pagination" %>
<table>
<tr><th><%= button_to 'Новая привязка тел. номера', new_phoneuse_path, method: 'get' %></th></tr>
</table>
<table id="phoneuses">
  <thead>
  <tr>
    <th>Физ. лицо</th>
    <th>Телефон</th>
    <th>Принадлежность</th>
    <th>Дата выдачи</th>
    <th>Дата возврата</th>
    <th>Удален</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @phoneuses.each do |phoneuse| %>
  <tr>
    <td><%= phoneuse.person.fullname if phoneuse.person%></td>
    <td><%= phoneuse.phone.phone if phoneuse.phone %></td>
    <td><%= phoneuse.is_corporate ? "Корпоративный" : "Личный" %></td>
    <td><%= phoneuse.issue_date.strftime("%d-%m-%Y") if phoneuse.issue_date%></td>
    <td><%= phoneuse.take_date.strftime("%d-%m-%Y") if phoneuse.take_date %></td>
    <td><b style="color: red;"><%= phoneuse.is_close ? "Удален" : ""%></b></td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_phoneuse_path(phoneuse) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), phoneuse, method: :delete, data: { confirm: 'Точно?' } unless phoneuse.is_close %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>
<table>
<tr><th><%= button_to 'Новая привязка тел. номера', new_phoneuse_path, method: 'get' if @phoneuses.size >  10%></th></tr>
</table>
<%#= will_paginate @phoneuses, class: "apple_pagination" %>
