= form_for @booking_history, :html => { :class => "form-horizontal" } do |f|
  -if @booking_history.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@booking_history.errors.count, "error")} "

      %ul
        - @booking_history.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :booking_id, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :booking_id, :class => 'form-control'
  .form-group
    = f.label :status, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.check_box :status, :class => 'form-control'
  .form-group
    = f.label :status_start_date, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.datetime_select :status_start_date, :class => 'form-control'
  .form-group
    = f.label :status_end_date, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.datetime_select :status_end_date, :class => 'form-control'
  .form-group
    = f.label :status_user_id, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :status_user_id, :class => 'form-control'
  .form-group
    = f.label :is_close, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.check_box :is_close, :class => 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Сохранить', :class => 'btn btn-primary'
      = link_to booking_histories_path, :class => 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt
          Вернуться