.page-header

  %h2 booking_histories

.table-responsive
  %table.table.table-striped.table-bordered.table-hover#booking_histories
    %thead
      %tr
        %th Booking
        %th Status
        %th Status start date
        %th Status end date
        %th Status user
        %th Is close
        %th
        %th
        %th

    %tbody
      - @booking_histories.each do |booking_history|
        %tr
          %td= booking_history.booking_id
          %td= booking_history.status
          %td= booking_history.status_start_date
          %td= booking_history.status_end_date
          %td= booking_history.status_user_id
          %td= booking_history.is_close
          %td.show1= link_to image_tag("show.png"), booking_history
          %td.edit= link_to image_tag("edit.png"), edit_booking_history_path(booking_history)
          %td.del= link_to image_tag("remove.png"), booking_history, :data => { confirm: 'Точно?' }, :method => :delete

  = link_to new_booking_history_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
      Новый Booking history
