<table>
  <tr>
    <th style="width: 180px;">ФИО</th><td> <%= @employee.person.fullname if @employee.person %> </td>
  </tr>
  <tr>
    <th>Пол</th> <td> <%=  @employee.person.gender ? "М" : "Ж" if @employee.person %> </td>
  </tr>
  <tr>
    <th>Дата рождения</th><td><%= @employee.person.birthdate.strftime("%d-%m-%Y") if @employee.person %> </td>
  </tr>
  <tr>
    <th>Тип контрагента</th><td><%= @employee.staff_unit.contractor.contractortype.name if @employee.staff_unit %></td>
  </tr>
  <tr>
    <th>Контрагент</th><td><%= @employee.staff_unit.contractor.name if @employee.staff_unit %></td>
  </tr>
  <tr>
    <th>Контрагент по ОУ</th><td><%= @employee.person.contractors.map { |m| m.name }.join(', ') if @employee.person %></td>
  </tr>
  <tr>
    <th>Подразделение</th><td><%= @employee.staff_unit.department.name if @employee.staff_unit %></td>
  </tr>
  <tr>
    <th>Должность</th><td><%= @employee.staff_unit.position.name if @employee.staff_unit %></td>
  </tr>
  <tr>
    <th>Дата трудоустройства</th><td><%= @employee.employment_date.strftime("%d-%m-%Y") if @employee.employment_date %></td>
  </tr>
  <tr>
    <th>Дата увольнения</th><td><%= @employee.leaving_date.strftime("%d-%m-%Y") if @employee.leaving_date %></td>
  </tr>
  <tr>
    <th>Дата начала действия</th><td><%= @employee.start_date.strftime("%d-%m-%Y") if @employee.start_date %></td>
  </tr>
  <tr>
    <th>Дата окончания действия</th><td><%= @employee.end_date.strftime("%d-%m-%Y") if @employee.end_date %></td>
  </tr>
  <tr>
    <th>Удален</th><td style="color: red;"> <%= @employee.is_close ? "Удален" : "" %></td>
  </tr>
</table>
<table>
<tr><th><%= button_to 'Редактировать', edit_employee_path(@employee), method: "get" %></th></tr>
</table>


 

