.page-header
  %h2 Экологические классы ТС

.col-md-6.col-md-offset-3

  %table#transportecologicals
    %thead
      %tr
        %th Экологический класс ТС
        %th
        %th
    %tbody
      - @transportecologicals.each do |transportecological|
        %tr
          %td
            = transportecological.name 
            - if transportecological.is_close
              %span.red удалено
          %td.edit= link_to image_tag("edit.png"), edit_transportecological_path(transportecological)
          %td.del{:title => "Удалить"}= link_to image_tag("remove.png"), transportecological, method: :delete, data: { confirm: 'Точно?' } unless transportecological.is_close

  = link_to 'Добавить экологический класс ТС', new_transportecological_path, class: 'btn btn-primary'



