<h1>Listing testguids</h1>

<table>
  <tr>
    <th>Str</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @testguids.each do |testguid| %>
  <tr>
    <td><%= testguid.str %></td>
    <td><%= link_to 'Show', testguid %></td>
    <td><%= link_to 'Редактировать', edit_testguid_path(testguid) %></td>
    <td><%= link_to 'Destroy', testguid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Testguid', new_testguid_path %>
