= form_for @vacation, :html => { :class => "form-horizontal" } do |f|
  -if @vacation.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@vacation.errors.count, "error")} "

      %ul
        - @vacation.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :employee_id, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :employee_id, :class => 'form-control'
  .form-group
    = f.label :descr, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :descr, :class => 'form-control'
  .form-group
    = f.label :start_date, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.date_select :start_date, :class => 'form-control'
  .form-group
    = f.label :end_date, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.date_select :end_date, :class => 'form-control'
  .form-group
    = f.label :is_close, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.check_box :is_close, :class => 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Сохранить', :class => 'btn btn-primary'
      = link_to vacations_path, :class => 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt
          Вернуться