#modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "largeModal", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4#modal-label.modal-title Плановый отпуск
      .modal-body
        =image_tag("ajax-loader.gif")
        Загрузка водителей
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Закрыть
