- if @unv_employee.errors.any?
  #error_explanation
    %h2
      Ошибок: #{@unv_employee.errors.count}
    %ul
      - @unv_employee.errors.full_messages.each do |msg|
        %li= msg

= form_for @unv_employee, remote: true, html: { class: "form-horizontal" } do |f|
  = f.hidden_field :unv_type_id
  = f.hidden_field :from, value: @from
  = f.hidden_field :to, value: @to
  - if @unv_employee.new_record?
    .form-group
      = f.label :employee_id, "Водитель", class: 'col-sm-4 control-label'
      .col-sm-8
        = f.collection_select( :employee_id, @employees, :id, :person_fullname, {prompt: "Выберите водителя"}) 
  - else
    .form-group
      .alert.alert-info= @unv_employee.person.fullname
  .form-group
    = f.label :planned_start, "Запланированное начало", class: 'col-sm-4 control-label'
    .col-sm-4
      = f.text_field :planned_start, :class => 'form-control', size: 10
  .form-group
    = f.label :planned_end, "Запланированное окончание", :class => 'col-sm-4 control-label'
    .col-sm-4
      = f.text_field :planned_end, :class => 'form-control', size: 10
  .form-group
    = f.label :actual_end, "Фактическое окончание", class: 'col-sm-4 control-label'
    .col-sm-4
      = f.text_field :actual_end, :class => 'form-control', size: 10
  .form-group
    = f.label :descr, "Комментарий", :class => 'col-sm-4 control-label'
    .col-sm-4
      = f.text_area :descr, :class => 'form-control'
  .form-group
    .col-sm-offset-4.col-sm-8
      = f.submit 'Сохранить', :class => 'btn btn-primary'

:coffeescript
  $('#unv_employee_planned_start').datetimepicker format:'d/m/Y'
  $('#unv_employee_planned_end').datetimepicker format:'d/m/Y'
  $('#unv_employee_actual_end').datetimepicker format:'d/m/Y'
  $(".form-horizontal").submit ->
    $("#modal").modal("hide");
    return

 