.table-responsive
  %table.table-striped.table-bordered.table-hover#vacations
    %thead
      %tr
        %th Тип
        %th Сотрудник
        %th Тягач
        %th Дата начала
        %th Дата окончания
        %th Комментарий
        %th Уволен
        %th
        %th
          
    %tbody
      - @vacations.each do |vacation|
        %tr
          %td Фактический отпуск
          %td= vacation.person.fullname
          %td= vacation.person.truck(vacation.start_date)
          %td= vacation.start_date.strftime("%d.%m.%Y")
          %td= vacation.end_date.strftime("%d.%m.%Y")
          %td
          %td= 'уволен' if vacation.person.dismissed?
          %td
          %td
      - @unv_employees.each_with_index do |unv_employee, ind|
        %tr{:id => "#{unv_employee.id}", :title => "#{unv_employee.descr}"}
          %td Плановый отпуск
          %td= unv_employee.person.fullname
          %td= unv_employee.person.truck(unv_employee.planned_start)
          %td= unv_employee.planned_start.strftime("%d.%m.%Y")
          %td= unv_employee.planned_end.strftime("%d.%m.%Y")
          %td= unv_employee.descr
          %td= 'уволен' if unv_employee.person.dismissed?
          %td.edit= link_to image_tag("edit.png"), {controller: :vacations, action: :edit_unv_emp, id: unv_employee.id, from: @from, to: @to}, remote: true unless unv_employee.person.dismissed?
          %td.del= link_to image_tag("remove.png"), {controller: :vacations, action: :del_unv_emp, id: unv_employee.id, from: @from, to: @to}, remote: true, data: { confirm: 'Точно?', toggle: "modal" } unless unv_employee.person.dismissed?
