.table-responsive
  %table.table-striped.table-bordered.table-hover#vacations_return
    %thead
      %tr
        %th Тип
        %th Сотрудник
        %th Тягач
        %th Уволен
        %th Дата начала
        %th Дата окончания

    %tbody
      - @vacations_return.each do |vacation|
        %tr
          %td Фактический отпуск
          %td= vacation.person.fullname
          %td= vacation.person.truck(vacation.start_date)
          %td= 'уволен' if vacation.person.dismissed?
          %td= vacation.start_date.strftime("%d.%m.%Y")
          %td= vacation.end_date.strftime("%d.%m.%Y")
