$('#modal').modal('hide');
$('#all').html('#{j render 'vacations/vacations'}');
$('#leave').html('#{j render 'vacations/vacations_leave'}');
$('#return').html('#{j render 'vacations/vacations_return'}');

$("#vacations").dataTable({"order" : [[3, "desc"]], "lengthMenu" : [[30, 60, 100, -1], [30, 60, 100, "Все"]], "columnDefs" : [{"type" : 'date-euro', "targets" : [3, 4]}]})
$("#vacations_leave").dataTable({"order" : [[3, "desc"]], "lengthMenu" : [[30, 60, 100, -1], [30, 60, 100, "Все"]], "columnDefs" : [{"type" : 'date-euro', "targets" : [3, 4]}]})
$("#vacations_return").dataTable({"order" : [[4, "desc"]], "lengthMenu" : [[30, 60, 100, -1], [30, 60, 100, "Все"]], "columnDefs" : [{"type" : 'date-euro', "targets" : [4, 5]}]})

