
.table-responsive
  %table.table.table-striped.table-bordered.table-hover#contacts
    %thead
      %tr
        %th Физ. лицо
        %th Тип контакта
        %th Контакт
        %th

    %tbody
      - @contacts.each do |contact|
        %tr
          %td= contact.person.fullname
          %td= contact.contact_type.name
          %td= contact.name
          %td.del= link_to image_tag("remove.png"), contact, :data => { confirm: 'Точно?' }, :method => :delete, remote: true 


= form_for @contact, html: { class: "well well-sm" }, remote: true do |f|
  -if @contact.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@contact.errors.count, "error")} "
      %ul
        - @contact.errors.full_messages.each do |msg|
          %li= msg
  = f.hidden_field :person_id, value: @person.id       
  = f.hidden_field :id, value: @person.id || SecureRandom.uuid
       
  .form-group.input-group
    %span.input-group-addon
      %i Физ. лицо:
    = text_field_tag :person_id, @person.fullname_g_b, disabled: 'disabled', class: 'form-control'

  .form-group.input-group
    %span.input-group-addon
      %i Тип контакта:
    = f.collection_select( :contact_type_id, ContactType.visible, :id, :name, |
      { prompt: @contact.contact_type_id ? nil : "Выберите тип контакта", |
      selected: @contact.contact_type_id ? @contact.contact_type_id : nil}, class: 'form-control'  )

       
  .form-group.input-group
    %span.input-group-addon
      %i Контакт:
    = f.phone_field :name, class: 'form-control'
       
  = f.submit 'Добавить', class: 'btn btn-primary'

:coffeescript
  if $('#contact_contact_type_id option:selected').text() == 'Номер телефона'
    $('#contact_name').mask '79999999999'
  else
    $('#contact_name').unmask()


  $('#contact_contact_type_id').change ->
    if $('#contact_contact_type_id option:selected').text() == 'Номер телефона'
      $('#contact_name').mask '79999999999'
    else
      $('#contact_name').unmask()

