<% @documnetkinds = Documentkind.for_person %>
<h2> Создание документа для <%= person.fullname %> . </h2>

<%= form_tag new_from_documents_path(person: person) do %>
<table>
  <tr>
    <th> Вид документа</th>
    <td> <%= collection_select( :documentkind, :id, @documnetkinds, :id, :name ) %>
    </td>
    <th>
       <%= submit_tag "Создать" %>
    </th>
  </tr>

</table>
<% end %>
