$('#new_person').html("");
//$('#popup_content').html("");
//$('#popup').hide(300);
$("#person").html("<%=j collection_select(:contractor_representative, :person_id, Person.visible, :id, :fullname_g_b,{ selected: @person.id.upcase}) %>");

$.jGrowl("<%=j flash[:notice] %>");
