.page-header
  %h2 Водители (#{ @people.size})

= render 'contractor_representatives/modal'

%a.btn.btn-sm.btn-success{"data-backdrop" => "static", "data-target" => "#modal", "data-toggle" => "modal"}
  %span.glyphicon.glyphicon-plus
    Новый представитель контрагента

= letter_pagination @letters

%table#people
  %thead
    %tr
      %th ФИО
      %th Телефон
      %th Контрагент
      /%th Сотрудник
      %th Паспорт
      %th Паспорт иностранного гражданина
      %th ВУ
      %th Контакты
      %th Документы
      %th 
  %tbody
    - @people.each do |person|
      %tr
        %td
          = person.fullname 
          - if person.is_close
            %span.red удалено
          (#{person.gender ? "М" : "Ж"}) 
          = person.birthdate
        %td= person.contact_phone 
        %td
          = person.contractors.map(&:name).join(', ')
          %br
          %nobr
            (#{person.people_contractors.map(&:position).join(', ')})
        /%td= person.employees_cdp 
        %td= person.passport 
        %td= person.foreign_passport
        %td= person.drivers_license 
        %td= link_to image_tag("contacts.png"), {action: :contacts, id: person}, remote: true, title: 'Редактирование контактов'
        %td.docs{:class => "#{'red_cell' unless person.documents.any?}", :title => "Документы"}  
          = link_to image_tag("docs.png"), {action: "show_part", id: person, part: person.documents.any? ? "docs" : "select_new_document"}, remote: true if person.edit_allowed?
        %td.edit{:title => "Редактировать"}= link_to image_tag("edit.png"), edit_person_path(person) if person.edit_allowed?
  
= letter_pagination @letters

