$("#new_person").html("<%=j render 'new_person' %>");
//$("#popup_content").html("<%=j render 'new_person' %>");
//$("#popup_head span").html("Новое физ. лицо");
//$("#popup").show(300);
//$("#person_last_name").focus();