$("#popup_content").html("<%=j render partial: @part, locals: {person: @person} %>");
$("#popup_head span").html("Физ. лицо: <%= @person.fullname %> ");
$("#popup").css("top", "300px");
$("#popup").show(300);
