.page-header
  %h2 Цвета ТС

.col-md-6.col-md-offset-3

  %table#transportcolors
    %thead>
      %tr
        %th Цвет
        %th
        %th
    %tbody
      - @transportcolors.each do |transportcolor|
        %tr
          %td
            = transportcolor.name 
            - if transportcolor.is_close
              %span.red удалено
          %td.edit= link_to image_tag("edit.png"), edit_transportcolor_path(transportcolor)
          %td.del{:title => "Удалить"}=  link_to image_tag("remove.png"), transportcolor, method: :delete, data: { confirm: 'Точно?' } unless transportcolor.is_close

  = link_to 'Добавить цвет', new_transportcolor_path, class: 'btn btn-primary'
