= form_for @task_type, :html => { :class => "form-horizontal" } do |f|
  -if @task_type.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@task_type.errors.count, "error")} p"

      %ul
        - @task_type.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :task_type, 'Тип задач', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :task_type, :class => 'form-control'
  .form-group
    = f.label :descr, 'Описание', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :descr, :class => 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Сохранить', :class => 'btn btn-primary'
      = link_to task_types_path, :class => 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt
          Вернуться