.page-header

  %h2 Типы задач

.table-responsive
  %table.table.table-striped.table-bordered.table-hover#task_types
    %thead
      %tr
        %th Тип задачи
        %th Описание
        %th
        %th
        %th

    %tbody
      - @task_types.each do |task_type|
        %tr
          %td= task_type.task_type
          %td= task_type.descr
          %td.show1= link_to image_tag("show.png"), task_type
          %td.edit= link_to image_tag("edit.png"), edit_task_type_path(task_type)
          %td.del= link_to image_tag("remove.png"), task_type, :data => { confirm: 'Точно?' }, :method => :delete

= link_to new_task_type_path, :class => 'btn btn-primary' do
  %span.glyphicon.glyphicon-plus
  Новый тип задач
