.page-header
  %h2 Способы загрузки ТС

.col-md-6.col-md-offset-3

  %table#transportloadings
    %thead
      %tr
        %th Способ загрузки ТС
        %th Описание
        %th
        %th
    %tbody
      - @transportloadings.each do |transportloading|
        %tr
          %td
            = transportloading.loading 
            - if transportloading.is_close
              %span.red удалено
          %td= transportloading.descr
          %td.edit= link_to image_tag("edit.png"), edit_transportloading_path(transportloading)
          %td.del{:title => "Удалить"}= link_to image_tag("remove.png"), transportloading, method: :delete, data: { confirm: 'Точно?' } unless transportloading.is_close

  = link_to 'Добавить способ загрузки', new_transportloading_path, class: 'btn btn-primary'
