= save_reports_xls((['Тип АЗС', 'Кол-во литров', '%']), ([] + @azs_litres << ['Итого', @total_litres, '100']))

.table-responsive
  %table.table-striped.table-bordered.table-hover#azs_litres{:style => "table-layout: fixed;"}
    %thead
      %tr
        %th Тип АЗС
        %th Кол-во литров  
        %th &#37;
    %tbody
      - @azs_litres.each do |azs|
        %tr
          - azs.each do |item|
            %td= item
  %table.table-striped.table-bordered.table-hover{:style => "table-layout: fixed;"}
    %tr
      %td Итого:
      %td= @total_litres
      %td 100