= save_reports_xls((['Наименование АЗС', 'Кол-во литров', '%']), ([] + @azs_litres << ['Итого', @total_litres, '100']))

.table-responsive
  %table.table-striped.table-bordered.table-hover#azs{:style => "table-layout: fixed;"}
    %thead
      %tr
        %th Наименование АЗС
        %th Кол-во литров  
        %th &#37;
    %tbody
      - @azs.each do |azs|
        %tr
          %td= link_to azs[0], {action: :info_by_azs_name, from: @from, to: @to, azs_name: azs[0]}, remote: true
          %td= azs[1]
          %td= azs[2]
  %table.table-striped.table-bordered.table-hover{:style => "table-layout: fixed;"}
    %tr
      %td Итого:
      %td= @total_litres
      %td 100