- if @fillup
  %table#fillup
    %thead#thead
      - @fillup.first.keys.each do |col|
        %th= col 

    %tbody#tbody
      - @fillup.each do |fillup|
        %tr
          - fillup.values.each do |f|
            %td= f

