- if @azs_info.blank?
  .alert.alert-warning Нет информации по АЗС
- else
  = save_reports_xls(@azs_info_col_names, @azs_info.each)
  %table
    %thead
      %tr
        - @azs_info_col_names.each do |name|
          %th= name 
    %tbody
      - @azs_info.each do |info|
        %tr
          - info.each do |i|
            %td= i
