%h2 Мониторинг заправок транспортных средств

= select_date_from_to "index", Time.now, Time.now
.col-md-10.col-md-offset-1
  = link_to "Сохранить XLS",  {action: 'save_xls', format: :xls}, class: 'btn btn-success btn-sm'
  #index.clearfix
    = render 'fillup'

