.page-header

  %h2 Действия по задаче

.table-responsive
  %table.table.table-striped.table-bordered.table-hover#task_actions
    %thead
      %tr
        %th Действие по задаче
        %th Описание
        %th Удалено
        %th
        %th
        %th

    %tbody
      - @task_actions.each do |task_action|
        %tr
          %td= task_action.name
          %td= task_action.descr
          %td= task_action.is_close
          %td.show1= link_to image_tag("show.png"), task_action
          %td.edit= link_to image_tag("edit.png"), edit_task_action_path(task_action)
          %td.del= link_to image_tag("remove.png"), task_action, :data => { confirm: 'Точно?' }, :method => :delete unless task_action.is_close

  = link_to new_task_action_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
      Новое действие по задаче
