.page-header


  %h2 Просмотр действия по задаче

%dl.dl-horizontal
  %dt Действие по задаче:
  %dd= @task_action.name
  %dt Описание:
  %dd= @task_action.descr
  %dt Удалено:
  %dd= @task_action.is_close

= link_to edit_task_action_path(@task_action), :class => 'btn btn-primary' do
  %span.glyphicon.glyphicon-pencil
    Редактировать
= link_to task_actions_path, :class => 'btn btn-default' do
  %span.glyphicon.glyphicon-list-alt
    Вернуться