
<% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @contract.errors.count %></h2>

      <ul>
      <% @contract.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@contract) do |f| %>
  <table>
    <tr>
      <th><%= f.label :contract_number, "Номер договора" %></th>
      <td><%= f.text_field :contract_number %></td>
    </tr>
    <tr>
      <th>  <%= label_tag "Предмет договора" %></th>
      <td>  <%= select_tag(:contract_kind,  options_for_select(ContractSubject.visible.map { |m| [m.name, m.id] }, 
              { selected: @contract.contract_subkind_id ? @contract.contract_subkind.contract_kind.id : nil}) , {prompt: "Выберите предмет договора" }) %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :contract_subkind_id, "Вариант предмета договора" %></th>
      <td><%= f.select(:contract_subkind_id,  options_for_select(ContractSubjectSelect.visible.map { |m| [m.name, m.id, { class: m.contract_kind_id}] },
              { selected: @contract.contract_subkind_id ? @contract.contract_subkind_id : nil }), { prompt: "Выберите вариант предмета договора" }) %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :start_date, "Дата начала действия договора" %></th>
      <td><%= f.text_field :start_date %></td>
    </tr>
    <tr>
      <th><%= f.label :end_date, "Дата окончания действия договора" %></th>
      <td><%= f.text_field :end_date %></td>
    </tr>
    <tr>
      <th><%= f.label :is_close, "Удален" %></th>
      <td><%= f.check_box :is_close %></td>
    </tr>
    <tr>
      <th colspan="2"><%= f.submit "Сохранить" %> <%= link_to 'Вернуться', contracts_path %></th>
    </tr>
  </table>
<% end %>

<script>
      $('#contract_start_date').datetimepicker({ format:'d/m/Y'});
      $('#contract_end_date').datetimepicker({ format:'d/m/Y'});

      $(function() { $("#contract_contract_subkind_id").chained("#contract_kind"); });
</script>