<h2>Договоры</h2>


<%#= will_paginate @contracts, class: "apple_pagination" %>
<table>
<tr><th><%= button_to 'Новый договор', new_contract_path, method: :get %></th></tr>
</table>
<table id="contracts" class="display">
  <thead>
  <tr>
    <th>Номер договора</th>
    <th>Предмет договора</th>
    <th>Вариант предмета договора</th>
    <th>Дата начала действия договора</th>
    <th>Дата окончания действия договора</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>

<% @contracts.each do |contract| %>
  <tr>
    <td><%= contract.contract_number %></td>
    <td><%= contract.contract_subkind.contract_kind.name %></td>
    <td><%= contract.contract_subkind.name %></td>
    <td><%= contract.start_date %></td>
    <td><%= contract.end_date %></td>
     <td class="show1">
      <%= link_to image_tag("show.png"), contract %> 
    </td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_contract_path(contract) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), contract, method: :delete, data: { confirm: 'Точно?' } unless contract.is_close %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>
<table>
<tr><th><%= button_to 'Новый договор', new_contract_path, method: :get if @contracts.size > 10 %></th></tr>
</table>

<%#= will_paginate @contracts, class: "apple_pagination"  %>