<h2>Просмотр договора</h2>
<table>

  <tr>
    <th>Номер договора:</th>
    <td><%= @contract.contract_number %></td>
  </tr>
  <tr>
    <th>Предмет договора:</th>
    <td><%= @contract.contract_subkind.contract_kind.name %></td>
  </tr>
  <tr>
    <th>Вариант предмета договора:</th>
    <td><%= @contract.contract_subkind.name %></td>
  </tr>
  <tr>
    <th>Дата начала действия договора:</th>
    <td><%= @contract.start_date %></td>
  </tr>
  <tr>
    <th>Дата окончания действия договора:</th>
    <td><%= @contract.end_date %></td>
  </tr>
  <tr>
    <th>Удален:</th>
    <td><%= 'Удален' if @contract.is_close  %></td>
  </tr>
  <tr>
    <th>
    <%= link_to 'Редактировать', edit_contract_path(@contract) %>
    <%= link_to 'Вернуться', contracts_path %>
    </th>
  </tr>
</table>

 

