= render 'modal'

.page-header
  %h2 Дежурные

.col-md-10.col-md-offset-1

  %a.btn.btn-sm.btn-success.clearfix{"data-backdrop" => "static", "data-target" => "#modal", "data-toggle" => "modal", :href => ""}
    %span.glyphicon.glyphicon-plus 
      Новые дежурные
  %hr
  %table#duties
    %thead
      %tr
        %th Фио:
        %th Начало смены:
        %th Окончание смены:
        %th Логист:
        %th Менеджер:
        /%th Пользователь/
        %th 
        %th 
    %tbody
      - @duties.each do |duty|
        %tr
          %td= duty.fio
          %td= duty.MomentFrom.strftime("Дата: %d.%m.%Y. Время: %k:%M")
          %td= duty.MomentTo.strftime("Дата: %d.%m.%Y. Время: %k:%M")
          %td= "Логист" if duty.IsLog
          %td= "Менеджер" if duty.IsMan
          /%td= duty.user_id
          %td.edit= link_to image_tag("edit.png"), edit_duty_path(duty)
          %td.del{:title => "Удалить"}= link_to image_tag("remove.png"), duty, method: :delete, data: { confirm: 'Точно?' }