%table#truck_responsibles
  %thead
    %tr
      %th Тягач
      %th Основной ответственный
      %th Временный ответственный I уровня
      %th Период I
      %th Временный ответственный II уровня
      %th Период II
  %tbody
    - @trucks.each do |truck|
      %tr{:class => "#{truck['TruckId']} #{'select_green' if @truck and @truck['TruckId'] == truck['TruckId']}"}
        %td= link_to truck['TruckName'], truck_responsibles_show_responsibles_path(truck_id: truck['TruckId']), remote: true, class: "btn btn-default btn-xs", style: "width: 100%"
        %td= truck['ResponsiblePersonName']
        %td= truck['SubResponsiblePersonName']
        %td= "#{truck['SubResponsibleStartDate'].try('.to_time.strftime("%d.%m.%Y %k:%M")')} - #{truck['SubResponsibleEndDate'].try('.to_time.strftime("%d.%m.%Y %k:%M")')}"
        %td= truck['SubSubResponsiblePersonName']
        %td= "#{truck['SubSubResponsibleStartDate'].try('.to_time.strftime("%d.%m.%Y %k:%M")')} - #{truck['SubSubResponsibleEndDate'].try(:'.to_time.strftime("%d.%m.%Y %k:%M")')}"



