.row
  .col-md-8
    .panel.panel-default
      .panel-heading 
        %h2 Ответственные за тягачи
      #list.panel-body
        - unless @error
          = render "index"
        - else
          .alert.alert-danger= @error
  #responsibles_controls.col-md-4
    /.well.well-sm.btn-toolbar#responsibles_buttons
    /  =# render 'responsibles_buttons'

    #show_temp_responsibles
      = render 'show_temp_responsibles'

    #show_main_responsibles
      = render 'show_main_responsibles'

    .panel.panel-warning
      .panel-heading Тягачи без назначенных ответственных
      #show_trucks_no_responsibles.panel-body.bg-info
        - unless @error
          = render 'trucks_no_responsibles'

