- if params[:main]
  $("#popup_content").html("#{j render 'main_form'}");
  $("#popup_head span").html("Новый основной ответственный за тягач");
- else
  $("#popup_content").html("#{j render 'temp_form'}");
  $("#popup_head span").html("Новый временный ответственный за тягач");
$("#popup").css('top','300px');
$("#popup").show();


