.page-header
  %h2 Типы двигателя ТС

.col-md-6.col-md-offset-3

  %table#enginetypes
    %thead 
      %tr
        %th Тип двигателя ТС
        %th Модели двигателя ТС
        %th 
        %th 
    %tbody
      - @enginetypes.each do |enginetype|
        %tr
          %td
            %strong= enginetype.name
            - if enginetype.is_close
              %span.red удалено
          %td= enginetype.enginemodels.pluck(:name).join('; ')
          %td.edit= link_to image_tag("edit.png"), edit_enginetype_path(enginetype) 
          %td.del{:title => "Удалить"}= link_to image_tag("remove.png"), enginetype, method: :delete, data: { confirm: 'Точно?' } unless enginetype.is_close

  = link_to 'Новый тип двигателея ТС', new_enginetype_path, class: 'btn btn-primary'

