


<% if @contractor_representative and @contractor_representative.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @contractor_representative.errors.count %></h2>

      <ul>
      <% @contractor_representative.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
      <%= link_to({controller: 'people', action: 'new_person'}, remote: true, class: 'btn btn-primary') do %>
        <span class="glyphicon glyphicon-plus">
        Создать физ.лицо (если нет в списке)
        </span>
      <% end %>     
<%= form_for(@contractor_representative) do |f| %>
  <table>
    <tr>
      <th><%= f.label :contractor_id, "Контрагент" %></th>
      <td><%= f.collection_select( :contractor_id, Contractor.outside, :id, :name,
                { selected: @contractor_representative.contractor_id ? @contractor_representative.contractor_id : nil, include_blank: "Выберите контрагента" } )%></td>
    </tr>
    <tr>
      <th><%= f.label :person_id, "Физ. лицо" %> </th>
      <td id="person">
          <%= f.collection_select( :person_id, Person.visible, :id, :fullname_passport,
              { prompt: @contractor_representative.person_id ? nil : "Выберите физ. лицо",
              selected: @contractor_representative.person_id ? @contractor_representative.person_id : nil}  )%>
      </td>
    </tr>
    <tr>
      <th><%= f.label :position_id, "Должность" %></th>
      <td><%= f.collection_select( :position_id, Position.visible, :id, :name,
              { prompt: @contractor_representative.position_id ? nil : "Выберите должность",
              selected: @contractor_representative.position_id ? @contractor_representative.position_id : nil}  )%></td>
    </tr>
    <tr>
      <th><%= f.label :start_date, "Начало взаимодействия" %></th>
      <td><%= f.text_field :start_date %></td>
    </tr>
    <tr>
      <th><%= f.label :end_date, "Окончание взаимодействия" %></th>
      <td><%= f.text_field :end_date %></td>
    </tr>
    <tr>
      <th><%= f.label :is_close, "Удален" %></th>
      <td><%= f.check_box :is_close %></td>
    </tr>
   </table>

  
<%= f.submit "Сохранить", class: "btn btn-success" %> <%= link_to 'Вернуться', contractor_representatives_path, class: "btn btn-inverse" %>
<% end %>


<script>
      $('#contractor_representative_start_date').datetimepicker({ format:'d/m/Y'});
      $('#contractor_representative_end_date').datetimepicker({ format:'d/m/Y'});
</script>