%h2 Представители контрагентов
= render 'modal'

/  = link_to new_contractor_representative_path, class: "btn btn-primary" do
/    %span.glyphicon.glyphicon-plus Новый представитель контрагента


%a.btn.btn-sm.btn-success{"data-backdrop" => "static", "data-target" => "#modal", "data-toggle" => "modal", :href => "#"}
  %span.glyphicon.glyphicon-plus
    Новый представитель контрагента

#index
  = render 'index'



