.panel.panel-primary
  .panel-heading Согласование
  .panel-body
    .row
      .col-md-12
        - unless @agree
          = form_tag url_for(action: 'agree'), remote: true do 
            = hidden_field_tag :OrderFromKey, @from_key
            = hidden_field_tag :OrderToKey, @to_key
            = hidden_field_tag :truck, @truck
            .form-group.input-group
              %span.input-group-addon
                %i Комментарий к согласованию:
              = text_area_tag :note, '', class: "form-control" 
            = submit_tag "Согласовать", class: "btn btn-success"
        - else
          %table
            %thead
              %tr
                %th Дата согласования:
                %th Кем согласовано:
                %th Комментарий:
                %th 
            %tbody
              %tr
                %td= @agree.created_at + 3.hour
                %td= User.find(@agree.user_id).fullname
                %td= @agree.note
                %td= link_to image_tag("remove.png"), {action: 'disagree', OrderFromKey: @agree.OrderFromKey, OrderToKey:@agree.OrderToKey, truck: @truck}, |
                      method: :delete, data: { confirm: 'Точно отменить согласование?' }, remote: true, title: "отменить согласование" 


