#filter_and_search
  = link_to "Фильтрация", {action: "show_filter_and_search"}, remote: true, :disable_with => 'loading...', class: 'btn btn-primary btn-sm'
  = link_to "Сбросить фильтры", {action: :save_param, clear: true}, remote: true, class: 'btn btn-info btn-sm'
  = link_to "Показать все", {action: :save_param, all: true}, remote: true, class: 'btn btn-default btn-sm'
  = link_to "XLS",  {action: 'save_xls', format: :xls}, class: 'btn btn-success btn-sm' 
