.page-header
  %h2 
    Мониторинг стыковок #{'- СОГЛАСОВАНО' if user_session[:conn_agreed] == 'true'}
    = "(#{@connections_count})" 
  - if user_ability_con   
    = link_to "Согласовать (#{user_session[:conn_entrys].size})", {action: :quick_agrees}, remote: true, class: "btn btn-success btn-sm pull-right" unless user_session[:conn_entrys].blank?
    - if user_session[:conn_agreed] == 'true'
      = link_to "К не согласовынным", save_param_monitoring_connections_path(agreed:  'false'), remote: true, class: "btn btn-info btn-sm" 
    - else
      = link_to "К согласованным", save_param_monitoring_connections_path(agreed:  'true'), remote: true, class: "btn btn-warning btn-sm" 
  
  %ul#filters_drag.text-center
    - @filter.each_with_index do |filter, ind| 
      %li
        = link_to "#{filter[0]}:  #{filter[1]}.", save_param_monitoring_connections_path(id: ind), method: :delete, remote: true, class: "label label-primary glyphicon glyphicon-remove", title: "Сбросить фильтр", data: {filter: ind}


      = "Поле: #{@col_name}. Поиск: #{@search}." if  @search

= ajax_will_paginate @connections, class: "apple_pagination"
