$('#a_paginate').html("#{j render 'paginate'}");
$('#thead').html("#{j render 'connections_thead'}");
$('#tbody').html("#{j render 'connections_tbody'}");

//if (xhr) {xhr.abort();}; 
//xhr = $.get('/monitoring_connections/index.js');};
