
<% if @employee_history.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @employee_history.errors.count %></h2>

      <ul>
      <% @employee_history.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@employee_history) do |f| %>
  <table>
    <tr>
      <th><%= f.label :id, "" %></th>
      <td><%= f.text_field :id %></td>
    </tr>
    <tr>
      <th><%= f.label :employee_id, "" %></th>
      <td><%= f.text_field :employee_id %></td>
    </tr>
    <tr>
      <th><%= f.label :employment_date, "" %></th>
      <td><%= f.date_select :employment_date %></td>
    </tr>
    <tr>
      <th><%= f.label :leaving_date, "" %></th>
      <td><%= f.date_select :leaving_date %></td>
    </tr>
    <tr>
      <th><%= f.label :start_date, "" %></th>
      <td><%= f.date_select :start_date %></td>
    </tr>
    <tr>
      <th><%= f.label :end_date, "" %></th>
      <td><%= f.date_select :end_date %></td>
    </tr>
    <tr>
      <th><%= f.label :contractor_id, "" %></th>
      <td><%= f.text_field :contractor_id %></td>
    </tr>
    <tr>
      <th><%= f.label :contractor_name, "" %></th>
      <td><%= f.text_field :contractor_name %></td>
    </tr>
    <tr>
      <th><%= f.label :department_id, "" %></th>
      <td><%= f.text_field :department_id %></td>
    </tr>
    <tr>
      <th><%= f.label :department_name, "" %></th>
      <td><%= f.text_field :department_name %></td>
    </tr>
    <tr>
      <th><%= f.label :position_id, "" %></th>
      <td><%= f.text_field :position_id %></td>
    </tr>
    <tr>
      <th><%= f.label :position_name, "" %></th>
      <td><%= f.text_field :position_name %></td>
    </tr>
    <tr>
      <th><%= f.label :person_id, "" %></th>
      <td><%= f.text_field :person_id %></td>
    </tr>
    <tr>
      <th><%= f.label :staff_unit_id, "" %></th>
      <td><%= f.text_field :staff_unit_id %></td>
    </tr>
    <tr>
      <th colspan="2"><%= f.submit "Сохранить" %> <%= link_to 'Вернуться', employee_histories_path %></th>
    </tr>
  </table>
<% end %>
