
<table>

  <tr>
    <th>Сотрудник:</th>
    <td><%= @unv_employee.employee.person.fullname %></td>
  </tr>
  <tr>
    <th>Штатная единица:</th>
    <td><%= @unv_employee.employee.staff_unit.cdp %></td>
  </tr>
  <tr>
    <th>Тип недоступности:</th>
    <td><%= @unv_employee.unv_type.name %></td>
  </tr>
  <tr>
    <th>Запланированное начало:</th>
    <td><%= @unv_employee.planned_start.strftime("%d.%m.%Y") %></td>
  </tr>
  <tr>
    <th>Запланированное окончание:</th>
    <td><%= @unv_employee.planned_end.strftime("%d.%m.%Y") %></td>
  </tr>
  <tr>
    <th>Фактическое начало:</th>
    <td><%= @unv_employee.actual_start %></td>
  </tr>
  <tr>
    <th>Фактическое окончание:</th>
    <td><%= @unv_employee.actual_end %></td>
  </tr>
  <tr>
    <th>
    <%= button_to 'Редактировать', edit_unv_employee_path(@unv_employee) %>
    </th>
  </tr>
</table>

 

