.well.well-sm
  %span.badge= @agreement_request.start_date
  %span.label.label-info=  @agreement_request.agreement.name if @agreement_request.agreement
.panel.panel-default
  .panel-heading= @agreement_request.req_subject
  .panel-body
    = raw @agreement_request.req_text.gsub('&lt;', '<',).gsub('&gt;', '>') if @agreement_request.req_text

