.page-header

  %h2 Согласования
  = render 'agreement_links'

%table#agreement_requests
  %thead
    %tr
      %th Согласование
      %th Тема запроса на согласование
      %th Текст запроса на согласование
      %th Момент запроса на согласование
      %th Момент согласования
      %th Результат согласования
      %th Штатные единицы
      %th Подтвердившие сотрудники
      %th Отказавшие сотрудники



  %tbody
    - @agreement_requests.each do |agreement_request|
      %tr
        %td= agreement_request.agreement.name if agreement_request.agreement
        %td= agreement_request.req_subject
        - req_text = strip_tags(agreement_request.req_text.gsub('&lt;', '<',).gsub('&gt;', '>')) if agreement_request.req_text
        %td{:title => "#{req_text}"}= link_to truncate(req_text), agreement_request, remote: true, class: 'btn btn-default btn-xs' if agreement_request.req_text
        %td= agreement_request.start_date
        %td= agreement_request.status_updated_at
        %td= case agreement_request.status; when 0; "Ожидание"; when 1; "Да"; when 2; "Нет"; when 3; "Просрочено"; end
        %td= agreement_request.agreement.agreement_accesses.map{|m| m.staff_unit.position_name if m.staff_unit }.join('; ')
        %td= agreement_request.persons_yes
        %td= agreement_request.persons_no

:javascript
  $('#popover').popover({html : true});
