- unless @agreement_requests.blank?
  #toggle_click.btn.btn-info.btn-xs Архив
  #toggle_content
    - @agreement_requests.each do |req|
      .panel.panel-info
        .panel-heading 
          %span.label.label-info= req.start_date if req.start_date
          = req.req_subject
        .panel-body
          = raw req.req_text.gsub('&lt;', '<',).gsub('&gt;', '>')
          %table
            %thead
              %tr
                %th Ответил
                %th Дата
                %th Текст ответа
                %th Ответ
            %tbody
              - req.question_answers.each do |answ|
                %tr 
                  %td= answ.person.fullname if answ.person
                  %td= answ.question_date
                  %td= answ.answer_text
                  %td= answ.answer_variant.downcase == 'yes' ? 'Да' : 'Нет'

:coffeescript
  $(document).ready ->
    $("#toggle_click").click ->
      $("#toggle_content").toggle('slow')
    return

