- if @content['Result'] == 'Bad'
  .alert{:class => 'alert-danger', "role" => 'alert'}
    =@content['ErrorMessage']
- elsif @questions.blank?
  .alert{:class => 'alert-danger', "role" => 'alert'}
    Вопросов нет
- else
  - @questions.each_with_index do |question, ind|
    - @locked = LockedQuestion.locked_q?(question['Parent'])
    .well.well-sm{:style => "margin-bottom:5px; padding: 3px; overflow: hidden; text-overflow: ellipsis;", :id => "#{question['Id'].downcase}"}
      /= question
      - if question['QuestionTypeId'] == 3
        - if @locked && @locked.user_id.downcase != current_user.id.downcase
          .badge Блокировано: #{User.find(@locked.user_id).fullname}. #{@locked.created_at + 3.hours}
          %br
          .btn.btn-danger.btn-sm{:style => "overflow: hidden; text-overflow: ellipsis;"}
            .badge{:style => "min-width: 35px;"}= @questions.size - ind
            .label.label-info=  question['Created'].to_datetime if question['Created']
            = highlight(question['Subject'], 'НЕРЕКОМЕНДОВАННОЙ')
        - else
          = link_to url_for(action: :show_prm_question, id: question['Id']), class: "btn btn-default btn-sm", style: "overflow: hidden; text-overflow: ellipsis; width: 100%; display: block; text-align: left; background-color: #{question['Color'] || 'white'}", remote: true do 
            .badge{:style => "min-width: 35px;"}= @questions.size - ind
            .label.label-info= question['Created'].to_datetime if question['Created']
            = question['Subject']
      - else
        - if @locked && @locked.user_id.downcase != current_user.id.downcase
          .badge Блокировано: #{User.find(@locked.user_id).fullname}. #{@locked.created_at + 3.hours}
          %br
          .btn.btn-danger.btn-sm{:style => "overflow: hidden; text-overflow: ellipsis;"}
            .badge{:style => "min-width: 35px;"}= @questions.size - ind
            .label.label-info=  Time.at((question['Created'].to_i - 116444736000000000) / 10000000).to_datetime
            = highlight(question['Subject'], 'НЕРЕКОМЕНДОВАННОЙ')
        - else
          - style = 
          - if question['Subject'].scan(/лента/i).any?
            - 'api_lenta'
          - elsif question['Subject'].scan(/\(01/i).any? || question['Subject'].scan(/\(00/i).any?
            - 'api_nizkii'
          - elsif question['Subject'].scan(/Контроль/i).any?
            - 'api_kontrol'
          - elsif question['Subject'].scan(/рекомендованн/i).any?
            - 'api_rekomendovan'
          = link_to url_for(action: :show_question, id: question['Id']), class: "btn btn-default btn-sm #{style}", style: "overflow: hidden; text-overflow: ellipsis;", remote: true do 
            .badge{:style => "min-width: 35px;"}= @questions.size - ind
            .label.label-info=  Time.at((question['Created'].to_i - 116444736000000000) / 10000000).to_datetime
            = question['Subject']


    

     
