.well.well-sm
  = form_tag url_for(action: :get_azs), id: 'get_azs', remote: true do 
    = hidden_field_tag :transport_key
    .form-group.input-group
      %span.input-group-addon
        %i Выберите тягач:
      = text_field_tag :transport, nil, class: "form-control" 

  #waiting 
    Подождите
    =image_tag("ajax-loader.gif")
#azs
  .alert.alert-warning Получение данных может занять некоторое время

%script
  var transports = [
  - @truck_drivers.each do |t| 
    { value: "#{t['TransportKey']}", label: "#{t['TruckInfo']}" },
  ]

  $("#transport").autocomplete({
  source: transports,	
  focus: function(event, ui) {event.preventDefault();	$(this).val(ui.item.label);},
  select: function(event, ui) {event.preventDefault(); $(this).val(ui.item.label); $("#transport_key").val(ui.item.value);},
  close: function( event, ui ) {$("#azs").html(""); $("#waiting").show(); $("#get_azs").submit()}
  });