.page-header
  %h2 Монитор задач
.col-md-offset-2.col-md-8.well.well-sm
  = link_to '+' , {action: :show_add}, remote: true, class: 'btn btn-default'


#api_questions.col-md-offset-2.col-md-8
  = render 'prm_questions'

:javascript
  var xhr;
  setInterval("if (xhr) xhr.abort(); xhr = $.get('/api/prm_questions.js');", 5000);   
  $("title").text(" #{@prm_questions.size if @prm_questions}. ")  

