.page-header
  %h2 Задачи
.well.well-sm.col-lg-10.col-lg-offset-1.col-sm-12.col-md-12.col-xs-12
  = link_to '+' , {action: :show_add}, remote: true, class: 'btn btn-default'


#api_questions.col-lg-10.col-lg-offset-1.col-sm-12.col-md-12.col-xs-12
  = render 'questions'

:javascript
  var xhr;
  setInterval("if (xhr) xhr.abort(); xhr = $.get('/api/questions.js');", 5000);    
  $("title").text("#{@questions.size} вопросов.")  

