if (xhr) xhr.abort();
- if @resp['Result'] == 'Bad'
  $("#popup_head span").html("Отправка ответа");
  $("#popup_content").html("#{j render 'reply'}");
- else
  $("#popup").hide();
  $("#popup_content").html("");
  $("##{@id.downcase}").fadeOut('slow');
  notice('Ответ отправлен');  
  
$("#api_questions").html("#{j render 'questions'}");


