$("#popup_content").html("#{j render 'question'}");
- if @question['Parent']
  $.get("/api/lock_question", {id : "#{@question['Parent']}"});
$("#popup_head span").html("Вопрос");
$("#popup").css("top", "150px");
$("#popup").show();


