= form_for @booking_type, :html => { :class => "form-horizontal" } do |f|
  -if @booking_type.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@booking_type.errors.count, "error")} "

      %ul
        - @booking_type.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, 'Бронь', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, :class => 'form-control'
  .form-group
    = f.label :release_limit, 'Срок жизни брони после высвобождения ресурса', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :release_limit, :class => 'form-control'
  .form-group
    = f.label :is_close, 'Удалена', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.check_box :is_close
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Сохранить', :class => 'btn btn-primary'
      = link_to booking_types_path, :class => 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt
          Вернуться