.page-header

  %h2 Типы броней

.table-responsive
  %table.table.table-striped.table-bordered.table-hover#booking_types
    %thead
      %tr
        %th Бронь
        %th Срок жизни брони после высвобождения ресурса
        %th Удалена
        %th
        %th
        %th

    %tbody
      - @booking_types.each do |booking_type|
        %tr
          %td= booking_type.name
          %td= booking_type.release_limit
          %td= booking_type.is_close
          %td.show1= link_to image_tag("show.png"), booking_type
          %td.edit= link_to image_tag("edit.png"), edit_booking_type_path(booking_type)
          %td.del= link_to image_tag("remove.png"), booking_type, :data => { confirm: 'Точно?' }, :method => :delete

  = link_to new_booking_type_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
      Новый тип брони
