.page-header


  %h2 Просмотр типа брони

%dl.dl-horizontal
  %dt Бронь:
  %dd= @booking_type.name
  %dt Срок жизни брони после высвобождения ресурса:
  %dd= @booking_type.release_limit
  %dt Удалена:
  %dd= @booking_type.is_close

= link_to edit_booking_type_path(@booking_type), :class => 'btn btn-primary' do
  %span.glyphicon.glyphicon-pencil
    Редактировать
= link_to booking_types_path, :class => 'btn btn-default' do
  %span.glyphicon.glyphicon-list-alt
    Вернуться