.page-header
  %h2 Доступ к согласованиям

.col-md-8.col-md-offset-2
  = link_to new_agreement_access_path, :class => 'btn btn-primary btn-sm' do
    %span.glyphicon.glyphicon-plus
      Новый доступ к согласованию
  %hr
  %table#agreement_accesses
    %thead
      %tr
        %th Согласование
        %th Штатная единица
        %th Необходимо
        %th
        %th
    %tbody
      - @agreement_accesses.each do |agreement_access|
        %tr
          %td= agreement_access.agreement.name if agreement_access.agreement
          %td= agreement_access.staff_unit.cdp
          %td= agreement_access.necessary ? 'Да' : 'Нет'
          %td.edit= link_to image_tag("edit.png"), edit_agreement_access_path(agreement_access)
          %td.del= link_to image_tag("remove.png"), agreement_access, data: { confirm: 'Точно?' }, method: :delete unless agreement_access.is_close

