- @get_bookings.each do |bkg|
  %tr
    %td{:title => "#{@col_names[12]}"}= bkg.current_status
    %td{:title => "#{@col_names[13]}"}= bkg.current_operation
    %td{:title => "#{bkg.logist_comment}"}= truncate(bkg.logist_comment)
    - if (bkg.current_status == 'Готов' and bkg.next_entry_num.blank?)
      - release_date_class = 'booking_released'
    - if bkg.color_release_date
      - release_date_class = "background-color: #{bkg.color_release_date}; background-image: none;"
    %td{:title => "#{@col_names[14]}", :style => "#{release_date_class}"}
      = bkg.release_date
    %td{:title => "#{@col_names[16]}", :style => "#{release_date_class}"}
      = bkg.release_time
    %td{:title => "#{bkg.coord_last_comment}"}= truncate(bkg.coord_last_comment)
    %td{:title => "#{bkg.part}"}
      - if bkg.can_select_truck
        = link_to '', url_for(action: :select_truck, order_key: bkg.order_key, next_entry_num: bkg.next_entry_num), remote: true, style: 'color: green', title: 'Назначение ресурса', class: "glyphicon glyphicon-road"
    %td{:title => "#{@col_names[18]}", :class => "#{'booking_expensive' if bkg.expensive}"}= bkg.next_entry_num
    %td{:title => "#{@col_names[19]}"}= bkg.manager_name
    %td{:title => "#{@col_names[20]}"}= bkg.contractor_next_entry
    %td{:title => "#{@col_names[21]}"}= bkg.region_loading
    %td{:title => "#{@col_names[22]}"}= bkg.next_route_entry
    %td{:title => "#{@col_names[23]}"}= bkg.loading_date
    %td{:title => "#{@col_names[24]}"}= bkg.loading_time 
    %td{:title => "#{@col_names[25]}"}= bkg.tariff