%tr
  - @col_names.each_with_index do |col_name, ind|
    - if ind == 18
      %th Брони

    %th{:class => "table_th_#{ind} #{'sorted_th' if @sort_ind == ind.to_s}"}
      .dropdown.dropdown_bookings
        .dropdown-toggle{:id => "booking_qf#{ind}", "aria-expanded" => "true", "data-toggle" => "dropdown", :data => {:ind => "#{ind}", :col_name => "#{col_name}"}}
          = col_name 
          %span.caret
        %ul.dropdown-menu.booking_qf_ul{"aria-labelledby" => "booking_qf#{ind}", :role => "menu"}
          - unless @col_values.blank?
            - @col_values[ind].each do |value|
              %li= link_to value, save_param_bookings_path(filter: value, col_name: col_name, logic_op: 'И'), remote: true
          %li.divider
    
%tr
  - @col_names.each_with_index do |col_name, ind|
    - if ind == 18
      %th 
    %th.table_th_sort 
      = link_to '', "/#{controller.controller_name}/save_param?sort_ind=#{ind}&sort_dir=up",  | 
        class: "glyphicon glyphicon-sort-by-attributes #{'selected_sort' if @sort_ind == ind.to_s && @sort_dir == 'up' }", remote: true

      = link_to '', "/#{controller.controller_name}/save_param?sort_ind=#{ind}&sort_dir=down", |
        class: "glyphicon glyphicon-sort-by-attributes-alt #{'selected_sort' if @sort_ind == ind.to_s && @sort_dir == 'down'}", remote: true

:coffeescript
  $(document).ready ->
    $(".booking_qf_ul").click ->
      $(".dropdown_bookings").removeClass "open"
    return

  $(document).ready ->
    $('div[id^="booking_qf"]').click ->
      $.get "/bookings/get_column_values",
        col_name: $(this).data("col-name")
    return

