= form_for @resource_characteristic_value, html: { class: "form-horizontal res_char" }, remote: true do |f|
  -if @resource_characteristic_value.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@resource_characteristic_value.errors.count, "error")} "

      %ul
        - @resource_characteristic_value.errors.full_messages.each do |msg|
          %li= msg

  = f.hidden_field :resource_characteristic_id
  = f.hidden_field :truck_id
  = f.hidden_field :trailer_id
  = f.hidden_field :driver_id
  .alert.alert-warning= @info
  .form-group
    .alert.alert-warning.col-sm-5.control-label= @resource_characteristic.name
    .col-sm-5
      - if @resource_characteristic.value_type == 1
        = f.text_field :name, :class => 'form-control'
      - else
        = f.check_box :name, value: @resource_characteristic_value.name.to_i
      
  .form-group
    = f.label :start_date, 'Дата начала действия значения характеристики', :class => 'col-sm-5 control-label'
    .col-sm-5
      = f.text_field :start_date, :class => 'form-control select_date'
  .form-group
    = f.label :end_date, 'Дата окончания действия значения характеристики', :class => 'col-sm-5 control-label'
    .col-sm-5
      = f.text_field :end_date, :class => 'form-control select_date'
  .form-group
    .col-sm-offset-5.col-sm-5
      = f.submit 'Сохранить', :class => 'btn btn-primary', id: 'char_sub'


:coffeescript 
  $(":checkbox").checkboxpicker()
  $("#resource_characteristic_value_start_date").datetimepicker format: "d.m.Y"
  $("#resource_characteristic_value_end_date").datetimepicker format: "d.m.Y"
  $(".res_char").submit ->
    $("#char_sub").attr "disabled", true
    return

  