= form_for @booking, :html => { :class => "form-horizontal" } do |f|
  -if @booking.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@booking.errors.count, "error")} "

      %ul
        - @booking.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :booking_type_id, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :booking_type_id, :class => 'form-control'
  .form-group
    = f.label :truck_id, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :truck_id, :class => 'form-control'
  .form-group
    = f.label :trailer_id, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :trailer_id, :class => 'form-control'
  .form-group
    = f.label :driver_id, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :driver_id, :class => 'form-control'
  .form-group
    = f.label :user_id, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :user_id, :class => 'form-control'
  .form-group
    = f.label :comment, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :comment, :class => 'form-control'
  .form-group
    = f.label :status, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.check_box :status, :class => 'form-control'
  .form-group
    = f.label :status_user_id, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :status_user_id, :class => 'form-control'
  .form-group
    = f.label :start_date, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.datetime_select :start_date, :class => 'form-control'
  .form-group
    = f.label :end_date, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.datetime_select :end_date, :class => 'form-control'
  .form-group
    = f.label :source_id, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :source_id, :class => 'form-control'
  .form-group
    = f.label :target_id, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :target_id, :class => 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Сохранить', :class => 'btn btn-primary'
      = link_to bookings_path, :class => 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt
          Вернуться