- if @error
  .alert.alert-danger= @error
- else
  - if params[:to]
    = select_tag :to_location, options_for_select(@city_locations.map { |t| [ t.second, t.first ] } ), class: "form-control"
  - else
    = select_tag :from_location, options_for_select(@city_locations.map { |t| [ t.second, t.first ] } ), class: "form-control"