-if @booking.errors.any?
  .alert.alert-danger.alert-dismissable
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
    %h4= "#{pluralize(@booking.errors.count, "error")} "

    %ul
      - @booking.errors.full_messages.each do |msg|
        %li= msg

.panel.panel-default
  .panel-heading 
    Номер тягача:	
    %b= @truck_num
  .panel-body
    .well.well-sm
      Момент начала действия брони:	
      %b= @booking.start_date

    = form_for @booking, :html => { :class => "form-horizontal" }, remote: true do |f|
      = f.hidden_field :id
      = f.hidden_field :truck_id
      = f.hidden_field :trailer_id
      = f.hidden_field :driver_id
      = f.hidden_field :user_id
      = f.hidden_field :source_id
      = f.hidden_field :target_id
      = f.hidden_field :booking_type_id
      = f.hidden_field :status
      = f.hidden_field :start_date


      .control-group
        = f.label :end_date, 'Момент окончания действия брони:', :class => 'control-label'
        .controls
          = f.text_field :end_date, value: @booking.end_date, disabled: true
      .control-group
        = f.label :contractor_id, 'Контрагент', :class => 'control-label'
        .controls
          = f.collection_select( :contractor_id, Contractor.visible, :id, :short_name,
            { prompt: @booking.contractor_id ? nil : "Выберите контрагента",
            selected: @booking.contractor_id ? @booking.contractor_id : nil} , style: "width: 400px;"  )
      .control-group
        = f.label :comment, 'Комментарий:', :class => 'control-label'
        .controls
          = f.text_area :comment
      .control-group
        = f.submit 'Сохранить', :class => 'btn btn-primary', id: 'new_booking_sub'



%script 
  $('#booking_end_date').datetimepicker({timepicker:true});
  $('#new_booking').submit(function() { $('#new_booking_sub').attr("disabled", true); }); 