.page-header
  %h2 
    = @b_menu[:name]
    %span#get_bookings_count= @get_bookings_count
- unless @filter.blank?
  %ul#filters_drag.text-center
    - @filter.each_with_index do |filter, ind| 
      - case filter[2]
        - when 'И'
          - label = 'label-warning'
        - when 'И НЕ'
          - label = 'label-danger'
        - else
          - label = 'label-primary'
      %li
        = link_to "(#{filter[2]})#{filter[0]}: #{filter[1]}", save_param_bookings_path(id: ind), method: :delete, remote: true, |
          class: "label #{label} glyphicon glyphicon-remove", title: "Сбросить фильтр", data: {filter: ind}

= ajax_will_paginate @get_bookings, class: "apple_pagination" #if @filter.blank? #or @get_bookings.size > 200
= select_tag :per_page, options_for_select(['20','50','100', '150', '200', 'Все'], (@per_page.blank? ? 20 : @per_page)), style: "position: absolute; top: 25px;"
:javascript
  $('#per_page').change(function() {$.get('/bookings/save_param.js', { per_page: $('#per_page').val()})} );
  //$('#filters_drag').sortable({axis: 'y', stop: function(ev, ui) { $.post("/bookings/save_param", {filters: $(this).text()} )}; });
  //$('#filters_drag').sortable({axis: 'x', stop: function(ev, ui) { $.post("/bookings/save_param", {filters: $(this).text()} )};});
  getFilters = function(){a = []; t = $('#filters_drag li a').each(function() {a.push($(this).data('filter'));}); return a}
  $('#filters_drag').sortable({axis: 'x', stop: function( event, ui ) {param = getFilters(); $.get("/bookings/save_param", {sort_filters: JSON.stringify(param)})} });
