- if @error_save
  .alert.alert-danger= @error_save

- if @error
  .alert.alert-danger= @error
- else
  .panel.panel-default
    .panel-heading 
      Номер следующей заяки:
      = @next_entry_num 
    .panel-body
      = form_tag url_for(action: :save_truck), class: 'form-inline' , id: 'select_truck', remote: true do 
        = label_tag :truck, "Выберите тягач"
        = select_tag :truck, options_for_select(@trucks.map { |t| [ t.second, t.first ] } )
        = hidden_field_tag :order_key, @order_key
        = hidden_field_tag :next_entry_num, @next_entry_num

        = submit_tag "Выбрать", class: "btn btn-primary btn-sm", id: 'select_truck_sub'

:coffeescript
  $("#select_truck").submit ->
    $("#select_truck_sub").attr "disabled", true
    return 