.page-header


  %h2 Просмотр брони

%dl.dl-horizontal
  %dt Тип брони:
  %dd= booking.booking_type.name
  %dt Тягач:
  %dd= booking.truck_id
  %dt Прицеп:
  %dd= booking.trailer_id
  %dt Водитель:
  %dd= booking.driver_id
  %dt Создатель брони:
  %dd= booking.user.fullname
  %dt Комментарий:
  %dd= booking.comment
  %dt Статус:
  %dd= booking.status
  %dt Автор статуса:
  %dd= booking.status_user_id
  %dt Момент начала действия текущего состояния:
  %dd= booking.start_date
  %dt Момент окончания действия текущего состояния:
  %dd= booking.end_date
  %dt Объект-источник:
  %dd= booking.source_id
  %dt Объект назначения:
  %dd= booking.target_id
.clearfix

= link_to edit_booking_path(booking), :class => 'btn btn-primary' do
  %span.glyphicon.glyphicon-pencil
    Редактировать
= link_to bookings_path, :class => 'btn btn-default' do
  %span.glyphicon.glyphicon-list-alt
    Вернуться