#waiting_over= image_tag("ajax-loader2.gif")

#last_update.badge
  = Time.now.strftime("%k:%M:%S")
= render "filter_menu"
#a_paginate
  = render 'paginate'
/#date_filters.text-center
/  = render 'date_filters'

%table#get_booking
  %thead#thead
    = render "booking#{@b_menu[:part]}_thead"
  %tfoot
    = render "booking#{@b_menu[:part]}_tfoot"
  %tbody#tbody
    = render "booking#{@b_menu[:part]}_tbody"

:javascript
  var xhr;
  setInterval("if (xhr) xhr.abort(); xhr = $.get('/bookings/get_bookings.js');", 30000);
  

:coffeescript
  $(document).ready ->
    $(".content a").click ->
      $("#waiting_over").show()