#modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "largeModal", :role => "dialog", :style => "display: none;", :tabindex => "-1"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h4#modal-label.modal-title Брони
      .modal-body
 
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Закрыть

.page-header
  %h2 Брони

%a.btn.btn-sm.btn-success{"data-target" => "#modal", "data-toggle" => "modal", :href => "#"} Модальное
= link_to 'Хранимка', {action: :get_bookings}, class: 'btn'

.table-responsive
  %table.table.table-striped.table-bordered.table-hover#bookings
    %thead
      %tr
        %th Тип брони
        %th Тягач
        %th Прицеп
        %th Водитель
        %th Создатель брони
        %th Комментарий
        %th Статус
        %th Автор статуса
        %th Момент начала действия текущего состояния
        %th Момент окончания действия текущего состояния
        %th Объект-источник
        %th Объект назначения
        %th
        %th
        %th

    %tbody
      - @bookings.each do |booking|
        %tr
          %td= booking.booking_type.name
          %td= booking.truck_id
          %td= booking.trailer_id
          %td= booking.driver_id
          %td= booking.user.fullname
          %td= booking.comment
          %td= booking.status
          %td= booking.status_user_id
          %td= booking.start_date
          %td= booking.end_date
          %td= booking.source_id
          %td= booking.target_id
          %td.show1= link_to image_tag("show.png"), booking
          %td 
            %a.btn.btn-sm.btn-success{"data-target" => "#modal", "data-toggle" => "modal", "onclick" => "", :href => "#"} Модальное
          %td.edit= link_to image_tag("edit.png"), edit_booking_path(booking)
          %td.del= link_to image_tag("remove.png"), booking, :data => { confirm: 'Точно?' }, :method => :delete

  = link_to new_booking_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
      Новая бронь

%script
  $('#modal').on('show', function () {alert(this)})