= form_for @enginemodel, html: { role: "form" } do |f| 
  - if @enginemodel.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "Ошибок: #{@enginemodel.errors.count}"

      %ul
        - @enginemodel.errors.full_messages.each do |msg|
          %li= msg

  .form-group.input-group
    %span.input-group-addon
      %i Тип двигателя ТС
    = f.collection_select :enginetype_id, Enginetype.visible, :id, :name, |
              { prompt: @enginemodel.enginetype ? nil : "Выберите тип двигателя ТС", |
              selected: @enginemodel.enginetype ? @enginemodel.enginetype.id : nil} , class: "form-control" 
  .form-group.input-group
    %span.input-group-addon
      %i Модель двигателя ТС
    = f.text_field :name, class: "form-control" 
  .form-group.input-group
    %span.input-group-addon
      %i Мощность двигателя л.с
    = f.number_field :power, class: "form-control" 
  .form-group.input-group
    %span.input-group-addon
      %i Мощность двигателя кВт
    = f.number_field :power_kvt, class: "form-control" 
  .form-group.input-group
    %span.input-group-addon
      %i Рабочий объём двигателя
    = f.number_field :displacement, class: "form-control" 

  .form-group.input-group
    = f.label :is_close , 'Удалено'
    = f.check_box :is_close

  = f.submit "Сохранить", class: 'btn btn-primary'
  = link_to 'Вернуться к моделям двигателя ТС', enginemodels_path, class: 'btn btn-default'
