.page-header
  %h2 Модели двигателей ТС

.col-md-6.col-md-offset-3

  %table#enginemodels
    %thead 
      %tr
        %th Тип двигателя ТС
        %th Модель двигателя ТС
        %th Мощность двигателя
        %th Рабочий объём двигателя
        %th 
        %th 
    %tbody
      - @enginemodels.each do |enginemodel| 
        %tr
          %td= enginemodel.enginetype.name if enginemodel.enginetype 
          %td
            %strong= enginemodel.name
            - if enginemodel.is_close
              %span.red удалено
          %td= enginemodel.power
          %td= enginemodel.displacement
          %td.edit= link_to image_tag("edit.png"), edit_enginemodel_path(enginemodel)
          %td.del{:title => "Удалить"}= link_to image_tag("remove.png"), enginemodel, method: :delete, data: { confirm: 'Точно?' } unless enginemodel.is_close

  = link_to 'Новая модель двигателя ТС', new_enginemodel_path, class: 'btn btn-primary'

