- if @search_by_column
  = link_to "#{@col_names[@search_by_column[:ind].to_i]}: #{@search_by_column[:search]}", {action: :index, clear: 'search'}, method: :delete, remote: true, |
            class: "label label-primary glyphicon glyphicon-remove", title: "Сбросить поиск"

- if  @search or @filter 
  = link_to "#{@col_names[@col_ind.to_i]}: #{@search || @filter}", {action: :index, clear: 'filter'}, method: :delete, remote: true, |
            class: "label label-warning glyphicon glyphicon-remove", title: "Сбросить фильтр"

