.row.well.well-sm
  .form-group.input-group
    %span.input-group-addon
      %i Столбец:
    = select_tag :col_name, options_for_select(@filter_col_names), { prompt: "Выберите столбец", class: 'form-control'}

    %span.input-group-addon
      %i Значение:
    #select_filter
      %select{ :disabled => "disabled", :class => 'form-control'}
  %hr
  = text_field_tag :search , '' , class: 'form-control', disabled: 'disabled'

= form_tag '', id: 'find_from_col', class: "form-horizontal", method: :get, remote: true do |f|
  .form-group.input-group
    %span.input-group-addon
      %i Поиск по выбранному столбцу:
    = text_field_tag :search_by_column, @search_by_column ? @search_by_column[:search] : nil , class: "form-control", disabled: "disabled"
    = hidden_field_tag :col_ind, @ind
    %span.input-group-btn
      = submit_tag 'Искать', class: 'btn btn-primary', disabled: "disabled"

:coffeescript
  $(document).ready ->
    $("#col_name").change ->
      $.ajax
        url: "/status_ts/select_filter"
        data:
          col_name: $("#col_name").val()
        dataType: "script"
      return
    return


