%tr
  - @col_names.each_with_index do |cname, ind|
    %th{:class => "#{'sorted_th' if @sort_ind == ind.to_s}"}= cname

%tr
  - @col_names.each_with_index do |cname, ind|
    %th.table_th_sort 
      = link_to '', "/#{controller.controller_name}/#{action_name}.js?sort_ind=#{ind}&dir=up",  | 
        class: "glyphicon glyphicon-sort-by-attributes #{'selected_sort' if @sort_ind == ind.to_s && @dir == 'up' }", remote: true

      = link_to '', "/#{controller.controller_name}/#{action_name}.js?sort_ind=#{ind}&dir=down", |
        class: "glyphicon glyphicon-sort-by-attributes-alt #{'selected_sort' if @sort_ind == ind.to_s && @dir == 'down'}", remote: true

