%h2 
  Состояние ТC 
  %span#count (#{@ts_count})

#filter_status.text-center= render "filter_status"
#filter_menu= render "filter_menu"
#status_ts= render "index"


:javascript
  var xhr;
  setInterval("if (xhr) xhr.abort(); xhr = $.get('/status_ts/index.js');", 10000);
