%table
  %tr
    %th Роли
    %td= @user.roles.map(&:name).sort.join(', ')
    %td.edit
      = link_to action: "show_part", part: "user_role", id: @user, title: "Роли" , remote: true do
        %span.glyphicon.glyphicon-pencil 
  %tr
    %th Функциональные группы
    %td= @user.all_f_groups.map(&:name).sort.join(', ')
    %td.edit
      = link_to action: "show_part", part: "user_f_group", id: @user, title: "Функциональные группы" , remote: true do
        %span.glyphicon.glyphicon-pencil 
