.panel.panel-default
  .panel-heading
    %strong Данные пользователя
  .panel-body

    = form_for @user, html: { role: "form" } do |f|
      -if @user.errors.any?
        .alert.alert-danger.alert-dismissable
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
          %h4= "Ошибок: #{pluralize(@user.count)} "
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg
      .row
        .col-md-6
          .form-group.input-group
            %span.input-group-addon
              %i Физ. лицо
            = f.collection_select( :person_id, Person.visible, :id, :fullname, { selected: @user.person_id ? @user.person_id : nil,include_blank: "Нет" }, class: "form-control" )
          .form-group.input-group
            %span.input-group-addon
              %i Дополнительно
            = f.text_area :advanced, class: "form-control"  
          .form-group.input-group
            %span.input-group-addon @
            = f.text_field :email, placeholder: "Email", class: "form-control"
          .form-group.input-group
            %span.input-group-addon
              %i Пароль
            = f.password_field :password, value: '', class: "form-control" 
          .form-group.input-group
            %span.input-group-addon
              %i Подтвердите пароль
            = f.password_field :password_confirmation, value: '', class: "form-control"   

        .col-md-6
          .form-group.input-group
            %span.input-group-addon
              %i Фамилия
            = f.text_field :last_name, placeholder: "Фамилия", class: "form-control"
          .form-group.input-group
            %span.input-group-addon
              %i Имя
            = f.text_field :name, placeholder: "Имя", class: "form-control"
          .form-group.input-group
            %span.input-group-addon 
              %i Отчество
            = f.text_field :surname, placeholder: "Отчество", class: "form-control"
          .form-group.input-group
            %span.input-group-addon
              %i Администратор
            = f.check_box :admin
          .form-group.input-group
            %span.input-group-addon
              %i Удалено
            = f.check_box :is_close
      .text-center 
        = f.submit 'Сохранить', class: "btn btn-primary" 
        = link_to 'Вернуться к пользователям', users_path, class: "btn btn-default" 

      #additional= render "additional" if @user.id

:coffeescript
  $(":checkbox").checkboxpicker()

  $("#user_person_id").change ->
    $.ajax
      url: "/users/select_person"
      data:
        person: $("#user_person_id").val()
      dataType: "script"
    return

