.panel.panel-info
  .panel-heading= @user.fullname

  .panel-body
    %dl.dl-horizontal
      %dt 
        Физ. лицо:
      %dd= @user.person ? @user.person.fullname : "нет"
      %dt 
        Email:
      %dd= @user.email ? @user.email : "нет"
      %dt 
        Администратор:
      %dd= @user.admin ? "да" : "нет"
      %dt 
        Дополнительно:
      %dd= @user.advanced.blank? ? "нет" : @user.advanced
      %dt 
        Количество заходов:
      %dd= @user.sign_in_count ? @user.sign_in_count : "нет"
      %dt 
        Время последнего захода:
      %dd= @user.current_sign_in_at ? @user.current_sign_in_at : "нет"
      %dt 
        IP последнего захода:
      %dd= @user.current_sign_in_ip ? @user.current_sign_in_ip : "нет"
      %dt 
        IP (-1) захода:
      %dd= @user.last_sign_in_ip ? @user.last_sign_in_ip : "нет"

    .text-center.clearfix
      = link_to edit_user_path(@user), class: 'btn btn-primary btn-sm' do
        %span.glyphicon.glyphicon-pencil
          Редактировать

#additional= render "additional"
