- @current_roles = user.roles
- @addroles = Role.visible - @current_roles

- if @current_roles.any?
  .panel.panel-default
    .panel-heading Убрать роль:
    .panel-body
      - for role in @current_roles do
        %td
          = link_to url_for(action: "del_role_from_user", id: user , role: role ) , remote: true, data: { confirm: 'Точно?' }, class: "btn btn-danger btn-xs" do
            %span.glyphicon.glyphicon-remove
              = role.name

- if @addroles.any?
  .panel.panel-default
    .panel-heading Добавить роль:
    .panel-body
      = form_tag  url_for( action: 'select_role' , id: user) , remote: true do
        = collection_select(:role, :id, @addroles, :id, :name)
        = submit_tag "Добавить", class: "btn btn-primary btn-sm"

