<%= form_for(@temp) do |f| %>
  <% if @temp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@temp.errors.count, "error") %> prohibited this temp from being saved:</h2>

      <ul>
      <% @temp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :num1 %><br />
    <%= f.number_field :num1 %>
  </div>
  <div class="field">
    <%= f.label :str1 %><br />
    <%= f.text_field :str1 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
