<h1>STREAM</h1>

<div id="upd"> </div>
<script>
  $(document).ready(function(){
   var source = new EventSource("/temps/strm2");
   source.addEventListener('update', function(e){
      $('#upd').html(e.data)
   });

});
  
</script>

<br/>
<br/>
<br/>




