<h2>Типы недоступности</h2>


<%#= will_paginate @unv_types, class: "apple_pagination" %>
<table>
<tr><th><%= button_to 'Новый тип недоступности', new_unv_type_path, method: :get %></th></tr>
</table>
<table id="unv_types">
  <thead>
  <tr>
    <th>Тип ресурса</th>
    <th>Наименование</th>
    <th>Описание</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @unv_types.each do |unv_type| %>
  <tr>
    <td><%= unv_type.resourse_type.name if unv_type.resourse_type %></td>
    <td><%= unv_type.name %></td>
    <td><%= unv_type.descr %></td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_unv_type_path(unv_type) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), unv_type, method: :delete, data: { confirm: 'Точно?' } unless unv_type.is_close %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>
<table>
<tr><th><%= button_to 'Новый тип недоступности', new_unv_type_path, method: :get if @unv_types.size > 10 %></th></tr>
</table>

<%#= will_paginate @unv_types, class: "apple_pagination"  %>