.page-header
  %h2 Марки ТС

.col-md-8.col-md-offset-2
  = link_to 'Добавить марку ТС', new_transportbrand_path, class: 'btn btn-primary'
  = letter_pagination @letters

  %table#transportbrands
    %thead 
      %tr
        %th Марка ТС
        %th Модели ТС
        %th 
        %th 
    %tbody
      - @transportbrands.each do |transportbrand|
        %tr
          %td
            %strong= transportbrand.name
            - if transportbrand.is_close
              %span.red удалено
          %td= transportbrand.transportmodels.pluck(:name).join('; ')
          %td.edit= link_to image_tag("edit.png"), edit_transportbrand_path(transportbrand) 
          %td.del{:title => "Удалить"}= link_to image_tag("remove.png"), transportbrand, method: :delete, data: { confirm: 'Точно?' } unless transportbrand.is_close

