= form_for @property, :html => { :class => "form-horizontal" } do |f|
  -if @property.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@property.errors.count, "error")} "

      %ul
        - @property.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :system_id, 'Подписчик', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.collection_select( :system_id, System.visible, :id, :name,
        { prompt: @property.system_id ? nil : "Выберите подписчика",
        selected: @property.system_id ? @property.system_id : nil}  )
  .form-group
    = f.label :objecttype_id, 'Тип объекта', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.collection_select( :objecttype_id, Objecttype.visible, :id, :name,
        { prompt: @property.objecttype_id ? nil : "Выберите тип объекта",
        selected: @property.objecttype_id ? @property.objecttype_id : nil} )
  .form-group
    = f.label :start_date, 'Дата активации настройки подписки', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :start_date
  .form-group
    = f.label :end_date, 'Дата деактивации настройки подписки', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :end_date
  .form-group
    = f.label :is_close, 'Удалено', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.check_box :is_close
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Сохранить', :class => 'btn btn-primary'
      = link_to properties_path, :class => 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt
          Вернуться

:javascript
  $('#property_start_date').datetimepicker({ format:'d/m/Y'});
  $('#property_end_date').datetimepicker({ format:'d/m/Y'});