.page-header


  %h2 Просмотр настройки подписки

%dl.dl-horizontal
  %dt Подписчик:
  %dd= @property.system.name
  %dt Тип объекта:
  %dd= @property.objecttype.name
  %dt Дата активации настройки подписки:
  %dd= @property.start_date
  %dt Дата деактивации настройки подписки:
  %dd= @property.end_date
  %dt Удалено:
  %dd= @property.is_close

= link_to edit_property_path(@property), :class => 'btn btn-primary' do
  %span.glyphicon.glyphicon-pencil
    Редактировать
= link_to properties_path, :class => 'btn btn-default' do
  %span.glyphicon.glyphicon-list-alt
    Вернуться