= render 'modal'

.page-header

  %h2 Модулятор

.col-md-10.col-md-offset-1
  %p.text-center Период исторических данных
  = select_date_from_to('set_date', 3.days.ago.to_date, Time.now.to_date)

  .well.well-sm
    = link_to new_modulator_path, class: 'btn btn-default btn-sm', remote: true do
      %span.glyphicon.glyphicon-plus

    %span.label.label-primary Итоговый объем перевозок: #{@total_traffic}
    %span.label.label-primary Итоговый пробег парка: #{@total_mileage}
    %span.label.label-primary Итоговая стоимость километра: #{@total_price }

  .table-responsive
    %table#modulators
      %thead
        %tr
          %th Контрагент
          %th Планируемый объем перевозок 
          %th Стоимость км.
          %th Пробег
          %th
          %th

      %tbody
        - @modulators.each do |modulator|
          %tr
            %td{:title => "#{modulator.contractor.shortname_inn_kpp if modulator.contractor}"}= modulator.contractor.short_name if modulator.contractor
            %td= modulator.traffic
            %td= modulator.price
            %td= modulator.mileage
            %td.edit= link_to image_tag("edit.png"), edit_modulator_path(modulator), remote: true
            %td.del= link_to image_tag("remove.png"), modulator, :data => { confirm: 'Точно?' }, :method => :delete

:coffeescript
  $('#from').datetimepicker 
    format:'d.m.Y'
    maxDate: "0"
  $('#to').datetimepicker 
    format:'d.m.Y'
    maxDate: "0"