= form_tag url_for(controller: :save_reports_xls, format: :xls) do 
  = hidden_field_tag :title, @title.to_json
  = hidden_field_tag :data, @data.to_json
  =  submit_tag 'XLS', class: 'btn btn-success btn-xs'