
<% if @column.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @column.errors.count %></h2>

      <ul>
      <% @column.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@column) do |f| %>
  <table>
    <tr>
      <th><%= f.label :table_id, "" %></th>
      <td>
          <%= f.collection_select( :table_id, Table.visible, :id, :name,
              { prompt: @column.table ? nil : "Выберите table",
              selected: @column.table ? @column.table.id : nil}  )%>
      </td>
    </tr>
    <tr>
      <th><%= f.label :name, "Наименование" %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :description, "Описание" %></th>
      <td><%= f.text_area :description %></td>
    </tr>
    <tr>
      <th><%= f.label :start_date, "Дата активации" %></th>
      <td><%= f.text_field :start %></td>
    </tr>
    <tr>
      <th><%= f.label :end_date, "Дата де-активации" %></th>
      <td><%= f.text_field:end %></td>
    </tr>
    <tr>
      <th><%= f.label :is_close, "Удалено" %></th>
      <td><%= f.check_box :is_close %></td>
    </tr>
    <tr>
      <th colspan="2"><%= f.submit "Сохранить" %> <%= link_to 'Вернуться', columns_path %></th>
    </tr>
  </table>
<% end %>

<script>
      $('#column_start').datetimepicker({ format:'d/m/Y'});
      $('#column_end').datetimepicker({ format:'d/m/Y'});
</script>