<h2>Столбцы</h2>
<table>
  <tr><th><%= link_to 'Новый Column', new_column_path %></th></tr>
</table>

<%#= will_paginate @columns, class: "apple_pagination" %>
<table  id="columns" class="display">
  <thead>
  <tr>
    <th>Table</th>
    <th>Наименование</th>
    <th>Описание</th>
    <th>Дата активации</th>
    <th>Дата де-активации</th>
    <th>Удалено</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @columns.each do |column| %>
  <tr>
    <td><%= column.table.name %></td>
    <td><%= column.name %></td>
    <td><%= column.description %></td>
    <td><%= column.start %></td>
    <td><%= column.end %></td>
    <td><%= column.is_close %></td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_column_path(column) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), column, method: :delete, data: { confirm: 'Точно?' } unless column.is_close %>
    </td>
  </tr>
<% end %>

  </tbody>
</table>

<%#= will_paginate @columns, :page_links => false %>