<h2>Подразделения</h2>

<%#= will_paginate @departments, class: "apple_pagination" %>
<table>
  <tr><th><%= button_to 'Новое подразделение', new_department_path, method: 'get' %></th>
    <%= form_tag  url_for( action: 'index'), method: "get" do %>
      <th style="width: 135px;"> </th>
      <td style="width: 200px;"> <%= collection_select :contractor, :id, @contractors, :id, :name, {prompt: "Все контрагенты:"}, {selected:  params[:contractor].blank? ? nil : params[:contractor][:id]} %> </td>
      <th style="width: 30px;">  <%= submit_tag "Выбрать" %> </th>
    <% end %>
  </tr>
</table>
<table id="departments">
  <thead>
    <tr>
      <th>Контрагент</th>
      <th>Подчинено</th>
      <th>Подразделение</th>
      <th>Описание</th>
      <th>К-во штатных ед.<br/>/сотрудников</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @departments.roots.each do |department| %>
      <tr class="even">
        <td><%= department.contractor ? department.contractor.name : "Нет"  %> </td>
        <td>

        </td>
        <td <%= 'class=deleted title=Удален' if department.is_close %>><b><%= department.name %> </b></td>
        <td><%= department.descr %></td>
        <td><%= department.staff_units.size %> / <%= department.employees_sum %></td>
        <td class="show1">
          <%= link_to image_tag("show.png"), department, remote: true %>
        </td>
        <td class="edit">
          <%= link_to image_tag("edit.png"), edit_department_path(department) %>
        </td>
        <td class="del" title="Удалить">
          <%= link_to image_tag("remove.png"), department, method: :delete, data: { confirm: 'Точно?' } unless department.is_close %>
        </td>
      </tr>
      <tr>
        <td colspan="8" style="background-image: none;">
          <%= render 'children', item: department unless department.leaf? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<table>
  <tr><th><%= button_to 'Новое подразделение', new_department_path if @departments.size > 10 %></th></tr>
</table>

<%#= will_paginate @departments, class: "apple_pagination"  %>