.page-header
  %h2 Топливные баки ТС 

.col-md-8.col-md-offset-2

  %table#transporttanks
    %thead
      %tr
        %th Марка ТС
        %th Модель ТС
        %th
        %th Объём топливного бака
        %th Минимальный остаток топлива
        %th
        %th
    %tbody
      - @transporttanks.each do |transporttank|
        %tr
          %td= transporttank.transportmodel.transportbrand.name
          %td= transporttank.transportmodel.name
          %td
            - if transporttank.is_close
              %span.red Бак удален
          %td= transporttank.v_tank
          %td= transporttank.v_tank_min
          %td.edit= link_to image_tag("edit.png"), edit_transporttank_path(transporttank)
          %td.del{:title => "Удалить"}= link_to image_tag("remove.png"), transporttank, method: :delete, data: { confirm: 'Точно?' } unless transporttank.is_close

  = link_to 'Добавить топливный бак', new_transporttank_path, class: 'btn btn-primary'



