
  <% if @functional.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @functional.errors.count %></h2>

      <ul>
      <% @functional.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@functional) do |f| %>

<table>
  <tr><th><%= f.label "Наименование" %></th><td><%= f.text_field :name %></td></tr>
  <tr><th><%= f.label "Описание" %></th><td><%= f.text_area :description %></td></tr>
  <tr><th><%= f.label "Модуль" %></th><td><%= f.text_field :part %></td></tr>
  <tr><th><%= f.label "Начало действия" %></th><td><%= f.date_select :start %></td></tr>
  <tr><th><%= f.label "Окончание действия" %></th><td><%= f.date_select :end %></td></tr>
  <tr><th><%= f.label :is_close, "Удален" %></th><td><%= f.check_box :is_close %></td></tr>
  <tr><th colspan="2"> <%= f.submit "Сохранить" %> <%= link_to 'Вернуться', functionals_path %></th></tr>

</table>
<% end %>
