.page-header

  %h2 Типы процессов

.table-responsive
  %table.table.table-striped.table-bordered.table-hover#process_types
    %thead
      %tr
        %th Тип процесса
        %th Описание
        %th Удален
        %th
        %th
        %th

    %tbody
      - @process_types.each do |process_type|
        %tr
          %td
            %b= process_type.name
          %td= process_type.descr
          %td= process_type.is_close
          %td.show1= link_to image_tag("show.png"), process_type
          %td.edit= link_to image_tag("edit.png"), edit_process_type_path(process_type)
          %td.del= link_to image_tag("remove.png"), process_type, :data => { confirm: 'Точно?' }, :method => :delete unless process_type.is_close

  = link_to new_process_type_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
      Новый тип процесса
