= form_for @extra_spending, html: { class: "form-horizontal" } do |f|
  -if @extra_spending.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "Ошибок: #{@extra_spending.errors.count} "

      %ul
        - @extra_spending.errors.full_messages.each do |msg|
          %li= msg

  .form-group.input-group
    %span.input-group-addon
      %i Водитель
    = f.collection_select( :person_id, Person.working_drivers, :id, :fullname, |
        { prompt: @extra_spending.person_id ? nil : "Выберите водителя", |
        selected: @extra_spending.person_id ? @extra_spending.person_id : nil}, class: 'form-control')
    %span.input-group-addon
      %i Тягач
    = f.collection_select( :transport_id, Transport.trucks, :id, :reg_num, |
        { prompt: @extra_spending.transport_id ? nil : "Выберите тягач", |
        selected: @extra_spending.transport_id ? @extra_spending.transport_id : nil}, class: 'form-control')
    %span.input-group-addon
      %i Тип. доп. расхода
    = f.collection_select( :extra_spending_type_id, ExtraSpendingType.visible, :id, :name, |
        { prompt: @extra_spending.extra_spending_type_id ? nil : "Выберите тип доп. расхода", |
        selected: @extra_spending.extra_spending_type_id ? @extra_spending.extra_spending_type_id : nil}, class: 'form-control')
  .form-group.input-group
    %span.input-group-addon
      %i Сумма расхода
    = f.number_field :spending_sum, class: 'form-control'
    %span.input-group-addon
      %i Описание
    = f.text_field :descr, class: 'form-control'
  .form-group.input-group
    %span.input-group-addon
      %i Экстренно
    = f.check_box :is_urgently
    %span.input-group-addon
      %i Требуется перечисление
    = f.check_box :is_required_payment

  %hr

  = f.submit 'Сохранить', class: 'btn btn-primary'
  = link_to extra_spendings_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt 
      Вернуться


%hr

.label.label-default#label Выплаты с: #{10.days.ago.to_date} по: #{Time.now.to_date}
#waiting 
  Подождите
  =image_tag("ajax-loader.gif")
#result
  = render 'payments' unless @extra_spending.new_record?


:coffeescript
  $(document).ready ->
    $("#extra_spending_person_id").change ->
      $("#result").html ""
      $("#waiting").show()
      $.get "/extra_spendings/get_truck_and_payments",
        person_id: $("#extra_spending_person_id").val()
      return
    return

  $(":checkbox").checkboxpicker();