- if @error
  .alert.alert-danger
    = @error
- else
  .alert.alert-success
    =# save_reports_xls(@table_column_names, @table_body)
    
    %table#show_table
      %thead
        %tr
          %th Дата платежа
          %th Тип платежа
          %th Сумма платежа
      %tbody
        - @payments.each do |row|
          %tr
            %td= Time.at(row["PaymentDate"]).to_datetime
            %td= row["PaymentType"]
            %td= row["Sum"]
    .well.well-sm
      %strong Всего:
      = @total        
            
  :coffeescript
    $(document).ready ->
      $("#show_table").dataTable
        lengthMenu: [[30, 60, 100, -1], [30, 60, 100, "Все"]]
        columnDefs: [type: 'date-euro', targets: [0]]
        order: [[0, "desc"]]