.page-header
  %h2 Учет доп. расходов

.col-md-10.col-md-offset-1
  = select_date_from_to('set_date', 7.days.ago.to_date, Time.now.to_date)

  = link_to new_extra_spending_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
      Создать
  .table-responsive
    %table#extra_spendings
      %thead
        %tr
          %th Водитель
          %th Тягач
          %th Тип. доп. расхода
          %th Дата расхода
          %th Сумма расхода
          %th Экстренно
          %th Требуется перечисление
          %th Результат согласования
          %th Описание
          %th Создатель
          %th Создано
          %th
          %th
          %th

      %tbody
        - @extra_spendings.each do |extra_spending|
          %tr
            %td= extra_spending.person.fullname if extra_spending.person
            %td= extra_spending.transport.reg_num if extra_spending.transport
            %td= extra_spending.extra_spending_type.name
            %td= extra_spending.created_at
            %td= extra_spending.spending_sum
            %td= extra_spending.is_urgently ? 'экстренно' : 'нет'
            %td= extra_spending.is_required_payment ? 'требуется выплата' : 'не требуется'
            %td
              - case extra_spending.request_result
                - when 0
                  на согласовании
                - when 1
                  согласовано
                - when 2
                  не согласовано
                - when 3
                  просрочено
            %td= extra_spending.descr
            %td= extra_spending.user.fullname if extra_spending.user
            %td= extra_spending.created_at
            %td.show1= link_to image_tag("show.png"), extra_spending
            %td.edit= link_to image_tag("edit.png"), edit_extra_spending_path(extra_spending)
            %td.del= link_to image_tag("remove.png"), extra_spending, :data => { confirm: 'Точно?' }, :method => :delete unless extra_spending.is_close

