.page-header
  %h2 Платежи водителям

.col-md-8.col-md-offset-2


  = form_tag url_for(action: 'payments'), class: 'well well-sm text-center clearfix', id: "payment_submit" , remote: true do 
    .form-group.input-group
      %span.input-group-addon
        %i Дата с:
      = text_field_tag :start_date, nil, size: 10, class: "select_date form-control"
      %span.input-group-addon
        %i Дата по:
      = text_field_tag :end_date, nil, size: 10, class: "select_date form-control"
      %span.input-group-addon
        %i Водитель:
      = select_tag :driver, options_for_select(@drivers.map { |t| [ t.fullname_g_b, t.id ] } ), class: "form-control"

    = submit_tag "Выбрать", class: "btn btn-primary btn-sm", id: "payments_submit"

  #waiting 
    Подождите
    =image_tag("ajax-loader.gif")
  #result

:coffeescript
  $(document).ready ->
    $("#payment_submit").submit ->
      $("#result").html ""
      $("#waiting").show()
    return 

