.page-header
  %h2 Просмотр доп. расхода

.col-md-6.col-md-offset-3
  %table
    %tr
      %th Водитель
      %td= @extra_spending.person.fullname if @extra_spending.person.fullname
    %tr
      %th Тягач
      %td= @extra_spending.transport.reg_num if @extra_spending.transport.reg_num
    %tr
      %th Тягач
      %td= @extra_spending.transport.reg_num if @extra_spending.transport.reg_num
    %tr
      %th Тип. доп. расхода
      %td= @extra_spending.extra_spending_type.name if @extra_spending.extra_spending_type
    %tr
      %th Сумма расхода
      %td= @extra_spending.spending_sum
    %tr
      %th Экстренно:
      %td= @extra_spending.is_urgently
    %tr
      %th Требуется перечисление
      %td= @extra_spending.is_required_payment
    %tr
      %th Описание
      %td= @extra_spending.descr
    %tr
      %th Создатель:
      %td= @extra_spending.user.fullname
    %tr
      %th Код согласования расхода
      %td= @extra_spending.agreement_id
    %tr
      %th Результат согласования расхода
      %td= @extra_spending.agreement_result
    %tr
      %th Текст согласования расхода
      %td= @extra_spending.agr_text
    %tr
      %th Момент согласования расхода
      %td= @extra_spending.agr_date
    %tr
      %th Код заявки на выплату ДС
      %td= @extra_spending.payment_request_id
    %tr
      %th Статус заявки	
      %td= @extra_spending.is_request_status
    %tr
      %th Текст ошибки заявки
      %td= @extra_spending.request_error
    %tr
      %th Код согласования заявки на выплату
      %td= @extra_spending.agreement_request_id
    %tr
      %th Результат согласования заявки на выплату
      %td= @extra_spending.request_result
    %tr
      %th Момент согласования заявки на выплату
      %td= @extra_spending.request_date
    %tr
      %th Согласованная сумма 
      %td= @extra_spending.agreed_sum
    %tr
      %th Удалено
      %td= @extra_spending.is_close

  = link_to edit_extra_spending_path(@extra_spending), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil Редактировать

  = link_to extra_spendings_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt Вернуться