
<% if @objecttypepropertycolumn.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @objecttypepropertycolumn.errors.count %></h2>

      <ul>
      <% @objecttypepropertycolumn.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@objecttypepropertycolumn) do |f| %>
  <table>
    <tr>
      <th><%= f.label :objecttypeproperty_id, "" %></th>
      <td>
          <%= f.collection_select( :objecttypeproperty_id, Objecttypeproperty.visible, :id, :name,
              { prompt: @objecttypepropertycolumn.objecttypeproperty ? nil : "Выберите тип объекта",
              selected: @objecttypepropertycolumn.objecttypeproperty ? @objecttypepropertycolumn.objecttypeproperty.id : nil}  )%>
      </td>
    </tr>
    <tr>
      <th><%= f.label :column_id, "" %></th>
      <td>
          <%= f.collection_select( :column_id, Column.visible, :id, :name,
              { prompt: @objecttypepropertycolumn.column ? nil : "Выберите column",
              selected: @objecttypepropertycolumn.column ? @objecttypepropertycolumn.column.id : nil}  )%>
      </td>
    </tr>
    <tr>
      <th><%= f.label :start, "" %></th>
      <td><%= f.text_field :start %></td>
    </tr>
    <tr>
      <th><%= f.label :end, "" %></th>
      <td><%= f.text_field :end %></td>
    </tr>
    <tr>
      <th><%= f.label :is_close, "" %></th>
      <td><%= f.check_box :is_close %></td>
    </tr>
    <tr>
      <th colspan="2"><%= f.submit "Сохранить" %> <%= link_to 'Вернуться', objecttypepropertycolumns_path %></th>
    </tr>
  </table>
<% end %>

<script>
      $('#objecttypepropertycolumn_start').datetimepicker({ format:'d/m/Y'});
      $('#objecttypepropertycolumn_end').datetimepicker({ format:'d/m/Y'});
</script>