<h2>objecttypepropertycolumns</h2>
<%#= will_paginate @objecttypepropertycolumns, class: "apple_pagination" %>
<table id="objecttypepropertycolumns">
  <thead>
  <tr>
    <th>Objecttypeproperty</th>
    <th>Column</th>
    <th>Дата активации</th>
    <th>Дата де-активации</th>
    <th>Удалено</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @objecttypepropertycolumns.each do |objecttypepropertycolumn| %>
  <tr>
    <td><%= objecttypepropertycolumn.objecttypeproperty.name %></td>
    <td><%= objecttypepropertycolumn.column.name %></td>
    <td><%= objecttypepropertycolumn.start %></td>
    <td><%= objecttypepropertycolumn.end %></td>
    <td><%= objecttypepropertycolumn.is_close %></td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_objecttypepropertycolumn_path(objecttypepropertycolumn) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), objecttypepropertycolumn, method: :delete, data: { confirm: 'Точно?' } unless objecttypepropertycolumn.is_close %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>
<table>
<tr><th><%= link_to 'Новый Objecttypepropertycolumn', new_objecttypepropertycolumn_path %></th></tr>
</table>
<%#= will_paginate @objecttypepropertycolumns, class: "apple_pagination" %>
