<h2>Просмотрobjecttypepropertycolumns</h2>
<table>
  <tr>
    <th>Id:</th>
    <td><%= @objecttypepropertycolumn.id %></td>
  </tr>
  <tr>
    <th>Objecttypeproperty:</th>
    <td><%= @objecttypepropertycolumn.objecttypeproperty_id %></td>
  </tr>
  <tr>
    <th>Column:</th>
    <td><%= @objecttypepropertycolumn.column_id %></td>
  </tr>
  <tr>
    <th>Start date:</th>
    <td><%= @objecttypepropertycolumn.start_date %></td>
  </tr>
  <tr>
    <th>End date:</th>
    <td><%= @objecttypepropertycolumn.end_date %></td>
  </tr>
  <tr>
    <th>Is close:</th>
    <td><%= @objecttypepropertycolumn.is_close %></td>
  </tr>
  <tr>
    <th>
    <%= link_to 'Редактировать', edit_objecttypepropertycolumn_path(@objecttypepropertycolumn) %>
    <%= link_to 'Вернуться', objecttypepropertycolumns_path %>
    </th>
  </tr>
</table>

 

