= form_for @contact, :html => { :class => "form-horizontal" } do |f|
  -if @contact.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@contact.errors.count, "error")} "

      %ul
        - @contact.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :contact_type_id, 'Тип контакта', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.collection_select( :contact_type_id, ContactType.visible, :id, :name,
        { prompt: @contact.contact_type_id ? nil : "Выберите тип контакта",
        selected: @contact.contact_type_id ? @contact.contact_type_id : nil}  )
  .form-group
    = f.label :person_id, 'Физ. лицо', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.collection_select( :person_id, Person.visible.sort_by(&:fullname), :id, :fullname,
        { prompt: @contact.person_id ? nil : "Выберите физ. лицо",
        selected: @contact.person_id ? @contact.person_id : nil}  )
  .form-group
    = f.label :name, 'Контакт', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, :class => 'form-control'
  .form-group
    = f.label :is_close, 'Удален', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.check_box :is_close
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Сохранить', :class => 'btn btn-primary'
      = link_to contacts_path, :class => 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt
          Вернуться