= form_for @template_step, :html => { :class => "form-horizontal" } do |f|
  -if @template_step.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@template_step.errors.count, "error")} "

      %ul
        - @template_step.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, 'Шаг шаблона', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, :class => 'form-control'
  .form-group
    = f.label :process_template_id, 'Шаблон процесса', :class => 'col-sm-2 control-label'
    .col-sm-4
      = f.collection_select( :process_template_id, ProcessTemplate.visible, :id, :name,
        { prompt: @template_step.process_template_id ? nil : "Выберите шаблон процесса", selected: @template_step.process_template_id ? @template_step.process_template_id : nil}  )
    = f.label :parent_id, 'Предыдущий шаг', :class => 'col-sm-2 control-label'
    .col-sm-4
      = f.collection_select( :parent_id, TemplateStep.visible, :id, :name,
        { prompt: @template_step.parent_id ? nil : "Выберите предыдущий шаг", selected: @template_step.parent_id ? @template_step.parent_id : nil}  )
  .form-group
    = f.label :task_template_id, 'Шаблон задачи', :class => 'col-sm-2 control-label'
    .col-sm-4
      = f.collection_select( :task_template_id, TaskTemplate.all, :id, :name,
        { prompt: @template_step.task_template_id ? nil : "Выберите шаблон задачи", selected: @template_step.task_template_id ? @template_step.task_template_id : nil}  )
    = f.label :parent2_id, 'Заменяющий шаг', :class => 'col-sm-2 control-label'
    .col-sm-4
      = f.collection_select( :parent2_id, TemplateStep.visible, :id, :name,
        { prompt: @template_step.parent2_id ? nil : "Выберите заменяющий шаг", selected: @template_step.parent2_id ? @template_step.parent2_id : nil}  )
  .form-group
    = f.label :is_close, 'Удален', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.check_box :is_close, :class => 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Сохранить', :class => 'btn btn-primary'
      = link_to template_steps_path, :class => 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt
          Вернуться