.page-header

  %h2 Шаги шаблонов

.table-responsive
  %table.table.table-striped.table-bordered.table-hover#template_steps
    %thead
      %tr
        %th Шаг шаблона
        %th Шаблон процесса
        %th Шаблон задачи
        %th Предыдущий шаг
        %th Заменяющий шаг
        %th Удален
        %th
        %th
        %th

    %tbody
      - @template_steps.each do |template_step|
        %tr
          %td= template_step.name
          %td= template_step.process_template.name
          %td= template_step.task_template.name
          %td= template_step.parent.name
          %td= template_step.parent2_id
          %td= template_step.is_close
          %td.show1= link_to image_tag("show.png"), template_step
          %td.edit= link_to image_tag("edit.png"), edit_template_step_path(template_step)
          %td.del= link_to image_tag("remove.png"), template_step, :data => { confirm: 'Точно?' }, :method => :delete unless template_step.is_close

  = link_to new_template_step_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
      Новый шаг шаблона
