.page-header


  %h2 Просмотр template_step

%dl.dl-horizontal
  %dt Name:
  %dd= @template_step.name
  %dt Process template:
  %dd= @template_step.process_template_id
  %dt Task template:
  %dd= @template_step.task_template_id
  %dt Parent:
  %dd= @template_step.parent_id
  %dt Parent2:
  %dd= @template_step.parent2_id
  %dt Rgt:
  %dd= @template_step.rgt
  %dt Lft:
  %dd= @template_step.lft
  %dt Is close:
  %dd= @template_step.is_close

= link_to edit_template_step_path(@template_step), :class => 'btn btn-primary' do
  %span.glyphicon.glyphicon-pencil
    Редактировать
= link_to template_steps_path, :class => 'btn btn-default' do
  %span.glyphicon.glyphicon-list-alt
    Вернуться