<% @transports = Transport.visible.sort_by(&:reg_num)  %>


<%= form_tag  url_for( action: 'select_transport', id: document) , remote: true do %>
<table style="width: 100%">
  <tr>
    <th><%= label :type , "ТС" %> </th>
        <td>
<%= collection_select( :transport, :id, @transports, :id, :reg_num,  { prompt: "Выберите ТС"}  ) %>
    </td>
  </tr>

  <tr> <th colspan="2"> <%= submit_tag "Сохранить" %>  </th> </tr>
</table>

<% end %>



