<% @documenttypes = Documenttype.visible
@documentkinds = Documentkind.all.sort_by(&:documenttype_id)
%>


<%= form_tag  url_for( action: 'select_kind', id: document) , remote: true do %>
<table style="width: 100%">
  <tr>
    <th><%= label :type , "Тип документа" %> </th>
        <td>
<%= collection_select( :type, :id, @documenttypes, :id, :name,  { prompt: "Выберите тип документа"}  ) %>
    </td>
  </tr>
    <tr>
    <th><%= label :kind , "Вид документа" %> </th>
        <td>
<%= select_tag(:kind,  options_for_select(@documentkinds.map { |m| [m.name, m.id, { class: m.documenttype_id}] }), { prompt: "Выберите вид документа" }) %>
    </td>
  </tr>

  <tr> <th colspan="2"> <%= submit_tag "Сохранить", id: "kind_submit", style: "display: none;"  %>  </th> </tr>
</table>

<% end %>


<script>
  $(function() {

    /* For jquery.chained.js */
    $("#kind").chained("#type_id");


    /* Show button after each pulldown has a value. */
    $("#kind").bind("change", function(event) {
        if ("" != $("option:selected", this).val() && "" != $("option:selected", $("#kind_id")).val() )
        {
            $("#kind_submit").fadeIn();
        } else {
            $("#kind_submit").hide();
        }
    });
  });
</script>

