<h2>Просмотрdocuments</h2>
<table>
  <tr>
    <th>Id:</th>
    <td><%= @document.id %></td>
  </tr>
  <tr>
    <th>Parent:</th>
    <td><%= @document.parent_id %></td>
  </tr>
  <tr>
    <th>Documentkind:</th>
    <td><%= @document.documentkind_id %></td>
  </tr>
  <tr>
    <th>Transport:</th>
    <td><%= @document.transport_id %></td>
  </tr>
  <tr>
    <th>Contract:</th>
    <td><%= @document.contract_id %></td>
  </tr>
  <tr>
    <th>Contractor:</th>
    <td><%= @document.contractor_id %></td>
  </tr>
  <tr>
    <th>Series:</th>
    <td><%= @document.series %></td>
  </tr>
  <tr>
    <th>Number:</th>
    <td><%= @document.number %></td>
  </tr>
  <tr>
    <th>Category:</th>
    <td><%= @document.category %></td>
  </tr>
  <tr>
    <th>Registration:</th>
    <td><%= @document.registration %></td>
  </tr>
  <tr>
    <th>Issued by:</th>
    <td><%= @document.issued_by %></td>
  </tr>
  <tr>
    <th>Issued date:</th>
    <td><%= @document.issued_date %></td>
  </tr>
  <tr>
    <th>Start date:</th>
    <td><%= @document.start_date %></td>
  </tr>
  <tr>
    <th>End date:</th>
    <td><%= @document.end_date %></td>
  </tr>
  <tr>
    <th>Is close:</th>
    <td><%= @document.is_close %></td>
  </tr>
  <tr>
    <th>
    <%= link_to 'Редактировать', edit_document_path(@document) %>
    <%= link_to 'Вернуться', documents_path %>
    </th>
  </tr>
</table>

 

