<h2>Просмотрdocumenttypes</h2>
<table>
  <tr>
    <th>Id:</th>
    <td><%= @documenttype.id %></td>
  </tr>
  <tr>
    <th>Name:</th>
    <td><%= @documenttype.name %></td>
  </tr>
  <tr>
    <th>Descr:</th>
    <td><%= @documenttype.descr %></td>
  </tr>
  <tr>
    <th>Is close:</th>
    <td><%= @documenttype.is_close %></td>
  </tr>
  <tr>
    <th>
    <%= link_to 'Редактировать', edit_documenttype_path(@documenttype) %>
    <%= link_to 'Вернуться', documenttypes_path %>
    </th>
  </tr>
</table>

 

