<h2>Виды договоров</h2>


<%#= will_paginate @contract_kinds, class: "apple_pagination" %>
<table>
<tr><th><%= button_to 'Новый вид договора', new_contract_kind_path, method: :get %></th></tr>
</table>
<table id="contract_kinds">
  <thead>
  <tr>
    <th>Вид договора</th>
    <th>Тип договора</th>
    <th>Описание</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @contract_kinds.each do |contract_kind| %>
  <tr>
    <td><b><%= contract_kind.name %></b></td>
    <td><%= contract_kind.contract_type.name if contract_kind.contract_type %></td>
    <td><%= contract_kind.descr %></td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_contract_kind_path(contract_kind) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), contract_kind, method: :delete, data: { confirm: 'Точно?' } unless contract_kind.is_close %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>
<table>
<tr><th><%= button_to 'Новый вид договора', new_contract_kind_path, method: :get if @contract_kinds.size > 10 %></th></tr>
</table>

<%#= will_paginate @contract_kinds, class: "apple_pagination"  %>