<h2>Просмотр контрагента</h2>
<table>

  <tr>
    <th>Тип контрагента:</th>
    <td><%= @contractor.contractortype.name if @contractor.contractortype %></td>
  </tr>
  <tr>
    <th>Наименование:</th>
    <td><%= @contractor.name %></td>
  </tr>
  <tr>
    <th>Краткое наименование:</th>
    <td><%= @contractor.short_name %></td>
  </tr>
  <tr>
    <th>Родитель:</th>
    <td><%= @contractor.parent_id %></td>
  </tr>
  <tr>
    <th>ИНН:</th>
    <td><%= @contractor.inn %></td>
  </tr>
  <tr>
    <th>КПП:</th>
    <td><%= @contractor.kpp %></td>
  </tr>
  <tr>
    <th>Фискальный/реальный:</th>
    <td><%= @contractor.is_fiscal ? "Фискальный" : "Реальный" %></td>
  </tr>
  <tr>
    <th>Юр./физ.лицо:</th>
    <td><%= @contractor.is_legal ? "Юр.лицо" : "Физ. лицо" %></td>
  </tr>
  <tr>
    <th>Начало сотрудничества:</th>
    <td><%= @contractor.start_date %></td>
  </tr>
  <tr>
    <th>Окончание сотрудничества:</th>
    <td><%= @contractor.end_date %></td>
  </tr>
  <tr>
    <th>
    <%= link_to 'Редактировать', edit_contractor_path(@contractor) %>
    <%= link_to 'Вернуться', contractors_path %>
    </th>
  </tr>
</table>

 

