
<% if @staff_unit.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @staff_unit.errors.count %></h2>

      <ul>
      <% @staff_unit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@staff_unit) do |f| %>
  <table>
    <tr>
      <th><%= f.label :department_id, "Подразделение" %></th>
      <td><%= f.collection_select( :department_id, Department.visible, :id, :contractor_name,
              { prompt: @staff_unit.department_id ? nil : "Выберите подразделение",
              selected: @staff_unit.department_id ? @staff_unit.department_id : nil}  )%>
      </td>
    </tr>
    <tr>
      <th><%= f.label :position_id, "Должность" %></th>
      <td><%= f.collection_select( :position_id, Position.visible, :id, :name,
              { prompt: @staff_unit.position_id ? nil : "Выберите должность",
              selected: @staff_unit.position_id ? @staff_unit.position_id : nil}  )%>
      </td>
    </tr>
      <th><%= f.label :parent_id, "Руководитель данной штатной единицы" %></th>
    <td> <%= f.collection_select( :parent_id, StaffUnit.heads, :id, :cdp,
                { selected: @staff_unit.parent_id ? @staff_unit.parent_id : StaffUnit.heads.first, include_blank: "Нет" } )%>
    </td>
    <tr>
      <th><%= f.label :head, "Является руководителем" %></th>
      <td><%= f.check_box :head %></td>
    </tr>
    <tr>
      <th><%= f.label :descr, "Описание функций штатной единицы" %></th>
      <td><%= f.text_area :descr %></td>
    </tr>
    <tr>
      <th><%= f.label :is_close, "Удалено" %></th>
      <td><%= f.check_box :is_close %></td>
    </tr>
    <tr>
      <th colspan="2"><%= f.submit "Сохранить" %> <%= link_to 'Вернуться', staff_units_path %></th>
    </tr>
  </table>
<% end %>
