<h2>Просмотр штатной единицы</h2>
<table>
  <tr>
    <th>Id:</th>
    <td><%= @staff_unit.id %></td>
  </tr>
  <tr>
    <th>Head:</th>
    <td><%= @staff_unit.head %></td>
  </tr>
  <tr>
    <th>Department:</th>
    <td><%= @staff_unit.department_id %></td>
  </tr>
  <tr>
    <th>Position:</th>
    <td><%= @staff_unit.position_id %></td>
  </tr>
  <tr>
    <th>Descr:</th>
    <td><%= @staff_unit.descr %></td>
  </tr>
  <tr>
    <th>
    <%= link_to 'Редактировать', edit_staff_unit_path(@staff_unit) %>
    <%= link_to 'Вернуться', staff_units_path %>
    </th>
  </tr>
</table>

 

