= form_for @contact_type, :html => { :class => "form-horizontal" } do |f|
  -if @contact_type.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@contact_type.errors.count, "error")} "

      %ul
        - @contact_type.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, 'Тип контакта', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, :class => 'form-control'
  .form-group
    = f.label :is_close, 'Удален', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.check_box :is_close
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Сохранить', :class => 'btn btn-primary'
      = link_to contact_types_path, :class => 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt
          Вернуться