.page-header
  %h2 Типы контактов

.col-md-8.col-md-offset-2

  .table-responsive
    %table#contact_types
      %thead
        %tr
          %th Тип контакта
          %th Удален
          %th
          %th

      %tbody
        - @contact_types.each do |contact_type|
          %tr
            %td= contact_type.name
            %td= contact_type.is_close
            %td.edit= link_to image_tag("edit.png"), edit_contact_type_path(contact_type)
            %td.del= link_to image_tag("remove.png"), contact_type, :data => { confirm: 'Точно?' }, :method => :delete

    = link_to new_contact_type_path, :class => 'btn btn-primary' do
      %span.glyphicon.glyphicon-plus
        Новый тип контакта
