-# encoding : utf-8
= form_for @task_template, :html => { :class => "form-horizontal" } do |f|
  -if @task_template.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", "type" => "button"} &times;
      %h4= "#{pluralize(@task_template.errors.count, "error")} "

      %ul
        - @task_template.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :task_type_id, 'Тип задачи', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.collection_select( :task_type_id, TaskType.all, :id, :task_type, { prompt: @task_template.task_type_id ? nil : "Выберите тип задачи", selected: @task_template.task_type_id ? @task_template.task_type_id : nil}, :class => 'form-control')
  .form-group
    = f.label :name, 'Шаблон задачи', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, :class => 'form-control'
  .form-group
    = f.label :descr, 'Описание', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :descr, :class => 'form-control'
  .form-group
    = f.label :objective, 'Результат/цель решения', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :objective, :class => 'form-control'
  .form-group
    = f.label :normative_runtime, 'Нормативное время исполнения (минут)', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :normative_runtime, :class => 'form-control'
  .form-group
    = f.label :prioryty, 'Приоритет', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :prioryty, :class => 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Сохранить', :class => 'btn btn-primary'
      = link_to task_templates_path, :class => 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt
          Вернуться