.page-header

  %h1 Просмотр шаблона задачи

%dl.dl-horizontal
  %dt Тип задачи:
  %dd= @task_template.task_type_id
  %dt Шаблон задачи:
  %dd= @task_template.name
  %dt Описание:
  %dd= @task_template.descr
  %dt Результат/цель решения:
  %dd= @task_template.objective
  %dt Нормативное время исполнения (минут):
  %dd= @task_template.normative_runtime
  %dt Приоритет
  %dd= @task_template.prioryty

= link_to task_templates_path, :class => 'btn btn-default' do
  %span.glyphicon.glyphicon-list-alt
  Вернуться
= link_to edit_task_template_path(@task_template), :class => 'btn btn-primary' do
  %span.glyphicon.glyphicon-pencil
  Редактировать