
<% if @table.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @table.errors.count %></h2>

      <ul>
      <% @table.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@table) do |f| %>
  <table>
    <tr>
      <th><%= f.label :name, "Наименование" %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :description, "Описание" %></th>
      <td><%= f.text_area :description %></td>
    </tr>
    <tr>
      <th><%= f.label :start_date, "Дата активации" %></th>
      <td><%= f.text_field :start %></td>
    </tr>
    <tr>
      <th><%= f.label :end_date, "Дата де-активации" %></th>
      <td><%= f.text_field :end %></td>
    </tr>
    <tr>
      <th><%= f.label :is_close, "Удалено" %></th>
      <td><%= f.check_box :is_close %></td>
    </tr>
    <tr>
      <th colspan="2"><%= f.submit "Сохранить" %> <%= link_to 'Вернуться', tables_path %></th>
    </tr>
  </table>
<% end %>

<script>
      $('#table_start').datetimepicker({ format:'d/m/Y'});
      $('#table_end').datetimepicker({ format:'d/m/Y'});
</script>