
.row
  .col-sm-6.col-md-4.col-md-offset-4
    .text-center.login-title= image_tag "logo_gov.jpg"
    .account-wall
      = form_for( resource, :as => resource_name, :url => session_path(resource_name), html: {class: "form form-signin", role: "form"}) do |f|
        = f.text_field :email, autofocus: true , placeholder: 'Логин...', class: "form-control", required: true, autofocus: true
        = f.password_field :password, :placeholder => 'Пароль...', class: "form-control", required: true, autofocus: true
        = f.button 'Войти', :name => 'submit', type: "submit", class: "btn btn-lg btn-primary btn-block", type: "submit"
        - if devise_mapping.rememberable?
          %label.checkbox.pull-left
            = f.check_box :remember_me, type: "checkbox"
            Запомнить меня

