.row.well.well-sm.form-inline

  = select_tag :col_name, options_for_select(@col_names), { prompt: "Выберите столбец", class: 'form-control'}

  #select_filter
    %select{ :disabled => "disabled", :class => 'form-control'}

.row.well.well-sm
  = text_field_tag :search , '' , class: 'form-control'

= form_tag '', id: 'unv_form', class: "form-horizontal", method: :get, remote: true do |f|
  .form-group.input-group
    %span.input-group-addon
      %i Поиск по выбранному столбцу:
    = text_field_tag :search_by_column, @search_by_column ? @search_by_column[:search] : nil , class: "form-control", disabled: "disabled"
    = hidden_field_tag :col_ind, @ind
    %span.input-group-btn
      = submit_tag 'Искать', class: 'btn btn-primary', disabled: "disabled"

:coffeescript
  $(document).ready ->
    $("#col_name").change ->
      $.ajax
        url: "/unavailables/select_filter"
        data:
          col_name: $("#col_name").val()
          from: $("#from").val()
          to: $("#to").val()
          par: #{raw @params.to_json}
        dataType: "script"
      return
    return


