#filter_and_search
  = form_tag url_for(controller: 'unavailables', action: 'save_xls', format: :xls), class: 'form-inline' do 
    = hidden_field_tag :unavailables, @unavailables.to_json 
    = hidden_field_tag :col_names, @col_names.to_json  

    = link_to "Фильтры и поиск", {action: "show_filter_and_search", par: @params}, method: "post", remote: true, class: 'btn btn-primary btn-sm'
    = link_to "Сбросить фильтры", "/#{controller.controller_name}/#{action_name}", class: 'btn btn-info btn-sm'

    = submit_tag "Сохранить в XLS", class: 'btn btn-success btn-sm' 

/  = link_to "XLS",  {action: 'save_xls', format: :xls}, class: 'btn btn-success btn-sm' 


