<br/>
    <%= @col_names[@search_by_column[:ind].to_i] + ':' + ' Поиск: "' +  @search_by_column[:search] + '"' if @search_by_column %>
<% if  @search or  @filter %>
    <%= @col_names[@col_ind.to_i]  %>.
    <%= @search  if @search %>
    <%= @filter  if @filter %>
<% end %>
