<% unless @document.blank? %>
  <table style="margin: 0;">
    <tr>
      <% @col_names.each do |c_name| %>
        <th><%= c_name %></th>
      <%end%>
    </tr>
    <% @document.each do |rr| %>
      <tr>
        <% rr.each do |td| %>
          <td> <%= td  %>  </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% else %>
  <h2>Данные недоступны</h2>
<% end %>