= ajax_will_paginate @unavailables, class: "apple_pagination", params: @params 

%table#unavailable
  %thead= render "unavailables_th"
  %tbody
    - @unavailables.each_with_index do |unavailable, ind_row|
      %tr{:class => "#{cycle("","even")}"}
        - unavailable.each_with_index do |td, ind|
          - unless @col_names[ind].index('#')
            - un_class =
            - case unavailable.last.to_s
              - when "1";  "unav_1"
              - when "0"; "unav_0"
              - else;""
 
            %td{:class => "table_td_#{ind} #{un_class if ind == 14}", :title => "#{@col_names[ind]}"}
              - if ind == 14 and td.to_s.index('#') 
                = link_to td[0..td.index('#')-1],{action: "repair_request", id: td[td.index('#')+1..-1], ts: "Тягач:#{unavailable[4]}, Прицеп:#{unavailable[5]}" , chain: 1}, remote: true 
                
              - if ind == 11 
                - pik1 =
                - case unavailable[0]
                  - when '1'; 'green_med1.png'
                  - when '2'; 'yellow_med1.png'
                  - when '3'; 'red_med1.png'
      
                - pik2 =
                - case unavailable[1]
                  - when '1'; 'green_ol.png'
                  - when '2'; 'yellow_ol.png'
                  - when '3'; 'red_ol.png'

                - pik3 =
                - case unavailable[2]
                  - when '1'; 'green_pass.png'
                  - when '2'; 'yellow_pass.png'
                  - when '3'; 'red_pass.png'
  
                = link_to image_tag(pik1), action: "get_document1", id: td[td.index('#')+1..-1], ts: "Тягач:#{unavailable[4]}, Прицеп:#{unavailable[5]}", remote: true if pik1 and td.index('#')
                = link_to image_tag(pik2), action: "get_document2", id: unavailable[12][unavailable[12].index('#')+1..-1], ts: "Тягач:#{unavailable[4]}, Прицеп:#{unavailable[5]}", remote: true if pik2 and unavailable[12].index('#')
                = link_to image_tag(pik3), action: "get_document3", id: unavailable[13][unavailable[13].index('#')+1..-1], ts: "Тягач:#{unavailable[4]}, Прицеп:#{unavailable[5]}", remote: true if pik3 and unavailable[13].index('#') 

              - if ind == 9 
                - if td.index('#')
                  %div
                    = link_to action: "repair_request", id: td[td.index('#')+1..-1], ts: "Тягач:#{unavailable[4]}, Прицеп:#{unavailable[5]}", remote: true do
                      = td[0..td.index('#')-1] 
                      = image_tag('tg_1.png')

                - if unavailable[10].to_s.index('#')    
                  %div
                    = link_to action: "repair_request", id: unavailable[10][unavailable[10].index('#')+1..-1], ts: "Тягач:#{unavailable[4]}, Прицеп:#{unavailable[5]}", remote: true do
                      = unavailable[10][0..unavailable[10].index('#')-1]
                      = image_tag('pr_1.png') 

                - if unavailable[25].to_s.index('#')    
                  %div
                    = link_to action: "repair_request", id: unavailable[25][unavailable[25].index('#')+1..-1], ts: "Тягач:#{unavailable[4]}, Прицеп:#{unavailable[5]}", remote: true do
                      = unavailable[25][0..unavailable[25].index('#')-1]
                      = image_tag('man.png') 
                 
              - if ind == 7
                %span{:style => 'position: absolute; top: 1px; left: 1px;'} 
                  = link_to_comment_ol(unavailable, "#{ind_row}_#{ind}")
                %span{:id => "sp_ol_#{ind_row}_#{ind}"}
                  = td unless td.to_s.index('#')  
              - else    
                = td unless td.to_s.index('#')


= ajax_will_paginate @unavailables, class: "apple_pagination", params: @params 
