//if (typeof(interval) !== "undefined") {clearTimeout(interval)};

$("#count").html("(<%= @un_count %>)");

<% unless @auto %> $("#upd").hide(); <% end %>

$("#upd").delay(300).html("<%=j render "unavailables" %>");

$("#filter_status").html("<%=j render "filter_status" %>");


<% unless @auto %>
  $("#upd").show();
  $("#filter_menu").html("<%=j render "filter_menu" %>");
<% end %>


clearTimeout(interval);

interval = setTimeout('csrf(); $.post("/unavailables/index.js", <%=raw @params.to_json %>); clearTimeout(interval);', <%= $INTERVAL %>);