<style>

</style>
<!-- <h3 onclick="xhr.abort();">ABORT</h3>  -->
<h2>Состояние ТC ОЛ <span id="count">(<%= @un_count %>)</span> <span id="filter_status"> <%= render "filter_status" %> </span></h2>
<div id="filter_menu">
<%= render "filter_menu" %>
</div>

<div id="upd">
  <%= render "unavailables_ol" %>
</div>


<script>
  interval = setTimeout("csrf(); $.post('/unavailables/<%=action_name -%>.js',{auto:1 })", <%= $INTERVAL %>);
</script>