$("#popup").removeClass("col-md-offset-4 col-md-4");
$("#popup").addClass("col-md-offset-3 col-md-6");
$("#popup_content").html("<%=j render "repair_request" %>");
$("#popup_head span").html("<%=j @popup_head %>");
$("#popup").css("top", "300px");
$("#popup").show();
