.page-header

  %h2 Шаблоны процессов

.table-responsive
  %table.table.table-striped.table-bordered.table-hover#process_templates
    %thead
      %tr
        %th Тип процесса
        %th Шаблон процесса
        %th Описание
        %th Удален
        %th
        %th
        %th

    %tbody
      - @process_templates.each do |process_template|
        %tr
          %td= process_template.process_type_id
          %td
            %b= process_template.name
          %td= process_template.descr
          %td= process_template.is_close
          %td.show1= link_to image_tag("show.png"), process_template
          %td.edit= link_to image_tag("edit.png"), edit_process_template_path(process_template)
          %td.del= link_to image_tag("remove.png"), process_template, :data => { confirm: 'Точно?' }, :method => :delete unless process_template.is_close

  = link_to new_process_template_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
      Новый шаблон процесса
