.page-header


  %h2 Просмотр шаблона процесса

%dl.dl-horizontal
  %dt Тип процесса:
  %dd= @process_template.process_type_id
  %dt Шаблон процесса:
  %dd= @process_template.name
  %dt Описание:
  %dd= @process_template.descr
  %dt Удален:
  %dd= @process_template.is_close

= link_to edit_process_template_path(@process_template), :class => 'btn btn-primary' do
  %span.glyphicon.glyphicon-pencil
    Редактировать
= link_to process_templates_path, :class => 'btn btn-default' do
  %span.glyphicon.glyphicon-list-alt
    вернуться