= form_for @truck_driver, html: { class: "form-horizontal", role: "form" } do |f|
  -if  @truck_driver.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "Ошибок: #{pluralize(@truck_driver.errors.count)} "
      %ul
        - @truck_driver.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :transport_id, "Тягач", class: 'col-sm-4 control-label'
    .col-sm-8
      = f.collection_select( :transport_id, Transport.trucks , :id, :reg_num, { prompt: @truck_driver.transport_id ? nil : "Выберите тягач", selected: @truck_driver.transport_id ? @truck_driver.transport_id : nil  } )
  .form-group
    = f.label :employee_id, "Сотрудник", class: 'col-sm-4 control-label'
    .col-sm-8
      = f.collection_select( :employee_id, Employee.driver_expeditors , :id, :person_info, { prompt: @truck_driver.employee_id ? nil : "Выберите сотрудника", selected: @truck_driver.employee_id ? @truck_driver.employee_id : nil  } )
  .form-group
    = f.label :start_date, "Начало взаимодействия", class: 'col-sm-4 control-label'
    .col-sm-8
      = f.text_field :start_date, size: 10
  .form-group
    = f.label :end_date, "Конец взаимодействия", class: 'col-sm-4 control-label'
    .col-sm-8
      = f.text_field :end_date, size: 10
  .form-group
    = f.label :is_close, "Расцеплена", class: 'col-sm-4 control-label'
    .col-sm-8
      = f.check_box :is_close
  .form-group
    .col-sm-offset-4.col-sm-8
      = f.submit 'Сохранить', :class => 'btn btn-primary'
      = link_to truck_drivers_path, class: 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt
          Вернуться

:coffeescript
  $('#truck_driver_start_date').datetimepicker format:'d/m/Y'
  $('#truck_driver_end_date').datetimepicker format:'d/m/Y'
  $(":checkbox").checkboxpicker()
