.page-header


  %h2 Просмотр доступа к действиям с шаблонами процессов

%dl.dl-horizontal
  %dt Действие по процессу:
  %dd= @process_action_access.process_action.name
  %dt Шаблон процесса:
  %dd= @process_action_access.process_template.name
  %dt Сотрудник:
  %dd= @process_action_access.employee.person_info
  %dt Штатная единица:
  %dd= @process_action_access.staff_unit.cdp
  %dt Момент начала доступа:
  %dd= @process_action_access.start_date
  %dt Момент окончания доступа:
  %dd= @process_action_access.end_date
  %dt Удален:
  %dd= @process_action_access.is_close

= link_to edit_process_action_access_path(@process_action_access), :class => 'btn btn-primary' do
  %span.glyphicon.glyphicon-pencil
    Редактировать
= link_to process_action_accesses_path, :class => 'btn btn-default' do
  %span.glyphicon.glyphicon-list-alt
    Вернуться