= form_for @<%= singular_table_name %>, html: { class: "form-horizontal" } do |f|
  -if @<%= singular_table_name %>.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "Ошибок: #{@<%= singular_table_name %>.errors.count} "

      %ul
        - @<%= singular_table_name %>.errors.full_messages.each do |msg|
          %li= msg

<% for attribute in attributes -%>
  .form-group
    .col-sm-4.control-label= f.label :<%= attribute.name %>, ''
    .col-sm-8= f.<%= attribute.field_type %> :<%= attribute.name %>, class: 'form-control'
<% end -%>
  .form-group
    .col-sm-offset-4.col-sm-8
      = f.submit 'Сохранить', class: 'btn btn-primary'
      = link_to <%= index_helper %>_path, class: 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt Вернуться