.page-header
  %h2 Роли

.col-md-10.col-md-offset-1
  .well.well-sm
    = link_to new_role_path, class: "btn btn-primary btn-xs" do
      %span.glyphicon.glyphicon-plus
        Добавить роль
  %table#roles
    %thead
      %tr
        %th Наименование
        %th Описание
        %th= link_to 'Функциональные группы', functionalgroups_path
        %th= link_to "Пользователи" , users_path
        %th 
        %th 
    %tbody
      - @roles.each do |role|
        %tr
          %td
            = role.name 
            - if role.is_close
              %span.red удалено
          %td= role.descr 
          %td= role.f_groups
          %td{:title => "#{role.user_names}"}= link_to "Пользователи с ролью" ,users_path(role: role) if role.users.any?
          %td.edit= link_to image_tag("edit.png", style: "width: 20px;"), edit_role_path(role) 
          %td.del{:title => "Удалить"}= link_to  image_tag("remove.png"), role: :delete, data: { confirm: 'Точно?' }






