= fields_for "loading[#{@transportloading.object_id}]", @transportloading do |t|
  .form-group.input-group
    %span.input-group-addon
      %i загрузка:
    = t.collection_select :transportloading_id, Transportloading.visible, :id, :loading, { prompt: nil, selected: '0'}, class: "form-control"  
    %span.input-group-addon
      %i.glyphicon.glyphicon-remove.red{:style => "cursor: pointer"} 