= form_for @transportmodel, html: { role: "form" } do |f|

  -if @transportmodel.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "Ошибок: #{@transportmodel.errors.count} "
      %ul
        - @transportmodel.errors.full_messages.each do |msg|
          %li= msg

  .panel.panel-default
    .panel-heading
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#basic_data"} Основные данные
        %li
          %a{"data-toggle" => "tab", :href => "#additional_data"} Дополнительно

    .panel-body
      .tab-content
        #basic_data.tab-pane.active
          .row
            .col-md-6
              .form-group.input-group
                %span.input-group-addon
                  %i Марка ТС
                = f.collection_select :transportbrand_id, Transportbrand.visible, :id, :name, |
                  { prompt: @transportmodel.transportbrand_id ? nil : "Выберите марку ТС", |
                  selected: @transportmodel.transportbrand_id ? @transportmodel.transportbrand_id : nil}, class: "form-control" 

              .form-group.input-group
                %span.input-group-addon
                  %i Модель ТС
                = f.text_field :name, class: "form-control" 
              %hr
              .form-group.input-group
                %span.input-group-addon
                  %i Категория ТС
                = collection_select :transportcategory, :id, Transportcategory.visible, :id, :name,  { prompt: "Выберите категорию ТС"}, class: "form-control" 
              .form-group.input-group
                %span.input-group-addon
                  %i Тип ТС
                = select_tag :transporttype, options_for_select(Transporttype.visible.map { |m| [m.name, m.id, { class: m.transportcategory_id}] }), { prompt: "Выберите тип ТС", class: "form-control" }
              .form-group.input-group
                %span.input-group-addon
                  %i Вид ТС
                = f.select :transportkind_id,  options_for_select(Transportkind.visible.map { |m| [m.name, m.id, { class: m.transporttype_id}] }), { prompt: "Выберите вид ТС" }, class: "form-control" 




            .col-md-6
              .form-group.input-group
                %span.input-group-addon
                  %i Собственный вес
                = f.text_field :weight, class: "form-control" 
                %span.input-group-addon
                  %i Грузоподъёмность
                = f.text_field :capacity, class: "form-control" 
              .form-group.input-group
                %span.input-group-addon
                  %i Габаритная: высота
                = f.text_field :overall_height, class: "form-control" 
                %span.input-group-addon
                  %i ширина
                = f.text_field :overall_width, class: "form-control" 
                %span.input-group-addon
                  %i длинна
                = f.text_field :overall_length, class: "form-control" 




        #additional_data.tab-pane
          .row
            .col-md-6
              .form-group.input-group
                %span.input-group-addon
                  %i Наличие двигателя
                = link_to f.check_box(:is_engine), action: 'chng_attr', id: @transportmodel, attr: "is_engine", remote: true
              .is_engine{:style => "#{@transportmodel.is_engine ? 'display: block' : 'display: none'}" }               
                .form-group.input-group
                  %span.input-group-addon
                    %i Тип двигателя
                  = collection_select :enginetype, :id, Enginetype.visible, :id, :name,  { prompt: "Выберите тип двигателя"}, class: "form-control" 
                .form-group.input-group
                  %span.input-group-addon
                    %i Модель двигателя
                  = f.select :enginemodel_id,  options_for_select(Enginemodel.visible.map { |m| [m.name, m.id, { class: m.enginetype_id}] }), |
                    { prompt: "Выберите модель двигателя" }, class: "form-control" 
              %hr
              .form-group.input-group
                %span.input-group-addon
                  %i Наличие топливного бака
                = link_to f.check_box(:is_fuelling), action: 'chng_attr', id: @transportmodel, attr: "is_fuelling", remote: true

              .is_fuelling{:style => "#{@transportmodel.is_fuelling ? 'display: block' : 'display: none'}" }       
                %strong Топливные баки:
                .well.well-sm#tanks
                  .form-group.input-group
                    = link_to add_tank_transportmodels_path, remote: true, class: 'btn btn-default' do
                      %span.glyphicon.glyphicon-plus 
                  - @transportmodel.transporttanks.each_with_index do |tank, ind|
                    = fields_for "tank[#{ind}]", tank do |t|
                      .form-group.input-group
                        %span.input-group-addon
                          %i Объём:
                        = t.text_field :v_tank, class: "form-control" 
                        %span.input-group-addon
                          %i Мин. остаток:
                        = t.text_field :v_tank_min, class: "form-control" 
                        %span.input-group-addon
                          %i.glyphicon.glyphicon-remove.red{:style => "cursor: pointer"} 


            .col-md-6
              .form-group.input-group
                %span.input-group-addon
                  %i Наличие погрузки
                = link_to f.check_box(:is_loading), action: 'chng_attr', id: @transportmodel, attr: "is_loading", remote: true
              .is_loading{:style => "#{@transportmodel.is_loading ? 'display: block' : 'display: none'}" }       
                .form-group.input-group
                  %span.input-group-addon
                    %i Полезная высота
                  = f.text_field :useful_height, class: "form-control" 
                  %span.input-group-addon
                    %i Полезная ширина
                  = f.text_field :useful_width, class: "form-control" 
                .form-group.input-group
                  %span.input-group-addon
                    %i Полезная длинна
                  = f.text_field :useful_length, class: "form-control" 
                  %span.input-group-addon
                    %i Полезный объем
                  = f.text_field :useful_volume, class: "form-control" 
                %strong Типы погрузки:
                .well.well-sm#loadings
                  .form-group.input-group
                    = link_to add_loading_transportmodels_path, remote: true, class: 'btn btn-default' do
                      %span.glyphicon.glyphicon-plus 
                  - @transportmodel.transportloadings.each_with_index do |loading, ind|
                    = fields_for "loading[#{ind}]", loading do |l|
                      .form-group.input-group
                        %span.input-group-addon
                          %i загрузка:
                        = l.collection_select :transportloading_id, Transportloading.visible, :id, :loading, { prompt: nil, selected: loading.id}, class: "form-control"  
                        %span.input-group-addon
                          %i.glyphicon.glyphicon-remove.red{:style => "cursor: pointer"} 


              %hr
              .form-group.input-group
                = f.label :is_close , 'Удалено' 
                = f.check_box :is_close     


  = f.submit 'Сохранить', class: 'btn btn-primary'
  = link_to 'Вернуться к моделям ТС', transportmodels_path, class: 'btn btn-default' 



:coffeescript
  $(".glyphicon-remove").click ->
    $(this).parents("div").eq(0).remove()
    return

  $(":checkbox").checkboxpicker()

  $("#transportmodel_enginemodel_id").chained "#enginetype_id"

  $("#transporttype").chained "#transportcategory_id"
  $("#transportmodel_transportkind_id").chained "#transporttype"

  $("#transportmodel_transportmodelmodel_id").change ->
    $.ajax
      url: "/transportmodels/get_transportmodelkind"
      data:
        transportmodelmodel: $("#transportmodel_transportmodelmodel_id").val()

      dataType: "script"

    return