.page-header
  %h2 Модели ТС

.col-md-8.col-md-offset-2

  %table#transportmodels
    %thead 
      %tr
        %th Марка ТС
        %th Модель ТС
        %th Категория. Тип. Вид.
        %th 
        %th 
    %tbody
      - @transportmodels.each do |transportmodel|
        %tr
          %td= transportmodel.transportbrand.name if transportmodel.transportbrand
          %td
            %strong= transportmodel.name
            - if transportmodel.is_close
              %span.red удалено
          %td= transportmodel.kind_type_category
          %td.edit= link_to image_tag("edit.png"), edit_transportmodel_path(transportmodel)
          %td.del{:title => "Удалить"}= link_to image_tag("remove.png"), transportmodel, method: :delete, data: { confirm: 'Точно?' } unless transportmodel.is_close

  = link_to 'Новая модель ТС', new_transportmodel_path, class: 'btn btn-primary'

