
<% if @contract_subkind.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @contract_subkind.errors.count %></h2>

      <ul>
      <% @contract_subkind.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@contract_subkind) do |f| %>
  <table>
    <tr>
      <th><%= f.label :contract_kind_id, "Предмет договора" %></th>
      <td><%= f.collection_select( :contract_kind_id, ContractKind.visible, :id, :name,
              { prompt: @contract_subkind.contract_kind_id ? nil : "Выберите вид договора",
              selected: @contract_subkind.contract_kind_id ? @contract_subkind.contract_kind_id : nil}  )%>
      </td>
    </tr>
    <tr>
      <th><%= f.label :name, "Наименование" %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :descr, "Описание" %></th>
      <td><%= f.text_area :descr %></td>
    </tr>
    <tr>
      <th><%= f.label :is_close, "Удален" %></th>
      <td><%= f.check_box :is_close %></td>
    </tr>
    <tr>
      <th colspan="2"><%= f.submit "Сохранить" %> <%= link_to 'Вернуться', contract_subkinds_path %></th>
    </tr>
  </table>
<% end %>
