<h2>Подвиды договоров</h2>


<%#= will_paginate @contract_subkinds, class: "apple_pagination" %>
<table>
<tr><th><%= button_to 'Новый подвид договора', new_contract_subkind_path, method: :get %></th>
<td style="text-align: right;"> <%= link_to params[:show_del].blank? ? "Удаленные" : "Видимые", params[:show_del].blank? ? contract_subkinds_path(show_del: 1) : contract_subkinds_path if ContractSubkind.invisible.any? %>
  </td>
</tr>
</table>
<table id="contract_subkinds" class="display">
  <thead>
  <tr>
    <th>Подвид договора</th>
    <th>Вид договора</th>
    <th>Тип договора</th>
    <th>Описание</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @contract_subkinds.each do |contract_subkind| %>
  <tr>
    <td><b><%= contract_subkind.name %></b></td>
    <td><%= contract_subkind.contract_kind.name %></td>
    <td><%= contract_subkind.contract_kind.contract_type.name %></td>
    <td><%= contract_subkind.descr %></td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_contract_subkind_path(contract_subkind) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), contract_subkind, method: :delete, data: { confirm: 'Точно?' } unless contract_subkind.is_close %>
    </td>
  </tr>
<% end %>
  </tboby>
</table>
<table>
<tr><th><%= button_to 'Новый подвид договора', new_contract_subkind_path, method: :get if @contract_subkinds.size > 10 %></th></tr>
</table>

<%#= will_paginate @contract_subkinds, class: "apple_pagination"  %>