<h2>Подписчики</h2>
<%#= will_paginate @systems, class: "apple_pagination" %>
<table id="systems">
  <thead>
  <tr>
    <th>Наименование</th>
    <th>Описание</th>
    <th>Дата активации</th>
    <th>Дата де-активации</th>
    <th>Удалено</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @systems.each do |system| %>
  <tr>
    <td><%= system.name %></td>
    <td><%= system.descr %></td>
    <td><%= system.start %></td>
    <td><%= system.end %></td>
    <td><%= system.is_close %></td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_system_path(system) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), system, method: :delete, data: { confirm: 'Точно?' } unless system.is_close %>
    </td>
  </tr>
<% end %>
  </tbody>
</table>
<table><tr><th><%= link_to 'Новый подписчик', new_system_path %></th></tr></table>
<%#= will_paginate @systems, class: "apple_pagination" %>
