<h2>Просмотрsystems</h2>
<table>
  <tr>
    <th>Id:</th>
    <td><%= @system.id %></td>
  </tr>
  <tr>
    <th>Name:</th>
    <td><%= @system.name %></td>
  </tr>
  <tr>
    <th>Descr:</th>
    <td><%= @system.descr %></td>
  </tr>
  <tr>
    <th>Start date:</th>
    <td><%= @system.start %></td>
  </tr>
  <tr>
    <th>End date:</th>
    <td><%= @system.end %></td>
  </tr>
  <tr>
    <th>Is close:</th>
    <td><%= @system.is_close %></td>
  </tr>
  <tr>
    <th>
    <%= link_to 'Редактировать', edit_system_path(@system) %>
    <%= link_to 'Вернуться', systems_path %>
    </th>
  </tr>
</table>

 

