= form_for @coupler, html: { class: "form-horizontal", role: "form" } do |f|
  -if  @coupler.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "Ошибок: #{pluralize(@coupler.errors.count)} "
      %ul
        - @coupler.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :truck_id, "Тягач", class: 'col-sm-4 control-label'
    .col-sm-8
      = f.collection_select( :truck_id, @coupler.id.nil? ? @free_trucks : (@free_trucks << @coupler.truck), :id, :reg_num,
            { prompt: @coupler.truck_id ? nil : "Выберите тягач",
            selected: @coupler.truck_id ? @coupler.truck_id : nil  } )
  .form-group
    = f.label :trailer_id, "Прицеп", class: 'col-sm-4 control-label'
    .col-sm-8
      = f.collection_select( :trailer_id, @coupler.id.nil? ? @free_trailers : (@free_trailers << @coupler.trailer), :id, :reg_num,
            { prompt: @coupler.trailer_id ? nil : "Выберите прицеп",
            selected: @coupler.trailer_id ? @coupler.trailer_id : nil  } )
  .form-group
    = f.label :start_date, "Начало взаимодействия", class: 'col-sm-4 control-label'
    .col-sm-8
      = f.text_field :start_date, size: 10
  .form-group
    = f.label :end_date, "Конец взаимодействия", class: 'col-sm-4 control-label'
    .col-sm-8
      = f.text_field :end_date, size: 10
  .form-group
    = f.label :is_close, "Удалена", class: 'col-sm-4 control-label'
    .col-sm-8
      = f.check_box :is_close
  .form-group
    .col-sm-offset-4.col-sm-8
      = f.submit 'Сохранить', :class => 'btn btn-primary'
      = link_to couplers_path, class: 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt
          Вернуться


:coffeescript
  $('#coupler_start_date').datetimepicker timepicker: true
  $('#coupler_end_date').datetimepicker timepicker: true
  $(":checkbox").checkboxpicker()