.panel.panel-info
  .panel-heading Просмотр сцепки

  .panel-body
    %dl.dl-horizontal
      %dt Тягач:
      %dd= @coupler.truck ? @coupler.truck.reg_num : 'Нет'
      %dt Прицеп:
      %dd= @coupler.trailer ? @coupler.trailer.reg_num : 'Нет'
      %dt Начало взаимодействия:
      %dd= @coupler.start_date ? @coupler.start_date : 'Нет'
      %dt Конец взаимодействия:
      %dd= @coupler.end_date ? @coupler.end_date : 'Нет'
      
    .text-center
      = link_to edit_coupler_path(@coupler), class: 'btn btn-primary btn-sm' do
        %span.glyphicon.glyphicon-pencil
          Редактировать



