.page-header
  %h2 Сцепки

.col-md-10.col-md-offset-1
  .row.well.well-sm
    .btn.btn-primary.btn-xs
      Тягачи:
      %span.badge= @trucks_count
    .btn.btn-primary.btn-xs
      Свободные тягачи:
      %span.badge= @free_trucks_count
    .btn.btn-primary.btn-xs
      Тягачи с прицепом:
      %span.badge= @used_trucks_count
    .btn.btn-default.btn-xs
      Прицепы:
      %span.badge= @trailers_count
    .btn.btn-default.btn-xs
      Свободные прицепы:
      %span.badge= @free_trailers_count
    .btn.btn-default.btn-xs
      Прицепы с тягачом:
      %span.badge= @used_trailers_count

  .row.well.well-sm.btn-toolbar.text-center
    = link_to new_coupler_path, class: 'btn btn-primary btn-sm' do
      %span.glyphicon.glyphicon-plus 
        Добавить сцепку
    = link_to couplers_path(vis: 'chain'), class: "btn btn-default btn-sm #{'btn-success' if params[:vis] == 'chain'}" do
      %span.glyphicon.glyphicon-link 
        Сцепленные
    = link_to couplers_path(vis: 'unchain'), class: "btn btn-default btn-sm #{'btn-success' if params[:vis] == 'unchain'}" do
      %span.glyphicon.glyphicon-random 
        Расцепленные
    = link_to couplers_path, class: "btn btn-default btn-sm #{'btn-success' unless params[:vis]}" do
      %span.glyphicon.glyphicon-list
        Все сцепки


  %table#couplers
    %thead
      %tr
        %th Тягач
        %th Прицеп
        %th Начало взаимодействия
        %th Конец взаимодействия
        %th
        %th
        %th
        %th
    %tbody
      - @couplers.each do |coupler|
        %tr{:class => "#{'select_green' if coupler.chained?}"}
          %td= coupler.truck.reg_num if coupler.truck 
          %td= coupler.trailer.reg_num if coupler.trailer
          %td= coupler.start_date 
          %td= coupler.end_date
          %td.show1= link_to image_tag("show.png"), coupler, remote: true
          %td.edit= link_to image_tag("edit.png"), edit_coupler_path(coupler)
          %td.del{:title => "Расцепить"}
            - if coupler.chained?
              = link_to unchain_coupler_path(coupler), data: { confirm: 'Точно расцепить?' } do
                %span.glyphicon.glyphicon-random 
          %td.del{:title => "Удалить"}
            = link_to image_tag("remove.png"), coupler, method: :delete, data: { confirm: 'Точно удалить?' } unless coupler.is_close 

  /= will_paginate @couplers, class: "apple_pagination", params: {vis: params[:vis]}