= save_reports_xls(@all_processes_title, @processes)
.table-responsive
  %table#all_processes
    %thead
      %tr
        - @all_processes_title.each do |t|
          %th= t 
    %tbody
      - @processes.each do |p|
        %tr
          - p.each do |item|
            %td= item