<div id="filter_and_search">

<%= link_to "Фильтры и поиск", {action: "show_filter_and_search"}, remote: true, :disable_with => 'loading...', class: 'btn btn-primary' %></td>
<%= link_to "Показать все", "/#{controller.controller_name}?clear=true", class: 'btn btn-info' %></th>
<%= link_to "Сохранить XLS",  {action: 'save_xls', format: :xls, from: @from, to: @to}, class: 'btn btn-success' %></th>

</div>