<%= select_tag 'filter', options_for_select(@for_filter, selected: @filter ), { prompt: @filter ? nil : "Выберите значение" }  %>

<script>
 $(document).ready(function() {
  $('#filter').change(function() {
    csrf();
    $('#search').val("");
    $.get("/monitoring_resource_unavailable/save_param.js", {filter : $('#filter').val() });
   });
  });
</script>

<script>
 var availableTags = [
  <% @for_search.each do |t| %>
  '<%=raw t %>',
  <% end %>
];

    function split(val){return val.split( /,\s*/ );}
    function extractLast(term){return split(term).pop();}

    $("#search")
    // остановить смену фокуса, если выделен один из элементов автозаполнения
    .bind( "keydown", function(event){
      if ( event.keyCode === $.ui.keyCode.TAB &&
      $(this).data("autocomplete").menu.active ){
        event.preventDefault();
      }
    })
    .autocomplete({
      minLength: 0,
      source: function(request, response){
        // делегируем поиск элементов автозаполнения обратно плагину, предварительно убрав уже выбранные элементы
        response( $.ui.autocomplete.filter(
        availableTags, extractLast(request.term)) );
      },
      focus: function(){
        // отменяем вставку значения на получение фокуса
        return false;
      },
      select: function(event, ui){
        var terms = split(this.value);
        // удаляем вводимую часть текста и помещаем вместо нее выбранный элемент
        terms.pop();
        terms.push(ui.item.value);
        // собираем все элементы в строку, разделяя их запятыми и вставляем
        // строку обратно в текстовое поле
        terms.push("");
        this.value = terms.join(", ");
        return false;
      },
      close: function(event, ui) { $.ajax({url: "/monitoring_resource_unavailable/save_param.js",  data: {search : $('#search').val() },  dataType: "script" });}
    });

</script>