<table style="margin-left: 0; table-layout: fixed;">
  <tr>
    <th> Столбец </th>  <th> Значение </th>
  </tr>
  <tr>
    <td>
        <%= select_tag "col_name", options_for_select(@col_names.find_all {|c| !c.index('#')}, selected: params[:col_name] ),
           { prompt: params[:col_name] ? nil : "Выберите столбец" }  %>
    </td>
    <td id="select_filter">
      <select disabled="disabled" />
    </td>
  </tr>
  <tr>
    <th colspan="2">Поиск: </th>
  </tr>
  <tr>
    <td colspan="2">
      <%= text_field_tag :search  %>
    </td>
  </tr>
</table>



<script>

 $(document).ready(function() {
  $('#col_name').change(function() {
    $.ajax({url: "/monitoring_resource_unavailable/select_filter",
      data: {col_name : $('#col_name').val(), from: $('#moment_from').val(), to: $('#moment_to').val()},
      dataType: "script"
          });
   });
  });

</script>