= save_reports_xls(@group_by_truck_and_inaccess_title, @group_by_truck_and_inaccess)

%table#processes_group_by_truck_and_inaccess
  %thead
    %tr
      - @group_by_truck_and_inaccess_title.each do |t|
        %th= t 
  %tbody
    - @group_by_truck_and_inaccess.each do |p|
      %tr
        - p.each do |item|
          %td= item