= save_reports_xls(@all_processes_title, @processes_without_nesting)

.table-responsive
  %table.table-striped.table-bordered.table-hover#processes_without_nesting
    %thead
      %tr
        - @all_processes_title.each do |t|
          %th= t 
    %tbody
      - @processes_without_nesting.each do |p|
        %tr
          - p.each do |item|
            %td= item