= save_reports_xls(@all_processes_title, @processes_without_overlap)

%table#processes_without_overlap
  %thead
    %tr
      - @all_processes_title.each do |t|
        %th= t 
  %tbody
    - @processes_without_overlap.each do |p|
      %tr
        - p.each do |item|
          %td= item