= save_reports_xls(@all_processes_title, @processes_with_waiting)

%table#processes_with_waiting
  %thead
    %tr
      - @all_processes_title.each do |t|
        %th= t 
  %tbody
    - @processes_with_waiting.each do |p|
      %tr
        - p.each do |item|
          %td= item