%table#unavailable_resources
  %thead#thead
    %th Рег. № тягача
    %th Момент начала недоступности
    %th Момент окончания недоступности
    %th Тип недоступности
    %th Прицеп и водитель
    %th Стыковка
  %tbody#tbody
    - if @unavailables
      - @unavailables.each do |f|
        %tr
          %td
            = f.values[0]
          %td
            = f.values[1]
          %td
            = f.values[2]
          %td
            = f.values[3]
          %td
            = f.values[4]
          %td
            = f.values[5]
