%h2 Мониторинг недоступностей ресурсов

= render "filter_menu"

= form_tag :monitoring_resource_unavailable, method: :get do
  = label_tag 'Начало периода'
  = text_field_tag :moment_from, @from
  = label_tag 'окончание периода'
  = text_field_tag :moment_to, @to
  = submit_tag 'Найти', class: 'btn btn-primary'
  = link_to "Сохранить XLS",  {action: 'save_xls', format: :xls, from: @from, to: @to}, class: 'btn btn-success'

#index
  = render 'unavailables'

:javascript
  $('#moment_from').datetimepicker({ format: "d/m/Y" });
  $('#moment_to').datetimepicker({ format: "d/m/Y" });
