.page-header
  %h2 Процессы

= select_date_from_to "processes"

#vacations_index.col-md-10.col-md-offset-1
  .panel.panel-default
    .panel-heading
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#all_processes_tab"} Все процессы
        %li
          %a{"data-toggle" => "tab", :href => "#processes_without_nesting_tab"} Все процессы без вложений
        %li
          %a{"data-toggle" => "tab", :href => "#process_without_overlap_tab"} Все процессы без наложений
        %li
          %a{"data-toggle" => "tab", :href => "#process_with_waiting_tab"} Все процессы с ожиданиями
        %li
          %a{"data-toggle" => "tab", :href => "#process_group_by_truck_tab"} Все процессы - группировка по тягачам
        %li
          %a{"data-toggle" => "tab", :href => "#process_group_by_inaccess_tab"} Все процессы - группировка по типу недоступности
        %li
          %a{"data-toggle" => "tab", :href => "#process_group_by_truck_and_inaccess_tab"} Все процессы - группировка по тягачу и типу недоступности
    .panel-body
      .tab-content
        #all_processes_tab.tab-pane.active= render 'all_processes'
        #processes_without_nesting_tab.tab-pane= render 'processes_without_nesting'
        #process_without_overlap_tab.tab-pane= render 'process_without_overlap'
        #process_with_waiting_tab.tab-pane= render 'process_with_waiting'
        #process_group_by_truck_tab.tab-pane= render 'process_group_by_truck'
        #process_group_by_inaccess_tab.tab-pane= render 'process_group_by_inaccess'
        #process_group_by_truck_and_inaccess_tab.tab-pane= render 'process_group_by_truck_and_inaccess'

  