.page-header
  %h2 Варианты согласований

.col-md-8.col-md-offset-2
  = link_to new_agreement_path, class: 'btn btn-primary btn-xs' do
    %span.glyphicon.glyphicon-plus
      Новый вариант согласования
  %hr
  %table#agreements
    %thead
      %tr
        %th Согласование
        %th Описание
        %th Срок жизни(мин)
        %th Срок использования(мин)
        %th Кол-во раз использовано
        %th
        %th
    %tbody
      - @agreements.each do |agreement|
        %tr
          %td{:class => "#{'red' if agreement.is_close}" }= agreement.name
          %td= agreement.descr
          %td= agreement.lifetime
          %td= agreement.time_use
          %td= agreement.uses_number
          %td.edit= link_to image_tag("edit.png"), edit_agreement_path(agreement)
          %td.del= link_to image_tag("remove.png"), agreement, data: { confirm: 'Точно?' }, method: :delete unless agreement.is_close

