// main colors
$main-color: #84a3c3
$text-color: #838588
$base-font-size: 16px

@mixin remove_gradient($color:transparent)
  background-color: $color
  background-image: none
  background-repeat: no-repeat
  filter: none

.dropdown-submenu
  position:relative
  .dropdown-menu
    top: 0
    left: 100%
    margin-top: -6px
    margin-left: -1px
    -webkit-border-radius: 0 6px 6px 6px
    -moz-border-radius: 0 6px 6px 6px
    border-radius: 0 6px 6px 6px
.dropdown-submenu:hover > .dropdown-menu
  display: block
.dropdown-submenu > a:after
  display: block
  content: " "
  float: right
  width: 0
  height: 0
  border-color: transparent
  border-style: solid
  border-width: 5px 0 5px 5px
  border-left-color: #cccccc
  margin-top: 5px
  margin-right: -10px
.dropdown-submenu:hover>a:after
  border-left-color: #ffffff
.dropdown-submenu.pull-left
  float: none
.dropdown-submenu.pull-left>.dropdown-menu
  left: -100%
  margin-left: 10px
  -webkit-border-radius: 6px 0 6px 6px
  -moz-border-radius: 6px 0 6px 6px
  border-radius: 6px 0 6px 6px

// Sticky footer styles
html
  position: relative
  min-height: 100%

body
  /* Margin bottom by footer height */
  margin-bottom: 60px
  background: #fff

p, label
  color: $text-color

.left_img_menu
  width: 30px
  position: absolute
  padding-top: 8px

.navbar-fixed-top
  @include remove_gradient($main-color)
.navbar-static-top

  @include remove_gradient($main-color)
  .container
    padding-bottom: 0
  .navbar-nav
    margin-left: 30px
    padding-right: 80px

input:-webkit-autofill
  -webkit-box-shadow: 0 0 0px 1000px white inset
  color: $text-color
input:-webkit-autofill:focus
  -webkit-box-shadow: 0 0 0px 1000px #d0e2f4 inset
input:-moz-autofill:focus
  -webkit-box-shadow: 0 0 0px 1000px #d0e2f4 inset
input::-webkit-input-placeholder
  font-style: italic
input::-moz-placeholder
  font-style: italic

.login-info
  position: absolute
  bottom: -20px 
  right: 3px


.menu a img
  margin: 0 0 0 7px

#footer
  font-family: Arial
  position: absolute
  bottom: 0
  //width: 100%
  // Set the fixed height of the footer here 
  height: 60px
  background-color: #fff
  p
    font-size: $base-font-size
  ul li
    a
      color: $main-color
      font-size: $base-font-size
    a:hover
      color: $main-color
      text-decoration: underline
      font-size: $base-font-size
      background: transparent
    a:active
      color: #dd4b39
      background: transparent
      border: none
    

.navbar-fixed-top
  margin-top: 9px
.navbar-default .navbar-nav > li > a
  color: #fff
.navbar-default .navbar-nav > li > a:hover
  color: #fff
.navbar-header > a > img
  margin-top: 1em
.dropdown-menu > li > a 
  background: #75a5c6
  color: #fff
  font-size: 13px
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus
  color: #fff
  background: #75a5c6
.navbar-nav > li > a 
  padding-bottom: 15px
  padding-top: 10px
  line-height: 16px
  font-size: 13px
ul.dropdown-menu 
  padding: 2px 0
.dropdown-menu .divider
  margin: 0px
  padding-left: 10px
  //height: 2px
  color: #fff
  //background: #75a5c6
  background: white
.form-control
  border-radius: 10px


