/* CSS reset */


@media print {

  .noprint, .login-info, .page-header {display: none;}
}

* {
  margin:0;
  padding:0;
}



.red {color: red; font-size: 10px; margin-left: 10px;}


a{
  color: #333;
  text-decoration: none;
}
.clr{
  clear: both;
}


#popup {position: fixed !important;
        background-color: white;
        box-shadow: 5px 7px 8px #555555;
        min-height: 50px;
        display: none;
        z-index: 3003;
        top: 20%;
}



#popup_head {padding: 2px; padding-left: 10px; padding-right: 0px;
             background-color: #2D6277; color: white; position: absolute; top: -24px; left: 0px; cursor: move;}
#popup_head span {height: 15px; display: inline-block;}
#popup_close {cursor: default; position: absolute; right: 5px; top: 1px;}
#popup_content {max-height: 700px; overflow-y: auto; margin-bottom: 0px; padding: 5px; padding-left: 15px; padding-right: 15px;}




.edit, .del, .copy, .show1, .docs {width:30px; padding: 0px; text-align: center;}
.del a img, .edit a img, .copy a img, .show1 a img, .docs img {width:20px; padding: 0px; margin: 0px;}

.deleted, .deleted:hover {background-image: none; background-color: #FFCCCC ;}

#filter_and_search {margin: 0;position: absolute; top: -20px; left: 15px; float: left; box-shadow: 5px 7px 8px #555555; z-index: 999; padding: 5px; background-color: white;}




#filter_status { color: #333333; padding-bottom: 5px;}


.container {min-width: 1000px; margin: 0 auto; padding: 0px  10px 10px 10px; position: relative; width: 100%}

.container{
width: 100%;
}
h1 {text-align: center; margin: 10px;}

h2 { margin: 10px;
     font-size: 18px;
     text-align: center;
     font-style: italic;
     color: #2d6277;
     text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
     position: relative;
}


/*     ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++           */


/* GLOBALS */

/*
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #2D6277;
    text-decoration: none;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

textarea {width: 100%; height: 50px;}

#notice {
  color: green;
}

.field_with_errors {
  background-color: #f2dede;
  border: 1px solid #f2dede;
}

.field_with_errors {
  & input {background-color: #f2dede;  border: 1px solid #f2dede;}
  & select {background-color: #f2dede;  border: 1px solid #f2dede;}
}


/*Table Style - This is what you want
------------------------------------------------------------------ */
table th a {margin-left: 20px;}
table.unavailable th a {margin-left: 2px;}

table {
  width:100%;
  font-family:Arial, Helvetica, sans-serif;
  color:#666;
  font-size:12px;
  background:#eaebec;
  margin:0 auto;
  border:#ccc 1px solid;

  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;

  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  box-shadow: 0 1px 2px #d1d1d1;

  margin-top: 10px;
  margin-bottom: 10px;
}

table table {width: 100%;}
table th {
  padding:5px 10px 5px 10px;
  border-top:1px solid #fafafa;
  border-bottom:1px solid #e0e0e0;
  text-shadow: 1px 1px 0px #fff;
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
  font-weight: bold;
}

table tr{
  text-align: left;
  padding-left:20px;
}

table tr td {
  padding:0px 4px 0px 4px;
  border-top: 1px solid #ffffff;
  border-bottom:1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;

  background: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fff));
  background: -moz-linear-gradient(top,  #fbfbfb,  #fff);

}

table tr td input[type="text"]  {width: 100%}
table tr td select  {width: 100%}


.even, table tr.even td{
  background: #ffffef;

}
table tr:last-child td{
  border-bottom:0;
}

table tr:hover td{
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}


/*   +++++++++++++++++++  sortable */
#sortable{width:400px;}
ul{ list-style-position: inside;}
.highlight{background-color:#d6d88e;}
li ul {margin-left: 25px;}


#sortable  {
  border: 1px solid #CCCCCC;
  border-radius: 3px;
  box-shadow: 0 1px 2px #D1D1D1;
  color: #666666;
  font-size: 12px;
  margin: 0 auto 10px;
  width: 100%;
  list-style-type:none;
  & div {
    border-bottom: 1px solid #E0E0E0;
    border-left: 1px solid #E0E0E0;
    border-top: 1px solid #FFFFFF;
    padding: 2px;
  }
  & div div:hover{
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
  }
  & ul {list-style-type:none;}
  & li {margin: 2px;}
  & span.del, & span.edit, & span.new {display: inline-block; float: right; height: 20px;}
}


.unav_1 {background-color: #FF99CC !important; background-image: none !important;  min-width:100px; }
.unav_0 {background-color: #3399CC !important; background-image: none !important;  min-width:100px;}

table tr.select_green td, table tr td.select_green, table tr .select_green {background-image: none; background-color:  palegreen;}

th.sorted_th {background-image: none; background-color:  #666666; color: white; text-shadow: none;}
.table_th_sort {vertical-align: top; text-align: center; min-width: 36px; padding: 0px;}
.table_th_sort a {padding: 0px; margin: 0px;}


#payslips_result {text-align: center; }
#waiting {text-align: center; display: none; background-color: white;}
#waiting_over {text-align: center; display: none; background-color: white; border-radius: 50%; margin-left: -30px;
               position: fixed; top: 50%; left: 50%; z-index: 9000; border: 2px solid #3c763d;  box-shadow: 1px 3px 4px #555555; padding: 20px; }
#waiting2 {display: none; position: absolute; top: -50px; left: 50%;}


.page-header {    
    border-bottom: 1px solid #eee;
    margin: 0 0 10px;
    padding-bottom: 5px;}

#direction_list, #contractor_list {max-height: 600px; min-height: 100px; overflow-y: auto; }
#direction_list ul li:hover, #contractor_list ul li:hover {background-color: white; }

table#get_booking tr.free_booking, table#get_booking tr.free_booking td {}
table#get_booking tr.reserved_booking, table#get_booking tr.reserved_booking td {background-color: #FFCCCC; background-image: none;}
table tr.my_booking, table tr.my_booking td {background-color: #CCFFCC; background-image: none; }


.red_cell {background-image: none !important; background-color: tomato !important; color: white !important; }

.del_filter {display: block; color: red;}

table tr td.booking_released {background-image: none; background-color: #FF3333;}
table tr td.booking_expensive {background-image: none; background-color: #66CCFF;}
table tr td.booking_select_green {background-image: none; background-color: #999900;}
table tr td.booking_select_yell {background-image: none; background-color: #FFCC00;}

table tr td.p, table tr td.dr, table tr td.d, table tr td.r, table tr td.pv {background-image: none; color: white;}

table tr td.p, table tr:hover td.p {background-color: #CC6666;}
table tr td.dr, table tr:hover td.dr {background-color: #CC0000;}
table tr td.d, table tr:hover td.d{background-color: #FF9900;}
table tr td.r, table tr:hover td.r{background-color: #99CC99;}
table tr td.pv, table tr:hover td.pv{background-color: #6699FF;}

.selected_sort {color: #4cae4c; }

.ui-autocomplete{ max-height: 300px; overflow-y: auto; position: fixed;}

ul#filters_drag {list-style:  none;}
ul#filters_drag li {display: inline;}

#last_update {text-shadow: none; position: fixed; top: 1px; right: 0px; z-index: 10000;}
#get_bookings_count:before {content: "(";}
#get_bookings_count:after {content: ")";}

.panel .dl-horizontal dt {
    white-space: normal; width: 50%; padding-right: 20px;
}

#toggle_content {display: none;}

dt:hover, dd:hover{ border-bottom: 1px solid greenyellow }

a.btn {margin-top: 1px;}

.booking_qf_ul {max-height: 300px; overflow-y: auto;}
.dropdown_bookings ul li {text-shadow: none;}
.dropdown_bookings ul li a {margin-left: 0;}
.dropdown_bookings .dropdown-menu > li > a 
 {
    clear: both;
    color: #333;
    background-color: white;
    display: block;
    font-weight: normal;
    line-height: 1.42857;
    padding: 1px 10px;
    white-space: nowrap;
 }
.dropdown_bookings .dropdown-menu > li > a:hover {background-color:#D1D1D1}
 
.green_letter {color: green; font-weight: bold; font-size: 16px;}
 
.first  ul {display: inline-block; width: 270px; text-align: left; margin-top: 20px; vertical-align: top; }

td.highlight {background-color: whitesmoke !important;}

.api_lenta {background-color: #66CCFF !important;}
.api_nizkii {background-color: #ea9999 !important;}
.api_kontrol {background-color: #e69138 !important;}
.api_rekomendovan {background-color: #93c47d !important;}


.headcol, .headcol:hover { background-image: none !important; background-color: #eee !important; color: #666 !important; font-weight: bold; overflow-x: hidden}
.DTFC_Cloned, .DTFC_LeftBodyLiner {overflow-x: hidden}


#status_ts {
  & table {font-size: 12px; }
  & table th {padding:3px 5px 3px 5px; min-width: 75px;}
  & table tr{padding-left:10px;}
  & table tr td {padding:1px 3px 1px 3px;}
  & .ui-autocomplete {max-height: 300px; overflow: auto;}
  & .button_to {display: inline;}
  & table .prev_entry {background-color: #FFCC99; background-image: none; text-shadow: none; min-width:100px; }
  & table .next_entry {background-color: #9999CC; background-image: none;text-shadow: none; min-width: 100px;}
  & table .current_entry {background-color: #99CC99; background-image: none;text-shadow: none;}
}


#works {
  & .glyphicon-edit { cursor: pointer; }
  & .glyphicon-remove { cursor: pointer; }
}

#col_name {}

#status_ts_ol {
  & table {font-size: 12px; color: black;}
  & table th {padding:3px 5px 3px 5px; min-width: 75px;}
  & table tr{padding-left:10px;}
  & table tr td {padding:1px 3px 1px 3px;}
  & .ui-autocomplete {max-height: 300px; overflow: auto;}
  & td.ol_red { background-color: #FF9999; background-image: none;text-shadow: none; color: black; }
  & td.ol_yell {background-color: #FFCC99; background-image: none; text-shadow: none;  }
  & td.ol_green {background-color: #99CC99; background-image: none;text-shadow: none;}  
  & td.ol_fiol {background-color: #BBBBDD; background-image: none;text-shadow: none; min-width: 100px;}
}

