@import "bootstrap"
@import url(http://fonts.googleapis.com/css?family=Cuprum:400,400italic,700,700italic&subset=cyrillic,latin)

$main-color: #84a3c3
$text-color: #838588
$base-font-size: 16px

html
  position: relative
  min-height: 100%

body
  /* Margin bottom by footer height */
  margin-top: 30px
p 
  color: $text-color
  margin: 0px

.copy
  text-align: right
  padding-right: 0
  margin-top: 12px  
.links
  text-align: left
  padding-left: 0  

input:-webkit-autofill
  -webkit-box-shadow: 0 0 0px 1000px white inset
  color: $text-color
input:-webkit-autofill:focus
  -webkit-box-shadow: 0 0 0px 1000px #d0e2f4 inset
input:-moz-autofill:focus
  -webkit-box-shadow: 0 0 0px 1000px #d0e2f4 inset
input::-webkit-input-placeholder
  font-style: italic
input::-moz-placeholder
  font-style: italic

.login-info
  background: transparent

.menu a img
  margin: 0 0 0 7px
  

#footer
  font-family: Arial
  position: absolute
  bottom: 0
  //width: 100%
  // Set the fixed height of the footer here 
  background-color: #fff
  p
    font-size: $base-font-size
    
  ul li
    a
      color: $main-color
      font-size: $base-font-size
      text-decoration: underline
      padding-left: 0px
    a:hover
      color: $main-color
      font-size: $base-font-size
      background: transparent
    a:active
      color: #dd4b39
      background: transparent
      border: none
    

.form-signin
  max-width: 330px
  padding: 15px
  margin: 0 auto
  .form-signin-heading
    margin-bottom: 10px
  .checkbox
    margin-bottom: 10px
    font-weight: normal
  .form-control
    position: relative
    font-size: 16px
    height: auto
    padding: 10px
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    &:focus
      z-index: 2
  input
    &[type="text"]
      margin-bottom: -1px
      border-bottom-left-radius: 0
      border-bottom-right-radius: 0
    &[type="password"]
      margin-bottom: 10px
      border-top-left-radius: 0
      border-top-right-radius: 0

.account-wall
  margin-top: 20px
  padding: 40px 0px 20px 0px
  background-color: #f7f7f7
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3)

.login-title
  color: #555
  font-size: 18px
  font-weight: 400
  display: block

.profile-img
  width: 96px
  height: 96px
  margin: 0 auto 10px
  display: block
  -moz-border-radius: 50%
  -webkit-border-radius: 50%
  border-radius: 50%

.need-help
  margin-top: 10px

.new-account
  display: block
  margin-top: 10px