- unless @document.blank?
  %table
    %tr
      - @col_names.each do |c_name| 
        %th= c_name
    - @document.each do |rr|
      %tr
        - rr.each do |td|
          %td= td
- else
  .alert.alert-danger Данные недоступны
