= select_tag :per_page, options_for_select(['20','50','100','200', "#{@all_st_ts}"], (@per_page.to_s || '20')), style: "position: absolute; top: 44px;"
= ajax_will_paginate @status_ts_ol, class: "apple_pagination"
%table
  %thead= render "th"
  %tbody
    - @status_ts_ol.each do |status|
      %tr{:class => "#{cycle("","even")}"}
        %td.ol_red{:title => "#{@col_names[0]}"}= status.truck_num
        %td.ol_red{:title => "#{@col_names[1]}"}= status.trailer_num
        %td.ol_red{:title => "#{@col_names[2]}"}= status.driver_name
        %td{:title => "#{@col_names[3]}"}
          %div= link_to_comment_ol(status.truck_key, status.truck_num, "#{status.object_id}")
          %div{:id => "sp_ol_#{status.object_id}"}= status.logist_comment

        %td.ol_yell{:title => "#{@col_names[4]}"}= status.prev_entry
        %td{:title => "#{@col_names[51]}"}
          - status.repair_order.each do |rep|
            %div
              = link_to action: :repair_request, id: rep[:link], ts: "Тягач:#{status.truck_num}, Прицеп:#{status.trailer_num}", remote: true do
                = rep[:num]
                = image_tag(rep[:img])
        %td{:title => "#{@col_names[6]}"}
          - status.docs.each do |doc|
            = link_to image_tag(doc[:img]), action: "get_document#{doc[:num]}", id: doc[:link], ts: "Тягач:#{status.truck_num}, Прицеп:#{status.trailer_num}", remote: true
        %td{:title => "#{@col_names[7]}", :class => "unav_#{status.unavailable_color}"}
          = link_to status.unavailable[:num], {action: "repair_request", id: status.unavailable[:link], ts: "Тягач:#{status.truck_num}, Прицеп:#{status.trailer_num}", chain: 1}, remote: true unless status.unavailable.blank?
        %td.ol_green{:title => "#{@col_names[8]}"}= status.location
        %td.ol_green{:title => "#{@col_names[9]}"}= status.current_city_loading
        %td.ol_green{:title => "#{@col_names[10]}"}= status.current_plan_loading
        %td.ol_green{:title => "#{@col_names[11]}"}= status.current_fact_loading
        %td.ol_green{:title => "#{@col_names[12]}"}= status.current_city_unloading
        %td.ol_green{:title => "#{@col_names[13]}"}= status.current_plan_unloading
        %td{:title => "#{status.last_comment}"}= truncate status.last_comment
        %td.ol_fiol{:title => "#{@col_names[15]}"}= status.next_loading
        %td.ol_fiol{:title => "#{@col_names[16]}"}= status.next_unloading
        %td{:title => "#{@col_names[17]}"}= status.logist


            
= ajax_will_paginate @status_ts_ol, class: "apple_pagination"

:coffeescript
  $('#per_page').change ->
    $.get '/status_ts_ol/index.js', per_page: $('#per_page').val()
    return