<div id="filter_and_search">

<%= link_to "Фильтры и поиск", {action: "show_filter_and_search"}, remote: true, :disable_with => 'loading...', class: 'btn btn-primary' %></td>
<%= link_to "Показать все", "/#{controller.controller_name}/#{action_name}", class: 'btn btn-info' %></th>

</div>