<h2>Загрузки (<%= @upl_count %>)<p> <span id="waiting"> <%= image_tag("ajax-loader.gif")  %> </span>
 <%= "Фильтр: #{@filter}." if @filter %> <%= "Поиск: #{@search}." if  @search%>
</p>
</h2>

<%= ajax_will_paginate @upl, class: "apple_pagination" %>
