
<tr>
  <% @col_names.each do |col_name| %>
  <th> <%= col_name %>  </th>
  <% end %>
</tr>

<tr>
    <% @col_names.each_with_index do |cname, ind|%>
        <th class="table_th_sort"> 
          <%= link_to image_tag(@sort_ind == ind && @sort_dir == 'up' ? 'uparrow_invert.png' : 'uparrow.png'), 
            "/#{controller.controller_name}/save_param?sort_ind=#{ind}&sort_dir=up", remote: true %>
          <%= link_to image_tag(@sort_ind == ind && @sort_dir == 'down' ? 'downarrow_invert.png' : 'downarrow.png'), 
            "/#{controller.controller_name}/save_param?sort_ind=#{ind}&sort_dir=down", remote: true %>  
        </th>
      <% end %>
  </tr>
