
<% if @contract_relationship.errors.any? %>
    <div id="error_explanation">
      <h2>Ошибок: <%= @contract_relationship.errors.count %></h2>

      <ul>
      <% @contract_relationship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for(@contract_relationship) do |f| %>
  <table>
    <tr>
      <th><%= f.label :contract_id, "Договор" %></th>
      <td><%= f.collection_select( :contract_id, Contract.visible, :id, :contract_number,
              { prompt: @contract_relationship.contract_id ? nil : "Выберите договор",
              selected: @contract_relationship.contract_id ? @contract_relationship.contract_id : nil}  )%></td>
    </tr>
    <tr>
      <th><%= f.label :contract_kind_role_id, "Роль в рамках предмета договора" %></th>
      <td><%= f.collection_select( :contract_kind_role_id, ContractKindRole.visible, :id, :name,
              { prompt: @contract_relationship.contract_kind_role_id ? nil : "Выберите роль в рамках вида договора",
              selected: @contract_relationship.contract_kind_role_id ? @contract_relationship.contract_kind_role_id : nil}  )%>
      </td>
    </tr>
    <tr>
      <th><%= f.label :contractor_id, "Контрагент" %></th>
      <td><%= f.collection_select( :contractor_id, Contractor.visible, :id, :name,
              { prompt: @contract_relationship.contractor_id ? nil : "Выберите контрагента",
              selected: @contract_relationship.contractor_id ? @contract_relationship.contractor_id : nil}  )%>
      </td>
    </tr>
    <tr>
      <th><%= f.label :is_close, "Удалено" %></th>
      <td><%= f.check_box :is_close %></td>
    </tr>
    <tr>
      <th colspan="2"><%= f.submit "Сохранить" %> <%= link_to 'Вернуться', contract_relationships_path %></th>
    </tr>
  </table>
<% end %>
