<h2>Просмотрcontract_relationships</h2>
<table>
  <tr>
    <th>Id:</th>
    <td><%= @contract_relationship.id %></td>
  </tr>
  <tr>
    <th>Contract:</th>
    <td><%= @contract_relationship.contract_id %></td>
  </tr>
  <tr>
    <th>Contract subject role:</th>
    <td><%= @contract_relationship.contract_kind_role_id %></td>
  </tr>
  <tr>
    <th>Contractor:</th>
    <td><%= @contract_relationship.contractor_id %></td>
  </tr>
  <tr>
    <th>Is close:</th>
    <td><%= @contract_relationship.is_close %></td>
  </tr>
  <tr>
    <th>
    <%= link_to 'Редактировать', edit_contract_relationship_path(@contract_relationship) %>
    <%= link_to 'Вернуться', contract_relationships_path %>
    </th>
  </tr>
</table>

 

