= form_for @question_answer, :html => { :class => "form-horizontal" } do |f|
  -if @question_answer.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@question_answer.errors.count, "error")} "

      %ul
        - @question_answer.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :agreement_request_id, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :agreement_request_id, :class => 'form-control'
  .form-group
    = f.label :person_id, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :person_id, :class => 'form-control'
  .form-group
    = f.label :dn, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :dn, :class => 'form-control'
  .form-group
    = f.label :question_date, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.datetime_select :question_date, :class => 'form-control'
  .form-group
    = f.label :answer_date, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.datetime_select :answer_date, :class => 'form-control'
  .form-group
    = f.label :answer_text, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :answer_text, :class => 'form-control'
  .form-group
    = f.label :is_close, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.check_box :is_close, :class => 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Сохранить', :class => 'btn btn-primary'
      = link_to question_answers_path, :class => 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt
          Вернуться