.page-header

  %h2 question_answers

.table-responsive
  %table.table.table-striped.table-bordered.table-hover#question_answers
    %thead
      %tr
        %th Agreement request
        %th Person
        %th Dn
        %th Question date
        %th Answer date
        %th Answer text
        %th Is close
        %th
        %th
        %th

    %tbody
      - @question_answers.each do |question_answer|
        %tr
          %td= question_answer.agreement_request_id
          %td= question_answer.person_id
          %td= question_answer.dn
          %td= question_answer.question_date
          %td= question_answer.answer_date
          %td= question_answer.answer_text
          %td= question_answer.is_close
          %td.show1= link_to image_tag("show.png"), question_answer
          %td.edit= link_to image_tag("edit.png"), edit_question_answer_path(question_answer)
          %td.del= link_to image_tag("remove.png"), question_answer, :data => { confirm: 'Точно?' }, :method => :delete

  = link_to new_question_answer_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
      Новый Question answer
