.page-header

  %h2 Действия по процессам

.table-responsive
  %table.table.table-striped.table-bordered.table-hover#process_actions
    %thead
      %tr
        %th Действие по процессам
        %th Описание
        %th Удалено
        %th
        %th
        %th

    %tbody
      - @process_actions.each do |process_action|
        %tr
          %td= process_action.name
          %td= process_action.descr
          %td= process_action.is_close
          %td.show1= link_to image_tag("show.png"), process_action
          %td.edit= link_to image_tag("edit.png"), edit_process_action_path(process_action)
          %td.del= link_to image_tag("remove.png"), process_action, :data => { confirm: 'Точно?' }, :method => :delete

  = link_to new_process_action_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
      Новое действие по процессам
