= form_for @contractor_analysis_parameter, :html => { :class => "form-horizontal" } do |f|
  -if @contractor_analysis_parameter.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "#{pluralize(@contractor_analysis_parameter.errors.count, "error")} "

      %ul
        - @contractor_analysis_parameter.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, '', :class => 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, :class => 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit 'Сохранить', :class => 'btn btn-primary'
      = link_to contractor_analysis_parameters_path, :class => 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt
          Вернуться