.page-header

  %h2 Параметры анализа контрагентов

.table-responsive
  %table.table.table-striped.table-bordered.table-hover#contractor_analysis_parameters
    %thead
      %tr
        %th Наименование
      /  
        %th
        %th
        %th

    %tbody
      - @contractor_analysis_parameters.each do |contractor_analysis_parameter|
        %tr
          %td= contractor_analysis_parameter.name
-#          %td.show1= link_to image_tag("show.png"), contractor_analysis_parameter
          %td.edit= link_to image_tag("edit.png"), edit_contractor_analysis_parameter_path(contractor_analysis_parameter)
          %td.del= link_to image_tag("remove.png"), contractor_analysis_parameter, :data => { confirm: 'Точно?' }, :method => :delete

  = link_to new_contractor_analysis_parameter_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
      Новый параметр анализа контрагентов
