= form_for @time_zone, html: { class: "form-horizontal" } do |f|
  -if @time_zone.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %h4= "Ошибок: #{@time_zone.errors.count} "

      %ul
        - @time_zone.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    .col-sm-4.control-label= f.label :area_code, 'Регион'
    .col-sm-8= f.collection_select( :area_code, @area_codes, :first, :second,
        { prompt: @time_zone.area_code ? nil : "Выберите регион",
        selected: @time_zone.area_code ? @time_zone.area_code : nil}  )
  .form-group
    .col-sm-4.control-label= f.label :utc, 'UTC +'
    .col-sm-8= f.number_field(:utc, in: 0..12)
  .form-group
    .col-sm-4.control-label= f.label :start_date, 'Начало действия' 
    .col-sm-8= f.text_field :start_date, class: 'select_date'
  .form-group
    .col-sm-4.control-label= f.label :end_date, 'Окончание действия'
    .col-sm-8= f.text_field :end_date, class: 'select_date'
  .form-group
    .col-sm-offset-4.col-sm-8
      = f.submit 'Сохранить', class: 'btn btn-primary'
      = link_to time_zones_path, class: 'btn btn-default' do
        %span.glyphicon.glyphicon-list-alt 
          Вернуться