.page-header

  %h2 Часовые пояса

.table-responsive.col-md-10.col-md-offset-1
  %table#time_zones
    %thead
      %tr
        %th Регион
        %th UTC +
        %th Начало действия
        %th Окончание действия
        %th
        %th

    %tbody
      - @time_zones.each do |time_zone|
        %tr
          %td= time_zone.region_name
          %td= time_zone.utc
          %td= time_zone.start_date
          %td= time_zone.end_date
          %td.edit= link_to image_tag("edit.png"), edit_time_zone_path(time_zone)
          %td.del= link_to image_tag("remove.png"), time_zone, :data => { confirm: 'Точно?' }, :method => :delete

  = link_to new_time_zone_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
      Новый часовой пояс
