!!!
%html 
  %head
  %title
  %meta
    %meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    = stylesheet_link_tag "sessions", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
%body
  .container
    = yield
/    #footer
/     = render 'layouts/footer'

