<h2>Типы контрагентов</h2>
<%#= will_paginate @contractortypes, class: "apple_pagination" %>
<table><tr><th><%= button_to 'Новый тип контрагента', new_contractortype_path, method: 'get' %></th></tr></table>
<table  id="contractortypes">
  <thead>
  <tr>
    <th>Наименование</th>
    <th>Описание</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @contractortypes.each do |contractortype| %>
  <tr>
    <td><%= contractortype.name %></td>
    <td><%= contractortype.descr %></td>
    <td><%=link_to "Создать контрагента", new_contractor_path(contractortype:contractortype ) %></td>
    <td class="edit">
      <%= link_to image_tag("edit.png"), edit_contractortype_path(contractortype) %>
    </td>
    <td class="del" title="Удалить">
      <%= link_to image_tag("remove.png"), contractortype, method: :delete, data: { confirm: 'Точно?' } unless contractortype.is_close %>
    </td>
  </tr>
<% end %>

  </tbody>
</table>

<%#= will_paginate @contractortypes, class: "apple_pagination" %>