= link_to 'Все', gps_nav_transports_path(vis: 'all' ), class: "btn btn-default btn-sm #{'btn-success' if user_session[:gps_nav_transports].blank? or user_session[:gps_nav_transports] == 'all'}", remote: true 

= link_to 'Тягачи без GPS', gps_nav_transports_path(vis: 'without_gps'), class: "btn btn-default btn-sm #{'btn-success' if user_session[:gps_nav_transports] == 'without_gps'}", remote: true 
