- if @truck
  - unless @truck.chained_gps_nav_transports.any?
    = link_to new_gps_nav_transport_path(truck: @truck.id), class: 'btn btn-primary btn-xs', remote: true do
      %span.glyphicon.glyphicon-plus 
        Привязать GPS-навигатор к тягачу
  - if @gps_nav_transports.any?
    %table
      %thead
        %tr
          %th Тягач
          %th GPS-навигатор
          %th C
          %th По
          %th Редактировал
          %th 
          %th 
      %tbody
        - @gps_nav_transports.each do |gps_nav_transport|
          %tr{:class => "#{'select_green' if gps_nav_transport.chained?}"}
            %td= gps_nav_transport.transport.reg_num if gps_nav_transport.transport
            %td= gps_nav_transport.gps_nav.name if gps_nav_transport.gps_nav
            %td= gps_nav_transport.start_date
            %td= gps_nav_transport.end_date
            %td= gps_nav_transport.user.fullname if gps_nav_transport.user
            %td.edit{:title => "Редатировать"}= link_to image_tag("edit.png"), edit_gps_nav_transport_path(gps_nav_transport), remote: true if gps_nav_transport.chained?
            %td.del{:title => "Расцепить"}
              - if gps_nav_transport.chained?
                = link_to unchain_gps_nav_gps_nav_transport_path(gps_nav_transport), data: { confirm: 'Точно расцепить?' }, remote: true do
                  %span.glyphicon.glyphicon-random 
