notice('#{flash[:notice]}');
$("#show_gps_nav").html("#{j render 'show_gps_nav' }");

$("#gps_nav_buttons").html("#{j render 'gps_transport_buttons' }");
$("#index").html("#{j render 'gps_transports' }");
$(document).ready(function() {$("#gps_nav_transports").dataTable({lengthMenu: [[30, 60, 100, -1], [30, 60, 100, "Все"]], columnDefs: [{type: 'date-euro', targets: [2, 3]}] });});
$('#popup').hide();
$('#popup_content').html('');


