.row
  .col-md-8
    .panel.panel-default
      .panel-heading 
        %h2 Связки GPS-навигатор : тягач
      #index.panel-body= render 'gps_transports'

  #gps_nav_controls.col-md-4
    .well.well-sm.btn-toolbar#gps_nav_buttons
      = render 'gps_transport_buttons'

    .panel.panel-default
      .panel-heading Связка тягач-GPS
      #show_gps_nav.panel-body
        = render 'show_gps_nav'



