
<h2>Редактирование полей данного вида документа</h2>
<%= form_tag  url_for( action: 'document_attr', id: documentkind) , remote: true do %>
<table>
  <tr>
    <td><%= check_box :atttr, :series, checked: "checked"  %>&nbsp;<%= label :atttr, :series,  "Серия" %>   </td>
    <td><%= check_box :atttr, :number, checked: "checked" %>&nbsp;<%= label :atttr, :number,  "Номер" %> </td>
    <td><%= check_box :atttr, :category, checked: "checked" %>&nbsp;<%= label :atttr, :category,  "Категория" %></td>
    <td><%= check_box :atttr, :registration, checked: "checked" %>&nbsp;<%= label :atttr, :registration,  "Рег. знак" %></td>
  </tr>
  <tr>
    <td><%= check_box :atttr, :issued_by, checked: "checked" %>&nbsp;<%= label :atttr, :issued_by,  "Кем выдан" %></td>
    <td><%= check_box :atttr, :issued_date, checked: "checked" %>&nbsp;<%= label :atttr, :issued_date,  "Дата выдачи" %></td>
    <td><%= check_box :atttr, :strat_date, checked: "checked" %>&nbsp;<%= label :atttr, :strat_date,  "Начало срока действия" %></td>
    <td><%= check_box :atttr, :end_date, checked: "checked" %>&nbsp;<%= label :atttr, :end_date,  "Окончание срока действия" %></td>
  </tr>
  <tr><th><%= submit_tag "Сохранить"  %></th></tr>
</table>
<% end %>