<% if @documentkind.errors.any? %>
  <div id="error_explanation">
    <h2>Ошибок: <%= @documentkind.errors.count %></h2>

    <ul>
      <% @documentkind.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>



<%= form_for(@documentkind) do |f| %>
  <%= f.hidden_field :id, value: @documentkind.id %>
  <table>
    <tr>
      <th><%= f.label :name, "Наименование"%></th>
      <td><%= f.text_field :name %></td>
      <th><%= f.label :documenttype_id, "Тип документа" %></th>
      <td>  <%= f.collection_select( :documenttype_id, Documenttype.visible, :id, :name,
          { prompt: @documentkind.documenttype ? nil : "Выберите тип документа",
            selected: @documentkind.documenttype ? @documentkind.documenttype.id : nil}  )%>
      </td>
    </tr>
    <tr>
      <th rowspan="2"><%= f.label :descr, "Описание" %></th>
      <td rowspan="2"><%= f.text_area :descr %></td>
      <td rowspan="2">
        <%= f.label :citizenship_id, "Гражданство"%>
        <%= f.collection_select( :citizenship_id, Citizenship.visible, :id, :name,
          { selected: @documentkind.citizenship_id ? @documentkind.citizenship_id : Citizenship.visible.first.id}  )%> </td>

      <td><%= f.check_box :is_needed %><%= f.label :is_needed, "Необходим в рейсе" %></td>

    </tr>
    <tr>

      <td><%= f.check_box :is_close %><%= f.label :is_close, "Удален" %> </td>
    </tr>

  </table>
  <h2>Необходимые поля </h2>
  <%= fields_for @documentattr do |attr| %>

    <table style="table-layout: fixed">
      <tr>
        <td><%= attr.check_box :series%>&nbsp;<%= attr.label :series, "Серия" %>   </td>
        <td><%= attr.check_box :number %>&nbsp;<%= attr.label :number, "Номер" %> </td>
        <td><%= attr.check_box :category %>&nbsp;<%= attr.label  :category,  "Категория" %></td>
        <td><%= attr.check_box :registration %>&nbsp;<%= attr.label :registration,  "Рег. знак" %></td>
        <td><%= attr.check_box :issued_by %>&nbsp;<%= attr.label  :issued_by,  "Кем выдан" %></td>
        <td><%= attr.check_box :issued_date %>&nbsp;<%= attr.label  :issued_date,  "Дата выдачи" %></td>
        <td><%= attr.check_box :start_date %>&nbsp;<%= attr.label :start_date,  "Начало срока действия" %></td>
        <td><%= attr.check_box :end_date %>&nbsp;<%= attr.label  :end_date,  "Окончание срока действия" %></td>
      </tr>
    </table>
  <% end %>
  <table>
    <tr>
      <th colspan="2"><%= f.submit "Сохранить" %> <%= link_to 'Вернуться к видам документов', documentkinds_path %></th>
    </tr>
  </table>
<% end %>





