<h2>Виды документов</h2>
<%#= will_paginate @documentkinds, class: "apple_pagination" %>
<table id="documentkinds">
  <thead>
    <tr>
      <th>Тип документа</th>
      <th>Вид документа</th>
      <th>Гражданство</th>
      <th>Описание</th>
      <th>Необходим в рейсе</th>
      <th>Удален</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @documentkinds.each do |documentkind| %>
      <tr>
        <td><%= documentkind.documenttype.name if documentkind.documenttype %></td>
        <td><b><%= documentkind.name %></b></td>
        <td><%= documentkind.citizenship.name if documentkind.citizenship %></td>
        <td><%= documentkind.descr %></td>
        <td><%= documentkind.is_needed ? "Да" : "Нет" %></td>
        <td><b style="color: red;"><%= documentkind.is_close ? "Удален" : ""%></b></td>
        <td class="show1"><%= link_to image_tag("show.png"), documentkind %></td>
        <td class="edit"><%= link_to image_tag("edit.png"), edit_documentkind_path(documentkind) %></td>
        <td class="del" title="Удалить"><%= link_to image_tag("remove.png"), documentkind, method: :delete, data: { confirm: 'Точно?' } unless documentkind.is_close %></td>
      </tr>
      <% tmp = documentkind.documenttype_id %>
    <% end %>
  </tbody>
</table>
<table>
  <tr><th><%= button_to 'Новый вид документа', new_documentkind_path, method: 'get' %></th>
    <th>    <%= link_to 'К типам документов', documenttypes_path %></th></tr>
</table>

<%#= will_paginate @documentkinds, class: "apple_pagination" %>

