.container
    .col-lg-4.copy
        %p &copy; Монополия &mdash; #{Date.today.year}
    .col-lg-4
    .col-lg-4.links
        %ul.nav.nav-pills
            %li= link_to "Почта", "#"
            %li= link_to "Адреса", "#"
            %li= link_to "Вакансии", "#"