.navbar.navbar-default.navbar-static-top{:role => "navigation"}
  .container
    .login-info.label.label-primary
      - if user_signed_in?
        %span{:title => "#{current_user.email}"}= current_user.fullname
        = link_to destroy_user_session_path , method: :delete, style: "color: red", title: "выход" do
          %span.glyphicon.glyphicon-remove-circle
    .navbar-collapse.collapse
      .navbar-header
        .left_img_menu= link_to image_tag("butt_main.png"), root_path, class: 'pull-left'
        = render '/main/menu' if user_signed_in?
          


      //%form.navbar-form.navbar-right{:role => "form"}
      // .form-group
      //   %input.form-control{:placeholder => "Поиск", :type => "text"}

